<header>
    <div class="container">
        <div class="row">
            <div class="col col-md-6 logo-wrapper">
                <a href="{{ url('<front>') }}" title="Facom">
                    <img class="logo" src="/sites/facom/themes/facom/images/Logo.jpg" alt="Facom">
                </a>
                <span class="ss-titre">Solutions colles et adhésifs by COGEX</span>
            </div>
            <div class="col col-md-6 text-right align-self-end">
                <div class="menu">
                    {% if page.navigation %}
                        {{ page.navigation }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>