<header>
    <div class="inner">
        Ostaria
        <span class="toggle-menu">Menu</span>
        <div class="navigation">
            <div class="nav-inner">
                Contenu de la navigation
                {% include directory ~ '/partials/navigation.html.twig' %}
            </div>
        </div>
    </div>
</header>