<div id="ui-kit">
    <h1>Titre H1</h1>
    <h2>Titre H2</h2>
    <h3>Titre H3</h3>
    <h4>Titre H4</h4>

    <p>
        Haec et huius modi quaedam innumerabilia ultrix facinorum impiorum bonorumque praemiatrix aliquotiens operatur
        Adrastia atque utinam semper quam vocabulo duplici etiam Nemesim appellamus: ius quoddam sublime numinis efficacis,
        humanarum mentium opinione lunari circulo superpositum, vel ut definiunt alii, substantialis tutela generali
        potentia partilibus praesidens fatis, quam theologi veteres fingentes Iustitiae filiam ex abdita quadam aeternitate
        tradunt omnia despectare terrena.
    </p>

    <ul>
        <li>Lorem ipsum 1</li>
        <li>Lorem ipsum 2</li>
        <li>Lorem ipsum 3</li>
        <li>Lorem ipsum 4</li>
        <li>Lorem ipsum 5</li>
    </ul>

    <div class="d-flex colors">
        <div class="bg-color2"></div>
        <div class="bg-color1"></div>
        <div class="bg-color3"></div>
        <div class="bg-color4"></div>
    </div>

    <h1 class="color1">Lorem text color</h1>
    <h1 class="color2">Lorem text color</h1>
    <h1 class="color3">Lorem text color</h1>
    <h1 class="color4">Lorem text color</h1>

    <span class="circle-logo" style="height: 140px;width: 140px; display: inline-block"></span>
    <span class="long-logo" style="height: 135px;width: 860px; display: inline-block"></span>

</div>