<div id="page-newsletter">
    <!-- BANNER -->
    <div class="intro">
        <div class="opacity-img">
            {{ content.field_newsletter_banner_img }}
        </div>
        <div class="absolute-banner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="content-banner">
                            <div>
                                {{ content.field_newsletter_banner_txt }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOCK NEWSLETTER -->
    <div class="container-fluid custom-block">
        <div class="row">
            <div class="col">
                {{ content.field_newsletter_block }}
            </div>
        </div>
    </div>
</div>