{% if page.footer %}
    <footer class="container-fluid">
        <div class="row">
            <div class="col">
                {{ page.footer }}
            </div>
        </div>
    </footer>
{% endif %}