{% if page.navigation %}
    {#<header class="container">#}
        {#<div class="row">#}
            {#<div class="col">#}
                {#{{ page.navigation }}#}
            {#</div>#}
        {#</div>#}
    {#</header>#}
    <nav id="block-turbocar-main-menu" class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>
        <a class="navbar-brand d-inline-block d-sm-none" href="/">
            <img src="{{ url('<front>') }}sites/turbocar/themes/turbocar/images/logo-tbc.jpg" height="24">
        </a>
        {% if logged_in %}
            <a class="deco" href="/user/logout" style="display: none"> </a>
            <button class="navbar-toggler collapsed close" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% endif %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <!-- DEBUT MOBILE -->
                {% if logged_in %}
                    <li class="nav-item cta d-sm-none">
                        <a class="nav-link espace-pro" href="/catalogues">Catalogues</a>
                    </li>
                {% else %}
                    <li class="nav-item cta d-sm-none dd">
                        <a class="nav-link dd-toggle dropdown-toggle espace-pro" href="javascript:void(0)">Espace pro</a>
                        <div class="dd-menu login" style="display:none;">
                            <span class="title">Accédez aux catalogues</span>
                            <p>Pour accéder aux contenus de l'Espace Pro, merci de vous identifier.</p>

                            {{ page.loginpopup }}

                            <div class="new-account">
                                <p class="align-self-center">Vous n'avez pas d'identifiants ?</p>
                                <div class="btn-more align-self-center">
                                    <a href="/contact?objet=demande_acces" title="">
                                        Demandez des accès
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
                <!-- FIN MOBILE -->

                {{ page.navigation }}

                {% if logged_in %}
                    <li class="nav-item cta d-none d-sm-inline-block">
                        <a class="nav-link espace-pro" href="/catalogues">Catalogues</a>
                        <a class="deco" href="/user/logout">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item cta d-none d-sm-inline-block">
                        <a class="nav-link espace-pro" href="" data-toggle="modal" data-target="#login-popup">Espace pro</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endif %}