.MainNav {
  @include enable-grid();
  flex: 1;
}

.MainMenu {
  @include make-cols(8, 3);
  display: flex;
  column-gap: rem(35px);
  padding: 0;
  color: var(--white);
  list-style: none;
  margin: 0;
}

.MainMenu-item {
  display: flex;
  align-items: center;

  > a,
  > button {
    @include u-work-sans-regular;
    display: inline-block;
    position: relative;
    color: currentColor;
    font-size: rem(12px);
    text-transform: uppercase;
    text-decoration: none;

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      content: '';
      height: 1px;
      width: 100%;
      background-color: currentColor;
      transform: scaleX(0);
      transition: transform 0.3s;
    }

    &:hover,
    &:focus-visible {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &:nth-last-child(2) {
    display: flex;
    align-items: center;
    margin-left: auto;
    
    &::before {
      content: '';
      height: 1px;
      width: rem(20px);
      background-color: currentColor;
      margin-right: rem(15px);
    }
  }

  &:nth-last-child(-n+2) {
    > a {
      @include u-cormorant-regular;
      font-size: rem(16px);
      text-transform: none;
    }
  }
}

.MainMenu-btn {
  @include btn-reset;
  cursor: pointer;
}

.MainSubMenu-wpr {
  color: var(--text-color);

  @include media-breakpoint-up('md') {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: var(--alt-bg);
    color: var(--text-color);
    min-width: rem(400px);
    padding: rem(55px) rem(120px);
    transform: translateX(-100%);
    transition: transform 0.3s;

    &.is-open {
      transform: translateX(0);
    }
  }
}

.MainSubMenu {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  list-style: none;
  padding: 0;
  margin-left: rem(42px);
}

.MainSubMenu-closeBtn {
  @include media-breakpoint-up('md') {
    @include u-work-sans-regular;
    @include btn-reset;
    display: flex;
    align-items: center;
    font-size: rem(14px);
    text-transform: uppercase;
    margin-bottom: rem(30px);
    cursor: pointer;
  
    svg {
      display: block;
      height: rem(12px);
      width: rem(12px);
      fill: currentColor;
      margin-right: rem(30px);
      transition: transform 0.3s;
    }

    &:hover,
    &:focus-visible {
      svg {
        transform: translateX(rem(20px));
      }
    }
  }
}


.MainSubMenu-item {
  padding-left: rem(10px);

  &:first-child {
    font-style: italic;
    padding-left: 0;
  }

  a,
  span {
    @include u-cormorant-regular;
    position: relative;
    color: currentColor;
    font-size: rem(17px);
    text-decoration: none;

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      content: '';
      height: 1px;
      width: 100%;
      background-color: currentColor;
      transform: scaleX(0);
      transition: transform 0.3s;
    }

    &:hover,
    &:focus-visible {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
