<div class="header-wrapper">
    {# Header #}
    {% include directory ~ '/templates/partials/header.html.twig' %}
</div>

<div class="content">
    {% if page.highlighted %}
        <div class="message-site">
            {{ page.highlighted }}
        </div>
    {% endif %}
    {% if page.content %}
        {{ page.content }}
    {% endif %}
</div>

{# Newsletter #}
{% include directory ~ '/templates/partials/newsletter.html.twig' %}

{# Footer #}
{% include directory ~ '/templates/partials/footer.html.twig' %}