// Variables custom

// Media queries
@xs: 575px;
@sm: 768px;
@md: 992px;

@phone:          ~"only screen and (max-width: @{xs})";
@tablet:         ~"only screen and (max-width: @{sm})";
@desktop:        ~"only screen and (max-width: @{md})";

// Colors