// Variables custom

// Media queries
@xs: 767px;
@sm: 991px;

@phone:          ~"only screen and (max-width: @{xs})";
@tablet:         ~"only screen and (max-width: @{sm})";

// Colors
@lightMint: #47bfa8;
@mint: #5fafa7;
@darkMint: #256a63;

// Functions
.dimOpacityOnHover (@opacity) {
  transition: opacity 0.3s;
  &:hover {
    opacity: @opacity;
  }
}

.lettersColor (@color) {
  .title {
    color: @color;
    &:before, &:after {
      background: @color;
    }
  }
  p:before {
    background: @color;
  }
}