<div class="item col-auto">
    <div class="inner">
        <img src="{{ content.field_image_pdf[0] }}">
        <a href="{{  content.field_pdf[0] }}" class="presse-overlay" target="_blank">
            <div class="inner">
                <span class="title">{{ content.field_pdf_title[0] }}</span>
                <span class="date">{{ content.field_date[0] }}</span>
            </div>
            <div class="pdf-icon"></div>
        </a>
    </div>
</div>