/* VARIABLES */

@import '../bootstrap4/css/bootstrap.min.css';

/* VARIABLES */

@import 'variables';

/* RESET */

@import 'reset';

/* ALL */

* {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
}

/* TAGS */

body {
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

h1 {
  font: normal normal normal 40px/50px 'urwgrotesktbolconregular';
  text-transform: uppercase;
}

h2 {
  font: normal normal normal 27px/40px 'Myriad Pro Semibold';
  text-transform: uppercase;
}

.h1 {
  font: normal normal normal 40px/50px 'urwgrotesktbolconregular';
  text-transform: uppercase;
}

.h2 {
  font: normal normal normal 27px/40px 'Myriad Pro Semibold';
  text-transform: uppercase;
}

p, .p {
  font: normal normal normal 22px/30px 'Myriad Pro Light';

  &.bold {
    font: normal normal bold 22px/30px 'Myriad Pro Bold';
  }

  &.small {
    font: normal normal normal 18px/22px 'Myriad Pro Light';
  }
}

b {
  font-family: 'Myriad Pro Semibold';
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.picto-big { width: 100px; height: auto; }
.picto-small { width: 50px; height: auto; }

/* TOOLS */

.bg_primary, .bg_primary:hover { background-color: @primaryColor;  }
.bg_white, .bg_white:hover { background-color: #fff;  }
.bg_dark, .bg_dark:hover { background-color: #292929; }
.bg_green, .bg_green:hover { background-color: #255C50; }

.text_primary, .text_primary:hover { color: @primaryColor;  }
.text_white, .text_white:hover { color: #fff;  }
.text_dark, .text_dark:hover { color: #292929; }

.text_crossed { text-decoration: line-through; }
.text_italic { font-style: italic; }

.radius_small { border-radius: 5px; }
.radius_medium { border-radius: 10px; }
.radius_big { border-radius: 40px; }
.radius_round { border-radius: 50%; }

.shadow_down { box-shadow: 0px 0px 20px #00000029; }
.shadow_up { box-shadow: 0px -20px 20px #00000029; }

.border_white { border: 1px solid #FFF; };
.border_gray { border: 1px solid #C3C3C3; };

.round_number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
}

.border_sides_primary { border-left: 1px solid @primaryColor; border-right: 1px solid @primaryColor; }
.border_sides_white { border-left: 1px solid #fff; border-right: 1px solid #fff; }

.border_left_primary { border-left: 1px solid @primaryColor; }
.border_left_white { border-left: 1px solid #fff; }

/* BURGER */

.hamburger {
  display: none;
}

@media @mdMediaQuery {
  .hamburger {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: @primaryColor;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
      width: 30px;
      height: 2px;
      border-radius: 3px;
      background-color: #fff;
      transition: all 250ms;
      opacity: 1;
      transform: rotate(0deg);
      &:nth-child(3n-2) {}
      &:nth-child(3n-1) {
        margin: 5px 0;
      }
      &:nth-child(3n) {}
    }
    &.active {
      span {
        &:nth-child(3n-2) {
          transform: rotate(
            -45deg) translate(-5px, 5px);
        }
        &:nth-child(3n-1) {
          opacity: 0;
        }
        &:nth-child(3n) {
          transform: rotate(45deg) translate(-5px, -5px);
        }
      }
    }
  }
}

/* HEADER */

#menu {
  z-index: 1;
  position: absolute;
  top: 0; left: 0; right: 0;
  z-index: 10;
  //max-width: ~"calc(100% - 40px)";

  height: @navHeight;
  &>div { height: @navHeight; }

  nav {
    height: @navHeight;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;

      li {
        margin-left: 50px;
        a {
          position: relative;
          font-size: 24px;
          line-height: 30px;
          color: @primaryColor;
          font-family: 'Myriad Pro Semibold';
          text-transform: uppercase;

          &:after {
            content: '';
            position: absolute;
            bottom: 0; left: 0; right: 0; top: 50%;
            background-color: #fff;
            z-index: -1;
            opacity: 0;
            transition: opacity 500ms;
          }

          &.is-active:after,
          &:hover:after {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media @mdMediaQuery {

  #menu {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;

    background: rgba(255,255,255,.90);

    transition: all 500ms;
    transform: translateX(100vw);

    &.active {
      transform: translateX(0);
    }

    &>div { height: auto; }

    nav {
      height: 100vh;
      ul {
        flex-direction: column;
        justify-content: center;
        li {
          margin-left: 0;
          margin-bottom: 50px;
          a {

            &:after {
            }

            &.active:after,
            &:hover:after {

            }
          }
        }
      }
    }
  }

}

/* HEADER */

.container { max-width: 1920px; }
@media @xlMediaQuery { .container { max-width: 1400px; } }
@media @lgMediaQuery { .container { max-width: 992px; } }
@media @mdMediaQuery { .container { max-width: 768px; } }
@media @smMediaQuery { .container { max-width: 100%; } }

@media @mdMediaQuery { .row.p-5 { padding: 20px!important } }

/* FOOTER */

#footer {
  nav {
    margin-top: 50px;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      li {
        margin: 0 15px;
        a, a:hover {
          text-transform: uppercase;
          color: #fff;
          font-family: 'Myriad Pro Light';
        }
      }
    }
  }
}

@media @mdMediaQuery {

  #footer {
    nav {
      ul {
        display: block;

        li {
          margin-bottom: 20px;
          a, a:hover {

          }
        }
      }
    }
  }

}

.video_control {
  position: relative;
  /*&:before {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/sites/sitram-sarran/themes/sitramsarran/images/Pictos_Icons/Icon feather-arrow-right-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 1;
    transition: all 250ms;
  }*/
  /*&:after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-image: url('/sites/sitram-sarran/themes/sitramsarran/images/Pictos_Icons/Icon feather-arrow-right-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0;
    transition: all 250ms;
  }*/

  &.playing {
    /*&:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }*/
  }

  &.touched {
    /*&:before {
      display: none;
    }*/
  }

  video {
    width: 100%;
  }
}

/* PAGES */

/* ACCUEIL */

.home-header {

  position: relative;
  max-height: 100vh;
  position: relative;
  height: 100vh;
  background-image: url(/sites/sitram-sarran/themes/sitramsarran/images/Banniere/Michel-Sarran_HeroBG-Overlay.jpg);

  img {
    object-fit: cover;
    width: 100%;
  }

  .home-header-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    display: flex;
  }


  .home-header-left {
    display: flex;
    flex-direction: column;
    width: 30%;

    img {
      width: 50%;
      margin: 0 auto;
    }
    img.citation {
      width: 100%;
    }
    img.signature {
      width: 70%;
      margin: 25px auto;
    }
  }

  .home-header-right {
    width: 25%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media @smMediaQuery {
  .home-header {

    background-image: url(/sites/sitram-sarran/themes/sitramsarran/images/Banniere/Michel-Sarran_HeroBG-Overlay-Mobile.jpg);
    aspect-ratio: 1;
    height: auto;

    .container {
      max-width: ~"calc(100vw - 40px)";
    }

    img {}

    .home-header-info {
    }

    .home-header-left {

      position: relative;
      transform: unset;
      top: unset;
      width: 40%;

      img {}
      img.citation {}
      img.signature {}
    }

    .home-header-right {
      position: relative;
      transform: unset;
      top: unset;
      width: 40%;
    }
  }
}

#section_carrefour {
  padding-bottom: 250px!important;
  background-image: url(/sites/sitram-sarran/themes/sitramsarran/images/Pictos_Icons/Handrawn_Arrow-White.svg);
  background-position: left 75px bottom 80px;
  background-repeat: no-repeat;
  background-size: 150px auto;
  position: relative;
  &:before {
    content: '';
    width: 10px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

@media @lgMediaQuery {
  #section_carrefour {
    background-size: 75px auto;
    background-position: left 75px bottom 200px;
  }
}

@media @smMediaQuery {
  #section_carrefour {
    padding: 20px 20px 100px 20px!important;
    background-size: 60px auto;
    background-position: left 20px bottom 100px;
    .container {
      display: block!important;
      text-align: center;
      padding: 50px 0!important;
      .col-4 {
        max-width: 100%;
        display: block!important;
        &:nth-child(3n-1) {
          margin-top: 50px;
          margin-bottom: 50px;
        }
        img {
          width: 75%!important;
        }
      }
    }
  }
  #section_decouvrir {
    text-align: left!important;
    padding-top: 50px!important;
  }
  .video_control, .w-75 {
    width: 100%!important;
  }
  .steps {
    &>.d-flex {
      display: block!important;
      padding: 0;
      margin-bottom: 50px!important;
      .number {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
      }
    }
  }
}

#section_drive {
  .d-flex {
    img {

    }
  }
}

@media @smMediaQuery {
  #section_drive {
    .pl-5 {
      padding-left: 0!important;
    }
    .d-flex {
      display: block!important;

      img {
        width: 200px;
        display: block;
        margin: 0 auto 50px auto;
      }
    }
  }
}

#section_collection {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(/sites/sitram-sarran/themes/sitramsarran/images/Banniere/Michel-Sarran_HeroBG-Overlay-cropped.jpg);
    background-position: right top;
    background-size: cover;
    opacity: .1;
  }
  .owl-nav {
    position: absolute;
    left: 0; right: 0; top: 35%;
    display: flex;
    justify-content: space-between;
    button {
      img {
        width: 50px;
        height: auto;
      }
    }
  }
  .owl-dots {
    margin: 100px 0 50px 0;
    .owl-dot {
      span {
        width: 25px;
        height: 25px;
        background: #fff;
        border: 1px solid @primaryColor;
      }
      &:hover,
      &.active {
        span {
          background: @primaryColor;
          border: 1px solid @primaryColor;
        }
      }
    }
  }

  #slider_collection {
    padding: 100px 0;
  }

  #collection_discover {
    bottom: 250px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
  }
}

@media @smMediaQuery {
  #section_collection {
    h2 {
      text-align: center;
      margin-bottom: 50px;
    }
    #slider_collection {
      .d-flex {
        display: block!important;
        text-align: center!important;
      }
    }
  }
}

#section_offre {
  margin-top: -300px!important;
  position: relative;
}
@media @smMediaQuery {
  #section_offre {
    margin-top: -100px !important
  }
}

#section_store_locator {
  .image_marker {
    width: 50px;
  }
}

@media @smMediaQuery {
  #section_communaute {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
    .container {
      text-align: center;
    }
    .w-75, .w-50, .d-flex {
      width: 100%!important;
      display: block!important;
      padding: 0!important;
      align-items: flex-start!important;
      justify-content: flex-start!important;
      margin-left: 0!important;
      border: none!important;
      margin-right: 0!important;
    }
    .rs-logos {
      .d-flex:not(:first-of-type) {
        display: inline!important;
      }
      img {
        margin: 0 15px;
      }
    }
    .d-flex {
      margin-bottom: 50px!important;
      &:last-of-type {
        margin-bottom: 0px!important;
      }
    }
    .d-flex:nth-child(2n-1) {
      &>:first-of-type {
      }
    }
  }
}

@media @smMediaQuery {
  #section_communaute {
    .col-3 {
      width: 100%!important;
      max-width: 100%!important;
    }
    div {
      margin: 0!important;
    }
    img, p.bold {
      margin-bottom: 25px;
    }
    #slider_instagram {
      .owl-nav {
        position: absolute;
        left: 0; right: 0; top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        button {
          span {
            font-size: 50px;
            color: @primaryColor;
          }
        }
      }
    }
  }
}

.products {
  .product {
    h3 {
      span {
        font-size: 25px;
        font-family: "Myriad Pro Light";
      }
    }
    .price {
      font-size: 30px;
      font-style: normal;
      margin-bottom: 10px;
      display: inline-block;
    }
    .text_crossed {
      font-size: 22px;
    }
    .conseil {
      font-family: "Myriad Pro Light";
      line-height: 25px;
    }
  }
}

.product-horizontal {
  margin-bottom: 50px;
  position: relative;
  .product-horizontal-photo {
    width: 50%;
  }
  .product-horizontal-description {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: ~"calc(50% - 100px)";
    z-index: -1;
    padding-left: 125px;
    border-radius: 10px;
    border: 1px solid #C3C3C3;
    padding-right: 50px;

    .price {
      font-style: normal;
    }
  }
}

#section_sauteuse {
  .description {
    height: 250px;
  }
}

#section_ustensile {
  .description {
    height: 250px;
  }
  .container:nth-child(2n-1) {
    .description {
      height: 175px;
    }
  }
}

@media @smMediaQuery {
  #section_poeles, #section_casserole, #section_sauteuse,
  #section_faitout, #section_ustensile, #section_planche,
  #section_poivre_sel, #section_fsc {
    .d-flex {
      display: block!important;
    }
    .w-50 {
      width: 100%!important;
    }
    .container {
      display: flex!important;
      flex-direction: column;
      .col-4, .col-5, .col-2, .col-6 {
        width: 100%;
        flex: unset;
        max-width: 100%;
      }
      .border_sides_primary {
        border-top: 1px solid @primaryColor;
        border-bottom: 1px solid @primaryColor;
        border-left: unset;
        border-right: unset;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      .border_left_white {
        border-left: none;
        border-top: 1px solid #fff;
        margin: 25px 0;
        padding: 25px 0;
      }
      .border_left_primary {
        border-left: none;
        border-top: 1px solid @primaryColor;
        margin: 25px 0;
        padding: 25px 0;
      }
    }
    .cuisson_logo {
      flex-direction: row!important;
      display: flex!important;
      margin-top: 25px;
      padding: 0;
      &>div {
        width: 100%;
        flex: 1;
        padding-left: .25rem;
        padding-right: .25rem;
        img {
          width: 100%!important;
        }
      }
    }
    .description {
      height: auto!important;
      margin-bottom: 25px;
    }
    .products {
      .product {
        &:nth-child(2n) {
          margin-top: 100px;
        }
      }
    }
    .product-horizontal {
      padding-top: 0!important;
    }
    .product-horizontal-photo, .product-horizontal-description {
      position: relative;
      width: 100%;
      order: 2;
    }
    .product-horizontal-description {
      order: 1;
      left: 0;
      padding: 25px 25px 100px 25px;
    }
    .product-horizontal-photo {
      margin-top: -50px;
      .product-horizontal-photo-description {
        flex-direction: row;
        display: flex!important;
        padding: 25px;
        padding-left: 20px!important;
        padding-right: 20px!important;
        img {
          margin: 0;
          width: 75px!important;
        }
        .pl-5 {
          padding-left: 25px!important;
        }
        p {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  #section_planche {
    .picto-big {
      margin-top: 25px;
    }
  }
  #section_fsc {
    text-align: center;
    img {
      margin-bottom: 25px;
    }
    .pl-5 {
      padding-left: 0!important;
    }
  }
}
