<div class="bg-color4 newsletter-block-wrapper">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 text-color1">
                <div class="inner">
                    <h2 class="text-color2 before-line line-color2">
                        <span class="picto-mail"></span>
                        Newsletter
                    </h2>
                    <h3>Suivez notre actualité</h3>
                    <p class="mt-4 mb-5">
                        Tous les mois recevez la newsletter Merch & Cie pour être au courant de nos actualités et pour
                        ne rater aucun de nos conseils.
                    </p>
                    <div class="form">
                        <form action="">
                            <div class="row">
                                <div class="col-12 col-lg"><input class="w-100" type="text" placeholder="Nom *"></div>
                                <div class="col-12 col-lg"><input class="w-100" type="text" placeholder="Prénom *"></div>
                            </div>
                            <input class="w-100" type="text" placeholder="Société">
                            <input class="w-100" type="text" placeholder="Adresse email *">
                            <div class="row align-items-center mt-4 mb-5">
                                <div class="col-auto">
                                    <input type="checkbox">
                                </div>
                                <div class="col">
                                    <p class="choice-notice">
                                        En renseignant ces informations j’accepte de recevoir chaque mois, la lettre
                                        d’information de Merch & Cie et je confirme avoir pris connaissance de la
                                        <a href="#">politique de confidentialité</a>.
                                    </p>
                                </div>
                            </div>
                            <a href="#" class="cta bg-color2 text-white">Je m'abonne</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img class="img-fluid" src="/sites/merchcie/files/2021-03/bg_newsletter.jpg" alt="">
            </div>
        </div>
    </div>
</div>