<div class="header-mobile d-block d-lg-none">
    <a href="{{ url('<front>') }}" title="Comptoir de Famille">
        <img class="logo" src="{{ base_path }}sites/comptoirdefamille/themes/comptoirdefamille/images/header/logo_white.svg" alt="Comptoir de Famille">
    </a>
    <p>{{ 'Les émotions retrouvées'|trans }}</p>
</div>