<header>
    <div class="logo-wrapper">
        <a href="{{ url('<front>') }}" title="Comptoir de Famille">
            <img class="logo" src="{{ base_path }}sites/comptoirdefamille/themes/comptoirdefamille/images/header/logo.svg" alt="Comptoir de Famille">
        </a>
        <p>{{ 'Les émotions retrouvées'|trans }}</p>
    </div>
    <a class="navbar-toggler" href="#block-groupecargo-main-menu">
        <span class="navbar-toggler-icon">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </span>
    </a>
</header>