<div id="recherche-pdf">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Recherche de déclarations de conformité et de fiche de données de sécurité</h2>
            </div>
            <div class="col-12">
                <form id="recherchepdf-form" name="formSearch" method="post" type="POST"
                      action="{{ path('resultSearch.form', {'action': 'display'}) }}" onsubmit="return validateForm()">
                    <label for="refProduit">Saisir la référence produit :</label>
                    <input name="refProduit" placeholder="{{ 'Référence produit'|trans }}" required>
                    <br />
                    <label for="lotProduit">Saisir le lot produit :</label>
                    <input name="lotProduit" placeholder="{{ 'Lot produit'|trans }}">
                    <input name="urlRedirect" id="urlRedirect" value="" type="hidden">
                    <button type="submit">Afficher</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var pathname = window.location.pathname;
    $("#urlRedirect").attr("value",pathname);

    function validateForm() {
        var refProduit = document.forms["formSearch"]["refProduit"].value;
        if (refProduit == "") {
            alert("Veuillez saisir la référence du produit");
            return false;
        } else {
            return true;
        }
    }
</script>