<form id="recherchepdf-form" name="formSearch" action="{{ path('resultSearch.form') }}" onsubmit="return validateForm()" type="POST">
    <input name="refProduit" placeholder="{{ 'Référence produit'|trans }}" required>
    <input name="lotProduit" placeholder="{{ 'Lot produit'|trans }}" required>
    <input name="urlRedirect" id="urlRedirect" value="" type="hidden">
    <button type="submit">Télécharger</button>
</form>

<script>
    var pathname = window.location.pathname;
    $("#urlRedirect").attr("value",pathname);

    function validateForm() {
        var refProduit = document.forms["formSearch"]["refProduit"].value;
        var lotProduit = document.forms["formSearch"]["lotProduit"].value;
        if (refProduit == "" || lotProduit == "") {
            alert("Veuillez saisir la référence du produit et le lot du produit");
            return false;
        } else {
            return true;
        }
    }
</script>