<header>
    <div class="container">
        <div class="row">
            <div class="col col-auto logo-wrapper">
                <a href="{{ url('<front>') }}" title="Gers Equipement">
                    <img class="logo" width="160" src="/sites/gersequipement/themes/gersequipement/images/logo.svg" alt="Gers Equipement" />
                </a>
            </div>
            <div class="col text-right">
                <div class="menu">
                    {% if page.navigation %}
                        {{ page.navigation }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>