@import 'variables';

body {
  font-family: @MyriadRegular;
  overflow-x: hidden;
  color: @grey;
}

h1 {
  font-family: @MyriadBold;
  color: #003663;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 1;
  margin: 0;

  span {
    font-family: @Cardenio;
    text-transform: uppercase;
    font-size: 48px;
  }
}

h2 {
  font-size: 48px;
  font-family: @MyriadBold;
  margin-bottom: 3px;

  span {
    font-family: @CardenioBold;
    text-transform: uppercase;
  }
}

.bg-blue {
  background-color: @primaryColor;
}

.bg-yellow {
  background-color: #F9AB00;
}

.bg-salmon {
  background-color: #FDC2A1;
}

.bg-green {
  background-color: #005259;
}

.bg-lightgrey {
  background-color: @lightGrey;
}

.bg-verylightgrey {
  background: @veryLightGrey;
}

.pt-grey {
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 80px;
    background-color: @veryLightGrey;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.txt-bordeaux {
  color: @secondaryColor
}

.txt-blue {
  color: @primaryColor
}

.text-mea {
  color: white;

  a {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 50px;

    &:hover {
      .dimOpacityOnHover(0.8)
    }

    @media @tablet {
      padding: 15px;
    }
  }

  h3 {
    font-size: 48px;
    font-family: @MyriadSemibold;
    line-height: 1;

    span {
      font-family: @MyriadBold;
    }

    &:after {
      content: "";
      display: block;
      margin: 20px 0;
      width: 40px;
      height: 2px;
      background-color: white;
    }

    @media @tablet {
      font-size: 30px;
    }
  }

  p {
    margin: 0;
    max-width: 60%;
    line-height: 1;

    @media @tablet {
      max-width: 100%;
    }
  }

  span.fleche {
    margin-top: 40px;

    @media @tablet {
      margin-top: 15px;
    }
  }

  &.d-flex-absolute {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
  }

  &.blue {
    a {
      color: @primaryColor
    }

    h3:after {
      background-color: @primaryColor;
    }

    &,
    .fleche {
      color: @primaryColor;
    }
  }

  &.center {
    text-align: center;

    h3:after,
    p {
      margin-left: auto;
      margin-right: auto;
    }

    p {
      max-width: 75%;
    }
  }

  &.gutter-30 {
    a {
      padding: 30px;
    }
  }
}

.img-shade {
  position: relative;
  height: 100%;
  width: 100%;

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, transparent 100%);
  }

  img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @media @tablet {
    min-height: 300px;
  }
}

.box-shadow {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.recette-item .views-field-view-node a,
.fleche {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-family: @MyriadSemibold;
  color: white;
  text-decoration: none;
  vertical-align: middle;

  &:after {
    content: "\0027F6";
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    line-height: 1;
    margin-top: -4px;
    margin-left: 10px;
    transition: margin-left 0.3s ease-in-out;
  }

  &:hover:after {
    margin-left: 30px;
  }
}

.bg-img-blue {
  background: url("../images/background-blue.jpg") repeat-x top center transparent;
  background-size: auto 521px;
}

.bg-img-wood-liseret {
  background: url("../images/background-wood-liseret.jpg") repeat-x center transparent;
}

.bg-img-wood {
  background: url("../images/background-wood.jpg") repeat-x center transparent;
}

.container {
  max-width: 1416px;
}

.container,
.container-fluid {
  @gutter:8px;
  &,
  .row > div {
    padding-left: @gutter;
    padding-right: @gutter;
  }

  .row {
    margin-left: -@gutter;
    margin-right: -@gutter
  }

  &.gutter-24 {
    @gutter:24px;
    &,
    .row > div {
      padding-left: @gutter;
      padding-right: @gutter;
    }

    .row {
      margin-left: -@gutter;
      margin-right: -@gutter
    }
  }
}

.container {
  &.max-1065 {
    max-width: 1065px;
  }

  &.max-1350 {
    max-width: 1350px;
  }
}

.seo-txt {
  &.container,
  .container {
    max-width: 1065px;
  }

  .bg-white,
  .bg-grey {
    padding: 30px 0;
  }

  .bg-grey {
    background: #FAFBFC;
  }

  h1, h2, h3 {
    color: @primaryColor
  }

  h2, h3 {
    font-family: @MyriadSemibold;
  }

  h1, p, h3 {
    margin: 25px 0;
  }

  h2 {
    margin-bottom: 35px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-family: @MyriadSemibold;
    font-size: 24px;
    margin-bottom: 10px;
  }

  a {
    color: @primaryColor;
    text-decoration: underline;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  .inner-block {
    height: 100%;

    p {
      margin-top: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.block-frise-verticale {
  .inner {
    max-width: 340px;
    margin: 0 auto;
  }

  h3 {
    font-family: @MyriadSemibold;
    color: @primaryColor;
    font-size: 32px;

    & + p {
      font-family: @MyriadSemibold;
      margin-bottom: 60px;
    }
  }

  .frise {
    position: relative;
    margin: 0;

    &:after {
      content: "";
      height: calc(100% - 10px);
      width: 1px;
      background-color: @secondaryColor;
      position: absolute;
      left: -53px;
      top: 5px;
    }
  }
}

.block-white {
  background-color: white;
  padding: 32px;

  i {
    font-style: italic;
    color: @primaryColor;
    margin-bottom: 15px;
    display: inline-block;

    a {
      color: @primaryColor;
      text-decoration: underline;
    }
  }
}

.js-grid-masonry {
  margin-left: -8px;
  margin-right: -8px;

  .grid-item {
    overflow: hidden;
    padding: 0 8px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      padding: 8px 0;
    }

    @media @tablet {
      .pt-5 {
        padding-top: 0;
      }
    }
  }
}

#ban-intro {
  position: relative;
  padding-top: 45px;

  &:before {
    content: "";
    height: 285px;
    width: 100%;
    background-color: #ededed;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .ban img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    margin: 50px 0;
    line-height: 1.3;

    span {
      display: block;
    }
  }

  .text-wrapper {
    max-width: 1055px;
    margin: 0 auto;
    color: @grey;
  }
}

.inner {
  &.behind-img-left {
    position: relative;
    z-index: -1;
    padding: 64px;
    margin-left: -50px;

    p:last-child {
      margin-bottom: 0;
    }

    h3 {
      font-family: @MyriadSemibold;
      color: @primaryColor;
      font-size: 32px;
    }

    a {
      color: @primaryColor;
      text-decoration: underline;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &.box-shadow {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  }
}

.colored-slideshow {
  .item {
    padding: 60px 165px;
    margin-bottom: 90px;

    &.blue {
      background: transparent linear-gradient(32deg, #618D9F 0%, #88B0C1 100%) 0% 0% no-repeat padding-box;
    }

    &.pink {
      background: transparent linear-gradient(25deg, #E84E82 0%, #FF7CA8 100%) 0% 0% no-repeat padding-box;
    }
  }

  img {
    display: inline-block;
    margin-top: 210px;
    margin-bottom: -130px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
  }

  h3 {
    font-family: @MyriadSemibold;
    font-size: 32px;
    margin-bottom: 48px;
  }

  h4 {
    font-family: @MyriadSemibold;
    font-size: 24px;
    margin-bottom: 30px;
  }

  a {
    text-decoration: underline;
    color: white;
  }

  p {
    margin-bottom: 2rem;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 100px;
    right: 257px;
    z-index: 10;
    font-size: 0;
    height: 84px;
    width: 84px;
    border:4px solid white;
    background: transparent;
    .dimOpacityOnHover(0.8);

    &:after {
      position: absolute;
      content: "";
      height: 30px;
      width: 30px;
      border-top: 6px solid white;
      border-right: 6px solid white;
      transform-origin: center;
      transform: rotate(-135deg);
      top: 24px;
      left: 30px;
      border-radius: 2px;
    }
  }

  .slick-next {
    right: 165px;
    &:after {
      transform: rotate(45deg);
      top: 24px;
      left: 15px;
    }
  }
}