@Cardenio: "Cardenio Modern", Arial, Helvetica, sans-serif;
@CardenioBold: "Cardenio Modern Bold", Arial, Helvetica, sans-serif;
@MyriadRegular: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
@MyriadSemibold: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
@MyriadBold: "Myriad Pro Bold", Arial, Helvetica, sans-serif;

@font-face {
  font-family: 'Cardenio Modern';
  src: url('../fonts/cardeniomodern-regular-webfont.woff2') format('woff2'),
  url('../fonts/cardeniomodern-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cardenio Modern Bold';
  src: url('../fonts/cardeniomodern-bold-webfont.woff2') format('woff2'),
  url('../fonts/cardeniomodern-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}








