// Variables LESS
@import 'variables';
@import 'fonts';

//COMMON//

h1 {
  font-family: @MyriadBold;
  color: #003663;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 1;
  margin: 0;

  span {
    font-family: @Cardenio;
    text-transform: uppercase;
    font-size: 48px;
  }
}

.bg-blue {
  background-color: @primaryColor;
}

.text-mea {
  color: white;
  padding: 35px;

  a {
    color: white;
    display: block;

    &:hover {
      .dimOpacityOnHover(0.8)
    }
  }

  h3 {
    font-size: 48px;
    font-family: @MyriadSemibold;
    line-height: 1;

    span {
      font-family: @MyriadBold;
      display: block;
    }

    &:after {
      content: "";
      display: block;
      margin: 15px 0;
      width: 40px;
      height: 2px;
      background-color: white;
    }

    @media @tablet {
      font-size: 30px;
    }
  }

  p {
    margin: 0;
    max-width: 60%;
  }

  span.fleche {
    margin-top: 50px;
  }

  &.d-flex-absolute {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
  }

  &.blue {
    a {
      color: @primaryColor
    }

    h3:after {
      background-color: @primaryColor;
    }

    &,
    .fleche {
      color: @primaryColor;

      &:before {
        border-color: @primaryColor
      }

      &:after {
        background-color: @primaryColor;
      }
    }
  }
}

.img-shade {
  position: relative;

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, transparent 100%);
  }
}

.recette-item .views-field-view-node a,
.fleche {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-family: @MyriadSemibold;
  color: white;
  text-decoration: none;

  &:hover:after {
    margin-left: 50px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    height: 8px;
    width: 8px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
  }

  &:after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 37px;
    margin-left: 40px;
    background: white;
    vertical-align: middle;
    transition: margin-left 0.3s ease;
  }
}

.container {
  &.gutter-24 {
    @gutter:24px;
    &,
    .row > div {
      padding-left: @gutter;
      padding-right: @gutter;
    }

    .row {
      margin-left: -@gutter;
      margin-right: -@gutter
    }
  }
}

//HEADER//

.header-wrapper {
  header {
    box-shadow: 0 0 10px #0000000B;

    .container {
      max-width: 1400px;
    }

    .header-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;

    &:last-child {
      margin-right: 0;
    }

    li a {
      color: @grey;
      text-decoration: none;
      font-size: 16px;
      font-family: @MyriadSemibold;
      margin: 0 24px;
      line-height: 117px;
      display: inline-block;
      border-bottom: 3px solid transparent;
      transition: border-color 0.3s ease;

      &:hover {
        border-color: @primaryColor;
        color: @primaryColor;
      }
    }

    a.ou-acheter {
      display: inline-block;
      line-height: 46px;
      background-color: @secondaryColor;
      border-radius: 23px;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-family: @CardenioBold;
      font-size: 22px;
      position: relative;
      padding: 0 40px 0 65px;
      border: none;
      .dimOpacityOnHover(0.8);

      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        background: url("../images/icon-basket.svg") no-repeat center transparent;
        height: 21px;
        width: 24px;
        top: calc(50% - 12px);
        left: 25px;
      }

      &:hover {
        border-bottom: none;
        color: white;
      }
    }
  }
}

//HOMEPAGE//

#homepage {
  .slider {
    img {
      max-width: 100%;
      height: auto;
    }

    /* temp */
    .slick-arrow,
    .slick-dots {
      position: absolute;
      top: 0;
    }
  }

  & > div > .container {
    max-width: 1225px;
  }

  .content-1 {
    background: url("../images/background-wood.jpg") repeat-x center transparent;

    img {
      width: 100%;
      height: 375px;
      display: block;
      object-fit: cover;
    }

    .txt-img-under-wrapper {
      display: block;
      height: 100%;
      position: relative;

      .txt {
        position: absolute;
        bottom: 0;
        max-width: 473px;
      }

      .img-under {
        float: right;
      }
    }
  }
}

//RECETTES//

.vue-recettes.container {
  max-width: 1400px;
}

.recettes-filters {
  border: 1px solid #EDEDED;
  padding: 24px;

  .recettes-filters-title {
    font-family: @MyriadSemibold;
    font-size: 24px;
    color: @primaryColor;

    &:after {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background: @primaryColor;
      margin-top: 8px;
      margin-bottom: 24px;
    }
  }

  label:first-child {
    display: none;
  }

  input {
    width: 100%;
  }

  .form-wrapper {
    margin-bottom: 15px;

    .fieldset-legend {
      color: @grey;
      font-family: @MyriadSemibold;
      font-size: 20px;

      &:after {
        content: "";
        border-top: 2px solid @grey;
        border-right: 2px solid @grey;
        top: 20px;
        height: 11px;
        width: 11px;
        transform: rotate(-45deg);
        position: relative;
        float: right;
      }
    }

    .fieldset-wrapper {

      .form-item {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
      }

      .form-checkbox {
        height: 20px;
        width: 20px;
      }

      .option {
        padding-left: 8px;
        margin-bottom: 0;
        font-family: @MyriadRegular;
        font-size: 16px;
      }
    }
  }
}

.recette-item {
  border: 1px solid #EDEDED;

  .field-content {
    overflow: hidden;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 197px;
    transition: transform .3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  h2 {
    font-size: 16px;
    margin: 15px 0;
    padding: 0 24px;
    color: @primaryColor;
    font-family: @MyriadSemibold;
  }

  p {
    font-size: 16px;
    color: @grey;
    padding: 0 24px;
    font-family: @MyriadRegular;
  }

  .views-field-view-node a {
    color: @primaryColor;
    padding-left: 24px;
    margin-bottom: 15px;

    &:before {
      border-color: @primaryColor
    }

    &:after {
      background-color: @primaryColor;
    }
  }
}
