// Variables LESS
@import 'variables';
@import 'common';
@import 'fonts';

// HEADER //
.header-wrapper {
  header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);

    .header-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;

    &:last-child {
      margin-right: 0;
    }

    li a {
      color: @grey;
      text-decoration: none;
      font-size: 16px;
      font-family: @MyriadSemibold;
      margin: 0 24px;
      line-height: 117px;
      display: inline-block;
      border-bottom: 3px solid transparent;
      transition: border-color 0.3s ease;

      &.is-active,
      &:hover {
        border-color: @primaryColor;
        color: @primaryColor;
      }
    }

    a.ou-acheter {
      display: inline-block;
      line-height: 46px;
      background-color: @secondaryColor;
      border-radius: 23px;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-family: @CardenioBold;
      font-size: 22px;
      position: relative;
      padding: 0 40px 0 65px;
      border: none;
      .dimOpacityOnHover(0.8);

      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        background: url("../images/icon-basket.svg") no-repeat center transparent;
        height: 21px;
        width: 24px;
        top: calc(50% - 12px);
        left: 25px;
      }

      &:hover {
        border-bottom: none;
        color: white;
      }
    }
  }
}

// HOMEPAGE //
#homepage {
  .slider {
    img {
      max-width: 100%;
      height: auto;
    }

    .slick-left-arrow,
    .slick-right-arrow {
      display: none;
    }

    .slick-arrow {
      position: absolute;
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      outline: none;
      border-top: 4px solid white;
      border-right: 4px solid white;
      height: 20px;
      width: 20px;
      font-size: 0;
      cursor: pointer;

      &.slick-prev {
        left: 260px;
        margin-top: -14px;
        top: 50%;
        transform: rotate(-135deg);
        z-index: 2;
      }

      &.slick-next {
        right: 260px;
        margin-top: -14px;
        top: 50%;
        transform: rotate(45deg);
      }
    }

    .slick-dots {
      position: absolute;
      bottom: -3px;
      list-style-type: none;
      left: 0;
      right: 0;
      text-align: center;

      li {
        display: inline;

        button {
          font-size: 0;
          border: 1px solid rgba(255, 255, 255, 0.7);
          height: 8px;
          width: 8px;
          border-radius: 8px;
          padding: 0;
          margin-right: 10px;
          background: @grey;
          cursor: pointer;
          outline: none;
        }

        &.slick-active {
          button {
            background: @secondaryColor;
          }
        }
      }
    }
  }

  & > div > .container {
    max-width: 1225px;
  }

  .content-1 {
    .txt-img-under-wrapper {
      display: block;
      height: 100%;
      position: relative;

      .picto-1 {
        position: absolute;
        left: -500px;
        top: 0;
        height: 442px;
        width: 508px;
        background: url("../images/poele.png") no-repeat center transparent;
      }

      .txt {
        position: absolute;
        bottom: 0;
        max-width: 473px;
      }

      .img-under {
        float: right;
      }
    }
  }

  .content-2 {
    margin-top: 82px;

    .picto-2 {
      position: absolute;
      right: -87px;
      top: -91px;
      height: 250px;
      width: 250px;
      background: url("../images/j-aime-cuisiner.svg") no-repeat center transparent;
    }

    .text-mea a {
      padding: 0;
    }
  }

  .content-3 {
    margin-top: 97px;

    .content-3-title {
      position: relative;

      .picto-3 {
        position: absolute;
        right: -227px;
        top: -280px;
        height: 349px;
        width: 349px;
        background: url("../images/poivron.png") no-repeat center transparent;
      }
    }

    .text-mea {
      h3 {
        font-size: 32px;

        &:after {
          margin-bottom: 15px;
        }
      }

      p {
        line-height: 1;
      }
    }

    .content-3-img {
      margin: 50px auto 0 auto;
    }

    .content-3-paragraph {
      margin-top: 62px;
      margin-bottom: 72px;

      p {
        font-family: @MyriadRegular;
        color: @grey;
      }
    }
  }
}

// RECETTES //
.vue-recettes {
  &.page {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.vue-recettes.page,
.entete-recettes,
.footer-recettes {
  background-color: #FBFBFB;
}

.entete-recettes {
  &.bg-img-wood {
    background-position: top center;
    background-size: auto 280px;
  }

  p {
    max-width: 525px;
    margin: 30px auto 0;
  }
}

.footer-recettes {
  .block-txt {
    background: white;
    border: 1px solid #EDEDED;
    padding: 30px;
    margin: 16px 0;

    a {
      color: @primaryColor;
      text-decoration: underline;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.recettes-filters {
  border: 1px solid @lightGrey;
  padding: 24px;
  background-color: white;

  .recettes-filters-title {
    font-family: @MyriadSemibold;
    font-size: 24px;
    color: @primaryColor;

    &:after {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      background: @primaryColor;
      margin-top: 8px;
      margin-bottom: 24px;
    }
  }

  label:first-child {
    display: none;
  }

  input.form-text {
    width: 100%;
    margin-bottom: 15px;
  }

  .form-wrapper {
    margin-bottom: 15px;

    .fieldset-legend {
      color: @grey;
      font-family: @MyriadSemibold;
      font-size: 20px;

      &:after {
        content: "";
        border-top: 2px solid @grey;
        border-right: 2px solid @grey;
        top: 20px;
        height: 11px;
        width: 11px;
        transform: rotate(-45deg);
        position: relative;
        float: right;
      }
    }

    .fieldset-wrapper {

      .form-item {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
      }

      .form-checkbox {
        height: 20px;
        width: 20px;
      }

      .option {
        padding-left: 8px;
        margin-bottom: 0;
        font-family: @MyriadRegular;
        font-size: 16px;
      }
    }
  }

  .form-actions {
    display: none;
  }
}

.recette-item {
  border: 1px solid @lightGrey;
  background-color: white;

  .field-content {
    overflow: hidden;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 197px;
    transition: transform .3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  h2 {
    font-size: 16px;
    margin: 15px 0;
    padding: 0 24px;
    color: @primaryColor;
    font-family: @MyriadSemibold;
  }

  p {
    font-size: 16px;
    color: @grey;
    padding: 0 24px;
    font-family: @MyriadRegular;
  }

  .views-field-view-node a {
    color: @primaryColor;
    padding-left: 24px;
    margin-bottom: 15px;
  }
}

// PRODUITS - CONSEILS //
#produits,
#conseils {
  #content-1 {
    background-position: top center;
    padding-top: 95px;


    .container {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -280px;
        left: -230px;
        background: url("../images/poivronrouge.png");
        height: 355px;
        width: 367px;
      }
    }
  }

  #content-2 {
    .container {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -275px;
        right: -300px;
        background: url("../images/pdt.png");
        height: 451px;
        width: 451px;
      }
    }
  }
}

// CONSEILS //
#conseils {
  #content-1 {
    padding-top: 0;
  }

  #content-1,
  #content-2 {
    .container:before {
      display: none;
    }
  }
}

// MARQUE //
#marque {
  h1 span {
    display: block;
  }

  #content-1 {
    position: relative;

    &:before {

    }
  }
}

// SITRAM ET MOI //
#sitram-et-moi {
  position: relative;

  &:before {
    content: "";
    height: 960px;
    width: 100%;
    background-color: #ededed;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  h1 {
    margin: 70px 0 30px;
  }

  #txt {
    .txt-wrapper {
      background: #FAFBFC;

      .inner {
        max-width: 1065px;
        margin: 0 auto;
      }
    }
  }
}

// SERVICE CLIENT //
#service-client {
  .intro {
    h1 {
      margin: 60px 0 25px;
      display: inline-block;
    }

    p {
      max-width: 525px;
      margin: 30px auto;
    }

    .bg-lightgrey {
      margin: 0 -8px;
    }
  }

  .fake-height {
    min-height: 400px;

    @media (max-width: 1100px) {
      min-height: 300px;
    }
  }
}

// PRODUIT //
#produit {
  .js-grid-masonry {
    .grid-item .txt {
      background: white;
      position: absolute;
      bottom: 8px;
      left: 8px;
      padding: 12px;
      max-width: 75%;
      overflow: hidden;

      h3 {
        color: @primaryColor;
        font-size: 24px;
        font-family: @MyriadSemibold;
        line-height: 1.1;

        span {
          text-transform: uppercase;
          font-family: @MyriadBold;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  &.cocotte {
    .content-1 {
      img {
        max-width: 100%;
      }

      p {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .block-frise-verticale {
      .inner {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        max-width: 520px;
        margin: 0 0 0 55px;
      }
    }
  }
}

// FOOTER //
.footer-wrapper {
  .newsletter-wrapper {
    background-color: @secondaryColor;
    padding: 70px 100px;

    .text-mea {

      h3 {
        font-size: 32px;
      }

      span {
        display: inline;
      }
    }

    .form-newsletter {
      font-family: @MyriadRegular;
      font-size: 20px;

      label {
        display: block;
        color: white;
      }

      input {
        line-height: 59px;
        padding-left: 20px;
        width: 100%;
      }

      ::placeholder {
        color: #b9b9b9;
      }

      .form-email {
        margin-bottom: 5px;
      }

      .name-wrapper {
        margin-bottom: 40px;
      }

      .form-submit input {
        background-color: #FDC2A1;
        color: @secondaryColor;
        text-transform: uppercase;
        font-family: @MyriadBold;
        border-style: none;
        cursor: pointer;
        .dimOpacityOnHover(0.8)
      }
    }

    .js-hidden-part {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;

      &.show {
        max-height: 300px;
      }
    }
  }

  .logos-wrapper {
    background-color: @lightGrey;
    margin-top: -210px;
    padding-top: 260px;
    padding-bottom: 50px;

    .logos-list > div {
      display: inline-block;

      &.logo1 {
        height: 51px;
        width: 163px;
        background: url("../images/footer/logo-footer-sitram-marque.svg") no-repeat center transparent;
      }

      &.logo2 {
        height: 97px;
        width: 95px;
        background: url("../images/footer/logo-footer-1963.svg") no-repeat center transparent;
      }

      &.logo3 {
        height: 122px;
        width: 124px;
        background: url("../images/footer/logo-footer-service-client.svg") no-repeat center transparent;
      }

      &.logo4 {
        height: 94px;
        width: 86px;
        background: url("../images/footer/logo-footer-cuisiner.svg") no-repeat center transparent;
      }
    }
  }

  .links {
    padding: 30px 0 35px 15px;
    font-family: @MyriadSemibold;

    & > div {
      border-right: 1px solid @lightGrey;
    }

    & > div:last-child {
      border: none;
    }

    h4 {
      color: @primaryColor;
      font-size: 18px;

      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 1px;
        background-color: @primaryColor;
        margin-bottom: 3px;
      }
    }

    ul {
      margin-top: 15px;
      margin-bottom: 0;
      padding: 0;

      li {
        list-style-type: none;

        :before {
          content: "";
          height: 4px;
          width: 4px;
          background-color: @grey;
          display: inline-block;
          border-radius: 4px;
          margin-bottom: 2px;
          margin-right: 8px;
        }

        a {
          text-decoration: none;
          color: @grey;
          font-size: 16px;
        }
      }
    }

    p {
      font-size: 14px;
      line-height: 1;
      color: @grey;
      margin-top: 10px;
      margin-bottom: 0;

      a {
        text-decoration: underline;
        color: @grey;
      }
    }

    div.social1 {
      margin-bottom: 15px;
      height: 25px;
      width: 25px;
      background: url("../images/footer/facebook.svg") no-repeat center transparent;
    }

    div.social2 {
      margin-bottom: 15px;
      height: 25px;
      width: 25px;
      background: url("../images/footer/instagram.svg") no-repeat center transparent;
    }

    div.social3 {
      height: 25px;
      width: 25px;
      background: url("../images/footer/pinterest.svg") no-repeat center transparent;
    }
  }
}

.copyright {
  font-size: 12px;
  color: white;
  line-height: 30px;
  font-family: @MyriadRegular;
}

// BREADCRUMB //
.breadcrumb-sitram {
  ul {
    margin: 0;
    padding: 0;

    li {
      line-height: 70px;
      display: inline-block;
      color: #9FB2C9;

      a {
        color: @grey;

        &:after {
          content: "";
          border-top: 1px solid;
          border-right: 1px solid;
          transform: rotate(45deg);
          height: 5px;
          width: 5px;
          margin: 0 10px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}