// Variables custom

// Media queries
@very-xs: 320px;
@xs: 767px;
@sm: 991px;

@smallPhone:     ~"only screen and (max-width: @{very-xs})";
@phone:          ~"only screen and (max-width: @{xs})";
@tablet:         ~"only screen and (max-width: @{sm})";

// Functions
.dimOpacityOnHover (@opacity) {
  transition: opacity 0.3s;
  &:hover {
    opacity: @opacity;
  }
}

// Colors
@primaryColor: #003663;
@secondaryColor: #741030;
@grey: #434343;
