/* ==========================================================================
   A BIT OF EVERYTHING... BECAUSE I HATE ATOMIC DESIGN
   ========================================================================== */

// READ MORE / LESS
.js-content {
  display: none;
}

button#js-more-less {
  background: none;
  border: none;
  outline: 0;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #E30613;
  text-decoration: underline;
  padding: 0;
  font-family: 'Titillium-semi-bold', Arial, Helvetica, sans-serif;
}