<div class="cover-wrapper">
    <div class="js-link-pdf" data-toggle="modal" data-target="#pdf-modal" data-link="{{ content.field_presse_pdf[0] }}">
        {{ content.field_pressse_img }}
        <span class="txt-wrapper">
            <span>
                <span class="bg"></span>
                <span class="txt">
                    <span class="title">
                        {{ label }}
                    </span>
                    <span class="date">
                        {{ content.field_presse_date }}
                    </span>
                    <span class="pdf-icon"></span>
                </span>
            </span>
        </span>
    </div>
</div>