<div class="row">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="candidature">
                    <div class="candidature-offre" id="webform-submission-candidature-spontanee-add-form">
                        <h1>{{ data }}</h1>
                        {{ form }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>