<div class="row testimonial">
    {% if content.field_job_testimonial_img.0 %}
    <div class="col-12 col-lg-5">
        <img class="img-fluid" src="{{ content.field_job_testimonial_img.0 }}"
             alt="{{ content.field_job_testimonial_img['#items'].alt }}" />
    </div>
    <div class="col-12 col-lg-7">
    {% else %}
    <div class="col-12">
    {% endif %}
        {{ content.field_job_testimonial_txt.0 }}
    </div>
</div>