<div class="container-fluid bg-lightgrey mb-5">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row py-5">
                    <div class="col text-center">
                        {{ content.field_repar_intro }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {{ content.field_repar_table }}
        </div>
    </div>
</div>