<div class="container-fluid bg-lightgrey mb-5">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row py-5 align-items-center">
                    {{ content.field_faq_intro[0] }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 seo-txt">
            {{ content.field_faq_txt }}
        </div>
    </div>
</div>