<div id="contact">
    <!-- BANNER -->
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center intro">
                {{ content.field_contact_banner }}
            </div>
        </div>
    </div>

    <!-- INTRO -->
    <div class="container max-550 my-5">
        <div class="row">
            <div class="col text-center">
                {{ content.field_contact_intro }}
            </div>
        </div>
    </div>

    <!-- FORM -->
    <div class="container max-850 contact-form">
        <div class="row">
            <div class="col">
                {{ content.field_contact_form }}
                <span class="file-upload"></span>
            </div>
        </div>
    </div>
</div>