<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-resp-wrapper">
                <table class="reparateurs mb-5">
                    <thead>
                    <tr>
                        <td class="departement">Dpt.</td>
                        <td class="infos">Nom / Adresse / CP / Ville</td>
                        <td class="tel">Tél.</td>
                        <td class="mail-site">Mail / Site Web</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="departement">2</td>
                        <td class="infos">
                            <b>ATOM MISTER PIECE</b><br>
                            103, route de vermand<br>21000<br>ST QUENTIN
                        </td>
                        <td class="tel">03.23.64.07.39</td>
                        <td class="mail-site">
                            <a href="mailto:mistersq@wanadoo.fr">mistersq@wanadoo.fr</a><br>
                            <a href="http://www.misterpieces-stquentin.fr" target="_blank">www.misterpieces-stquentin.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">3</td>
                        <td class="infos">
                            <b>TOP PIECES MENAGE</b><br>
                            13 avenue de la république<br>3100<br>MONTLUCON
                        </td>
                        <td class="tel">04.70.28.33.31</td>
                        <td class="mail-site">
                            <a href="mailto:jpak@orange.fr">jpak@orange.fr</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">5</td>
                        <td class="infos">
                            <b>GAP DEPANNAG</b><br>
                            2, rue cheval blanc<br>5000<br>GAP
                        </td>
                        <td class="tel">04.92.52.15.33</td>
                        <td class="mail-site">
                            <a href="mailto:gap-depannages@wanadoo.fr">gap-depannages@wanadoo.fr</a><br>
                            <a href="http://www.depannage-electromenager-gap.fr" target="_blank">www.depannage-electromenager-gap.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">6</td>
                        <td class="infos">
                            <b>ELECTRO CUISIN</b><br>
                            10, rue clément roassal<br>6000<br>NICE
                        </td>
                        <td class="tel">06.93.79.48.90</td>
                        <td class="mail-site">
                            <a href="mailto:electro-cuisine@orange.fr">electro-cuisine@orange.fr</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">7</td>
                        <td class="infos">
                            <b>L'ATELIER PHILIPP</b><br>
                            2ter, avenue clément faugier<br>7000<br>PRIVAS
                        </td>
                        <td class="tel">04.75.64.61.41</td>
                        <td class="mail-site">
                            <a href="mailto:atelier.philippe07@orange.fr">atelier.philippe07@orange.fr</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">8</td>
                        <td class="infos">
                            <b>A VOT'SERVICE SAR</b><br>
                            1, rue dubois Crancé<br>8000<br>CHARLEVILLE MEZIERES
                        </td>
                        <td class="tel">03.24.33.47.85</td>
                        <td class="mail-site">
                            <a href="mailto:avotservice@orange.fr">avotservice@orange.fr</a><br>
                            <a href="https://avotservice-charlevillemezieres.site-solocal.com/" target="_blank">https://avotservice-charlevillemezieres.site-solocal.com/</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">12</td>
                        <td class="infos"><b>AVEYRON SERVICE MENAGER</b><br>38, avenue de la Gineste<br>12000<br>RODEZ</td>
                        <td class="tel">05.65.68.47.19</td>
                        <td class="mail-site">
                            <a href="mailto:aveyronservicemenager@wanadoo.fr">aveyronservicemenager@wanadoo.fr</a><br>
                            <a href="https://www.facebook.com/Aveyron-service-menager-2261123250829615/" target="_blank">https://www.facebook.com/Aveyron-service-menager-2261123250829615/</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">13</td>
                        <td class="infos"><b>TECHNIC MENAGER SARL CYRANO</b><br>6, rue granon<br>13004<br>MARSEILLE</td>
                        <td class="tel">04.91.70.43.33</td>
                        <td class="mail-site">
                            <a href="mailto:contact@technicmenager.com">contact@technicmenager.com</a><br>
                            <a href="http://www.technicmenager.com" target="_blank">www.technicmenager.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">13</td>
                        <td class="infos"><b>AIX SERVICES MENAGERS ST LOUIS SERVICE</b><br>11, rue blaise cendras, ZUP<br>13090<br>AIX
                            EN
                            PROVENCE
                        </td>
                        <td class="tel">04.42.59.46.68</td>
                        <td class="mail-site">
                            <a href="mailto:asm10@orange.fr">asm10@orange.fr</a><br>
                            <a href="https://www.aixservicesmenagers.com/" target="_blank">https://www.aixservicesmenagers.com/</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">17</td>
                        <td class="infos"><b>C.T.E.R</b><br>ZI du plessis - 21, rue maurice ravel<br>17000<br>LA ROCHELLE</td>
                        <td class="tel">05.46.27.16.93</td>
                        <td class="mail-site">
                            <a href="mailto:cter17@wanadoo.fr">cter17@wanadoo.fr</a><br>
                            <a href="https://www.cter.fr/" target="_blank">https://www.cter.fr/</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">17</td>
                        <td class="infos"><b>R.E.M</b><br>63, bd guillet maillet<br>17100<br>SAINTES</td>
                        <td class="tel">05.46.74.59.71</td>
                        <td class="mail-site">
                            <a href="mailto:rem17@wanadoo.fr">rem17@wanadoo.fr</a><br>
                            <a href="https://etsrem.site-solocal.com/" target="_blank">https://etsrem.site-solocal.com/</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">19</td>
                        <td class="infos"><b>ELECTRO SERVICE 19</b><br>55, avenue pierre semard<br>19100<br>BRIVE</td>
                        <td class="tel">05.55.87.21.90</td>
                        <td class="mail-site">
                            <a href="mailto:electroservices19@bbox.fr">electroservices19@bbox.fr</a><br>
                            <a href="http://www.electro-services19.com" target="_blank">www.electro-services19.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">22</td>
                        <td class="infos"><b>DRM SERVICE</b><br>10, rue jules verne<br>22360<br>LANGUEUX</td>
                        <td class="tel">02.96.52.42.32</td>
                        <td class="mail-site">
                            <a href="mailto:drm. service@wanadoo.fr">drm. service@wanadoo.fr</a><br>
                            <a href="http://www.drm-service-22.com" target="_blank">www.drm-service-22.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">24</td>
                        <td class="infos"></t<b>2AM-ASSISTANCE AUDIOVISUEL ET MéNAGER</b><br>4, rue de la prairie<br>24430<br>MARSAC SUR
                            L'ISLE
                        </td>
                        <td class="tel">05.53.04.23.23</td>
                        <td class="mail-site">
                            <a href="mailto:2am-24@wanadoo.fr">2am-24@wanadoo.fr</a><br>
                            <a href="http://www.assistance-audiovisuel-menager.com" target="_blank">www.assistance-audiovisuel-menager.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">25</td>
                        <td class="infos"><b>S.A.V 25</b><br>15, avenue de montrapon<br>25000<br>BESANCON</td>
                        <td class="tel">09.78.08.08.89</td>
                        <td class="mail-site">
                            <a href="mailto:sav-25@wanadoo.fr">sav-25@wanadoo.fr</a><br>
                            <a href="http://www.sav25.fr" target="_blank">www.sav25.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">27</td>
                        <td class="infos"><b>MAINTENANCE MENAGER 27</b><br>3, rue des champs<br>27950<br>ST MARCEL</td>
                        <td class="tel">02.32.71.10.04</td>
                        <td class="mail-site">
                            <a href="mailto:maintenance.menager@wanadoo.fr">maintenance.menager@wanadoo.fr</a><br>
                            <a href="https://maintenancemenager27.site-solocal.com" target="_blank">https://maintenancemenager27.site-solocal.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">28</td>
                        <td class="infos"><b>MENAGER SERVICE 28</b><br>2, rue georges charpak<br>28300<br>MAINVILLIERS</td>
                        <td class="tel">02.37.21.75.72</td>
                        <td class="mail-site">
                            <a href="mailto:menagerservice28@gmail.com">menagerservice28@gmail.com</a><br>
                            <a href="https://www.depannage-electromenager-chartres.fr" target="_blank">https://www.depannage-electromenager-chartres.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">29</td>
                        <td class="infos"><b>ETS CARDOSO</b><br>3, rue du cosquer<br>29000<br>QUIMPER</td>
                        <td class="tel">02.98.55.71.50</td>
                        <td class="mail-site">
                            <a href="mailto:sarlcardoso@bbox.fr">sarlcardoso@bbox.fr</a><br>
                            <a href="https://sarl-cardoso-shop.fr" target="_blank">https://sarl-cardoso-shop.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">29</td>
                        <td class="infos"><b>FLASH SERVICE</b><br>28, rue du professeur langevin<br>29200<br>BREST</td>
                        <td class="tel">02.98.47.37.02</td>
                        <td class="mail-site">
                            <a href="mailto:flash.service@wanadoo.fr">flash.service@wanadoo.fr</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">30</td>
                        <td class="infos"><b>ATELIER DU SAV</b><br>4, rue du Vignau<br>30190<br>BRIGNON</td>
                        <td class="tel">06.66.62.20.84</td>
                        <td class="mail-site">
                            <a href="mailto:contact@atelierdusav.fr">contact@atelierdusav.fr</a><br>
                            <a href="http://www.atelierdusav.fr" target="_blank">http://www.atelierdusav.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">33</td>
                        <td class="infos"><b>ADAM DEPANNAGE</b><br>6, avenue la pointe zone actipolis II<br>33610<br>CANEJAN</td>
                        <td class="tel">05.56.07.35.85</td>
                        <td class="mail-site">
                            <a href="mailto:contact@adamdepannage.fr">contact@adamdepannage.fr</a><br>
                            <a href="http://www.adamdepannage.fr" target="_blank">www.adamdepannage.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">34</td>
                        <td class="infos"><b>SERVERO</b><br>EcoParc Zac St antoine - 175 rue de la garriguette<br>34130<br>ST AUNES</td>
                        <td class="tel">04.67.79.85.50</td>
                        <td class="mail-site">
                            <a href="mailto:serveroatelier@gmail.com">serveroatelier@gmail.com</a><br>
                            <a href="https://servero.fr" target="_blank">https://servero.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">35</td>
                        <td class="infos"><b>ETS MAIGNE SARL</b><br>71, Bd de strasbourg<br>35000<br>RENNES</td>
                        <td class="tel">02.99.38.57.44</td>
                        <td class="mail-site">
                            <a href="mailto:Thierry.maigne@wanadoo.fr">Thierry.maigne@wanadoo.fr</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">35</td>
                        <td class="infos"><b>CLINIC'ELECTROMECA MENAGER</b><br>Zac des logettes - 10 b, rue du manège<br>35135<br>CHANTEPIE
                        </td>
                        <td class="tel">02.99.50.95.28</td>
                        <td class="mail-site">
                            <a href="mailto:clinic35@orange.fr">clinic35@orange.fr</a><br>
                            <a href="http://www.clinicelectromenager.com" target="_blank">http://www.clinicelectromenager.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">35</td>
                        <td class="infos"><b>CELTIC MENAGER</b><br>27, rue des Antilles<br>35400<br>SAINT MALO</td>
                        <td class="tel">02.99.81.73.64</td>
                        <td class="mail-site">
                            <a href="mailto:celtic.distrib@wanadoo.fr">celtic.distrib@wanadoo.fr</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">37</td>
                        <td class="infos"><b>M.T.V.SERVICE</b><br>3, place rouget de l'lsle<br>37000<br>TOURS</td>
                        <td class="tel">02.47.38.51.18</td>
                        <td class="mail-site">
                            <a href="mailto:mtvservice@free.fr">mtvservice@free.fr</a><br>
                            <a href="https://mtv-service.pagesperso-orange.fr"
                               target="_blank">https://mtv-service.pagesperso-orange.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">37</td>
                        <td class="infos"><b>DEPANNING</b><br>57 bis, avenue victor laloux - Zac des brossereaux<br>37270<br>MONTLOUIS
                            SUR
                            LOIRE
                        </td>
                        <td class="tel">02.47.54.77.26</td>
                        <td class="mail-site">
                            <a href="mailto:contact@depanning.fr">contact@depanning.fr</a><br>
                            <a href="http://www.depanning.fr" target="_blank">www.depanning.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">37</td>
                        <td class="infos"><b>EUROPIECES</b><br>32, avenue Jacques Duclos<br>37700<br>ST PIERRE DES CORPS</td>
                        <td class="tel">02.47.44.25.25</td>
                        <td class="mail-site">
                            <a href="mailto:contact@europieces.com">contact@europieces.com</a><br>
                            <a href="http://www.europieces.com" target="_blank">http://www.europieces.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">38</td>
                        <td class="infos"><b>MENA ISERES SERVICE</b><br>9, rue marcel Chabloz<br>38400<br>ST MARTIN D'HERES</td>
                        <td class="tel">04.76.54.72.22</td>
                        <td class="mail-site">
                            <a href="mailto:mena.isere@orange.fr">mena.isere@orange.fr</a><br>
                            <a href="https://www.miss-pieces.com/" target="_blank">https://www.miss-pieces.com/</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">40</td>
                        <td class="infos"><b>DEPLAND</b><br>82, rue Etienne Dive<br>40000<br>MONT DE MARSAN</td>
                        <td class="tel">05 58 45 00 54</td>
                        <td class="mail-site">
                            <a href="mailto:contact@depland.fr">contact@depland.fr</a><br>
                            <a href="http://www.depland-services.fr" target="_blank">http://www.depland-services.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">41</td>
                        <td class="infos"><b>BLOIS DEPANNAGE SARL ELIONA</b><br>130, rue de la Fédération<br>41350<br>ST GERVAIS LA
                            FORET
                        </td>
                        <td class="tel">02.54.78.33.18</td>
                        <td class="mail-site">
                            <a href="mailto:bloisdepannage@orange.fr">bloisdepannage@orange.fr</a><br>
                            <a href="http://www.blois-depannage.fr" target="_blank">www.blois-depannage.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">42</td>
                        <td class="infos"><b>L.M.S+ SARL</b><br>128bis, rue Bergson<br>42000<br>ST ETIENNE</td>
                        <td class="tel">04.77.74.75.14</td>
                        <td class="mail-site">
                            <a href="mailto:loire.menager.service@wanadoo.fr">loire.menager.service@wanadoo.fr</a><br>
                            <a href="http://www.loire-menager.service.fr" target="_blank">www.loire-menager.service.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">44</td>
                        <td class="infos"><b>EUROPIECES</b><br>296, route de vannes<br>44700<br>ORVAULT</td>
                        <td class="tel">02.40.94.81.81</td>
                        <td class="mail-site">
                            <a href="mailto:contact44@europieces.com">contact44@europieces.com</a><br>
                            <a href="http://www.europieces.com" target="_blank">www.europieces.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">44</td>
                        <td class="infos"><b>CSA OUEST</b><br>Ccial des Thebaudiéres<br>44800<br>ST HERBLAIN</td>
                        <td class="tel">02.40.94.84.30</td>
                        <td class="mail-site">
                            <a href="mailto:contact@csa-ouest.fr">contact@csa-ouest.fr</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">45</td>
                        <td class="infos"><b>ROUSSEAU SERVICE</b><br>90, route de sandillon<br>45650<br>ST JEAN LE BLANC</td>
                        <td class="tel">02.38.51.10.81</td>
                        <td class="mail-site">
                            <a href="mailto:rousseau.services@wanadoo.fr">rousseau.services@wanadoo.fr</a><br>
                            <a href="http://www.rousseau-services.fr/" target="_blank">http://www.rousseau-services.fr/</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">47</td>
                        <td class="infos"><b>AQUITHERM</b><br>10B, avenue de Fumel<br>47300<br>VILLENEUVE SUR LOT</td>
                        <td class="tel">05.53.41.14.56</td>
                        <td class="mail-site">
                            <a href="mailto:contact@aqui-therm.com">contact@aqui-therm.com</a><br>
                            <a href="https://aquitherm.fr/" target="_blank">https://aquitherm.fr/</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">47</td>
                        <td class="infos"><b>ACE SARL</b><br>9 rue de la poste - Zac de rigoulet<br>47550<br>BOE</td>
                        <td class="tel">05.53.48.12.40</td>
                        <td class="mail-site">
                            <a href="mailto:ace@electromenager-agen.fr">ace@electromenager-agen.fr</a><br>
                            <a href="http://www.electromenager-agen.fr" target="_blank">www.electromenager-agen.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">49</td>
                        <td class="infos"><b>ECLAIR DEPANNAGE</b><br>41, rue du mail<br>49100<br>ANGERS</td>
                        <td class="tel">02.41.88.86.86</td>
                        <td class="mail-site">
                            <a href="mailto:ecladep@wanadoo.fr">ecladep@wanadoo.fr</a><br>
                            <a href="http://www.eclair-depannage.com" target="_blank">www.eclair-depannage.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">50</td>
                        <td class="infos"><b>TOP DEPANNE SARL</b><br>10, rue alsace lorraine<br>50180<br>AGNEAUX</td>
                        <td class="tel">02.33.05.16.20</td>
                        <td class="mail-site">
                            <a href="mailto:top.depann@cegetel.net">top.depann@cegetel.net</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">51</td>
                        <td class="infos"><b>SOCIETE A.T.R.</b><br>3, avenue ampère<br>51000<br>CHALONS EN CHAMPAGNE</td>
                        <td class="tel">03.26.26.20.72</td>
                        <td class="mail-site">
                            <a href="mailto:atelierhatat@aol.com">atelierhatat@aol.com</a><br>
                            <a href="https://www.atr-chalons.net/" target="_blank">https://www.atr-chalons.net/</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">51</td>
                        <td class="infos"><b>SAV EUROPE SARL</b><br>9, place jean moulin<br>51000<br>REIMS</td>
                        <td class="tel">03.26.02.36.25</td>
                        <td class="mail-site">
                            <a href="mailto:sav.europe@wanadoo.fr">sav.europe@wanadoo.fr</a><br>
                            <a href="http://www.sav-europe.fr" target="_blank">http://www.sav-europe.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">51</td>
                        <td class="infos"><b>ATELIER ELECTROMENAGER HATAT</b><br>18, rue pierre maitre<br>51100<br>REIMS</td>
                        <td class="tel">03.26.47.91.14</td>
                        <td class="mail-site">
                            <a href="mailto:atr.chalons@wanadoo.fr">atr.chalons@wanadoo.fr</a><br>
                            <a href="https://www.electro-hatat-thierus.fr" target="_blank">https://www.electro-hatat-thierus.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">53</td>
                        <td class="infos"><b>ELECTRO MENAGER SERVICE</b><br>7, rue albert thomas<br>53000<br>LAVAL</td>
                        <td class="tel">02.43.66.14.75</td>
                        <td class="mail-site">
                            <a href="mailto:electro.menager.service@wanadoo.fr">electro.menager.service@wanadoo.fr</a><br>
                            <a href="http://electromenagerservice.fr" target="_blank">http://electromenagerservice.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">54</td>
                        <td class="infos"><b>REPAR'2000</b><br>14, rue de l'armée patton<br>54000<br>NANCY</td>
                        <td class="tel">03.83.27.64.17</td>
                        <td class="mail-site">
                            <a href="mailto:repar-2000@wanadoo.fr">repar-2000@wanadoo.fr</a><br>

                        </td>
                    </tr>
                    <tr>
                        <td class="departement">59</td>
                        <td class="infos"><b>ATOM</b><br>62, rue Louis-Petit - ZA des Pierres blanches<br>59220<br>DENAIN</td>
                        <td class="tel">03.27.31.88.64</td>
                        <td class="mail-site">
                            <a href="mailto:sav@atom-sa.fr">sav@atom-sa.fr</a><br>
                            <a href="http://www.atom-sa.fr" target="_blank">www.atom-sa.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">59</td>
                        <td class="infos"><b>ATOM ML-ACTICLUB</b><br>ZI de la pilaterie - Rue des champs - Bat G -
                            L'acticlub<br>59290<br>WASQUEHAL
                        </td>
                        <td class="tel">03.20.99.99.20</td>
                        <td class="mail-site">
                            <a href="mailto:wasquehal@atom-sa.fr">wasquehal@atom-sa.fr</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">59</td>
                        <td class="infos"><b>ATOM</b><br>345, bd breguet - parking E leclerq<br>59500<br>DOUAI</td>
                        <td class="tel">03.27.98.80.80</td>
                        <td class="mail-site">
                            <a href="mailto:atomdo@wanadoo.fr">atomdo@wanadoo.fr</a><br>
                            <a href="http://www.atom-sa.fr" target="_blank">www.atom-sa.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">59</td>
                        <td class="infos"><b>ATOM</b><br>97, rue Henri Durre - BP113<br>59590<br>RAISMES</td>
                        <td class="tel">03.27.45.82.82</td>
                        <td class="mail-site">
                            <a href="mailto:comptoirraismes@wanadoo.fr">comptoirraismes@wanadoo.fr</a><br>
                            <a href="http://www.atom-sa.fr" target="_blank">www.atom-sa.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">59</td>
                        <td class="infos"><b>MISTER PIECES ATOM</b><br>57, rue du 145é Régiment d'Infanterie<br>59600<br>MAUBEUGE</td>
                        <td class="tel">03.27.58.17.77</td>
                        <td class="mail-site">
                            <a href="mailto:mister-m@wanadoo.fr">mister-m@wanadoo.fr</a><br>
                            <a href="http://www.atom-sa.fr" target="_blank">www.atom-sa.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">62</td>
                        <td class="infos"><b>ATOM</b><br>47, rue de l'Egalité<br>62000<br>ARRAS</td>
                        <td class="tel">03.21.22.33.55</td>
                        <td class="mail-site">
                            <a href="mailto:atoma@wanadoo.fr">atoma@wanadoo.fr</a><br>
                            <a href="http://www.atom-sa.fr" target="_blank">www.atom-sa.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">62</td>
                        <td class="infos"><b>QUINCAILLERIE DEREGNAUCOURT</b><br>26, Place d'Armes<br>62100<br>CALAIS</td>
                        <td class="tel">03.21.34.31.62</td>
                        <td class="mail-site">
                            <a href="mailto:quincaillerie.mf@gmail.com">quincaillerie.mf@gmail.com</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">62</td>
                        <td class="infos"><b>ATOM LA BOUTIQUE DU SAV</b><br>324, route de lilles<br>62300<br>LENS</td>
                        <td class="tel">03.21.13.08.70</td>
                        <td class="mail-site">
                            <a href="mailto:lens@atom-sa.fr">lens@atom-sa.fr</a><br>
                            <a href="http://www.atom-sa.fr" target="_blank">www.atom-sa.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">63</td>
                        <td class="infos"><b>REYNEWAETER Chambas SARL</b><br>17, rue de Néron<br>63650<br>LA MONNERIE LE MONTEL</td>
                        <td class="tel">04.73.51.42.03</td>
                        <td class="mail-site">
                            <a href="mailto:reynewaeter-chambas@wanadoo.fr">reynewaeter-chambas@wanadoo.fr</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">64</td>
                        <td class="infos"><b>SAVE-ME ELECTROMENAGER</b><br>ZI les Pontots - 4, rue de l'industrie<br>64600<br>ANGLET
                        </td>
                        <td class="tel">05.59.42.70.70</td>
                        <td class="mail-site">
                            <a href="mailto:depannage@saveme.fr">depannage@saveme.fr</a><br>
                            <a href="http://www.saveme.fr" target="_blank">www.saveme.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">65</td>
                        <td class="infos"><b>BIGORRE MENAGER SERVICE</b><br>4, Bd Pierre Renaudet<br>65000<br>TARBES</td>
                        <td class="tel">05.62.36.41.73</td>
                        <td class="mail-site">
                            <a href="mailto:contact.bms65@gmail.com">contact.bms65@gmail.com</a><br>
                            <a href="http://www.bms65.com" target="_blank">www.bms65.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">67</td>
                        <td class="infos"><b>DIBLING SERVICE</b><br>4, rue Ettore Bugatti<br>67201<br>ECKBOLSHEIM</td>
                        <td class="tel">03.88.34.41.16</td>
                        <td class="mail-site">
                            <a href="mailto:dibling@club-internet.fr">dibling@club-internet.fr</a><br>
                            <a href="http://www.dibling-service.fr" target="_blank">www.dibling-service.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">67</td>
                        <td class="infos"><b>E.M.R SARL</b><br>11, rue Desaix<br>67450<br>MUNDOLSHEIM</td>
                        <td class="tel">03.88.81.88.88</td>
                        <td class="mail-site">
                            <a href="mailto:adv@emr-france.com">adv@emr-france.com</a><br>
                            <a href="http://www.emr-france.com" target="_blank">www.emr-france.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">68</td>
                        <td class="infos"><b>MENAGER SERVICE SARL</b><br>165, avenue Aristide Briand<br>68200<br>MULHOUSE</td>
                        <td class="tel">03.89.43.41.31</td>
                        <td class="mail-site">
                            <a href="mailto:contact@menagerservices.fr">contact@menagerservices.fr</a><br>
                            <a href="http://www.menagerservices.com" target="_blank">www.menagerservices.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">69</td>
                        <td class="infos"><b>D.P.M.</b><br>45, quai docteur gailleton<br>69002<br>LYON</td>
                        <td class="tel">04.78.42.74.92</td>
                        <td class="mail-site">
                            <a href="mailto:dpm@hotmail.fr">dpm@hotmail.fr</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">70</td>
                        <td class="infos"><b>RAPID ELECTRO</b><br>6, rue des tanneurs<br>70000<br>VESOUL</td>
                        <td class="tel">03.84.76.72.18</td>
                        <td class="mail-site">
                            <a href="mailto:rapidvesoul@free.fr">rapidvesoul@free.fr</a><br>
                            <a href="https://www.rapid-electro-reparation-70.fr"
                               target="_blank">https://www.rapid-electro-reparation-70.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">71</td>
                        <td class="infos"><b>DPM</b><br>68, rue de strasbourg<br>71000<br>MACON</td>
                        <td class="tel">03.85.38.90.39</td>
                        <td class="mail-site">
                            <a href="mailto:dpmmacon@yahoo.fr">dpmmacon@yahoo.fr</a><br>
                            <a href="https://dpmmacon.com" target="_blank">https://dpmmacon.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">72</td>
                        <td class="infos"><b>GP DEPANNAGE</b><br>85, avenue de la Libération<br>72000<br>LE MANS</td>
                        <td class="tel">02.43.28.09.47</td>
                        <td class="mail-site">
                            <a href="mailto:alice.csa.gp@orange.fr">alice.csa.gp@orange.fr</a><br>
                            <a href="http://www.electromenager-gondet.com" target="_blank">www.electromenager-gondet.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">73</td>
                        <td class="infos"><b>CLINIQUE MENAGER</b><br>Centre commercial Galion - Rue du Bolliet<br>73000<br>BASSENS</td>
                        <td class="tel">04.79.33.36.39</td>
                        <td class="mail-site">
                            <a href="mailto:clinique.menager73@wanadoo.fr">clinique.menager73@wanadoo.fr</a><br>
                            <a href="http://www.clinique-menager.com" target="_blank">www.clinique-menager.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">76</td>
                        <td class="infos"><b>PAM NORMANDIE</b><br>8, rue malouet<br>76100<br>ROUEN</td>
                        <td class="tel">02 27 08 01 48</td>
                        <td class="mail-site">
                            <a href="mailto:pam.normandie@wanadoo.fr">pam.normandie@wanadoo.fr</a><br>
                            <a href="http://www.pamnormandie.fr" target="_blank">www.pamnormandie.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">78</td>
                        <td class="infos"><b>ETS ROUGE SARL RAMBAUD</b><br>50, route du Vesinet<br>78400<br>CHATOU</td>
                        <td class="tel">01.30.71.46.22</td>
                        <td class="mail-site">
                            <a href="mailto:olivier.rambaud5@wanadoo.fr">olivier.rambaud5@wanadoo.fr</a><br>
                            <a href="https://www.facebook.com/pages/category/Local-Service/ETS-ROUGE-Rambaud-331736973905965"
                               target="_blank">https://www.facebook.com/pages/category/Local-Service/ETS-ROUGE-Rambaud-331736973905965</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">81</td>
                        <td class="infos"><b>PAYET TMS</b><br>26, rue Sabaterie<br>81100<br>CASTRES</td>
                        <td class="tel">05.63.59.68.13</td>
                        <td class="mail-site">
                            <a href="mailto:jeandavid.payet@wanadoo.fr">jeandavid.payet@wanadoo.fr</a><br>
                            <a href="https://tms-payet.business.site" target="_blank">https://tms-payet.business.site</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">81</td>
                        <td class="infos"><b>PAYET TMS</b><br>32, rue Edouard Barbey<br>81200<br>MAZAMET</td>
                        <td class="tel">05.63.61.07.14</td>
                        <td class="mail-site">
                            <a href="mailto:jeandavid.payet@wanadoo.fr">jeandavid.payet@wanadoo.fr</a><br>
                            <a href="https://tms-payet.business.site" target="_blank">https://tms-payet.business.site</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">82</td>
                        <td class="infos"><b>CENTRE SERVICE REPARATION 82</b><br>139 Quai Adolphe Poult<br>82000<br>MONTAUBAN</td>
                        <td class="tel">05.63.63.12.03</td>
                        <td class="mail-site">
                            <a href="mailto:sav@csr82.fr">sav@csr82.fr</a><br>
                            <a href="http://www.crs82.fr" target="_blank">www.crs82.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">83</td>
                        <td class="infos"><b>CLINIQUE MENAGER</b><br>337, Route Nationale 97<br>83130<br>LA GARDE</td>
                        <td class="tel">04.94.21.23.23</td>
                        <td class="mail-site">
                            <a href="mailto:sav@cliniquemenager.com">sav@cliniquemenager.com</a><br>
                            <a href="https://www.clinique-menager.fr" target="_blank">https://www.clinique-menager.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">86</td>
                        <td class="infos"><b>ATELIER DU MENAGER</b><br>7, rue denis papin<br>86000<br>POITIERS</td>
                        <td class="tel">05.49.61.12.70</td>
                        <td class="mail-site">
                            <a href="mailto:brunsarah@bbox.fr">brunsarah@bbox.fr</a><br>
                            <a href="https://www.atelierdumenager.com" target="_blank">https://www.atelierdumenager.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">87</td>
                        <td class="infos"><b>BAUM TECHNIC SARL</b><br>10, Bd de la Cité<br>87000<br>LIMOGES</td>
                        <td class="tel">05.55.33.53.08</td>
                        <td class="mail-site">
                            <a href="mailto:baumtechnic@wanadoo.fr">baumtechnic@wanadoo.fr</a><br>
                            <a href="https://www.baumtechnic.fr" target="_blank">https://www.baumtechnic.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">87</td>
                        <td class="infos"><b>ATR</b><br>5, rue des fourneries - ZI nord Limoges Buxerolles<br>87270<br>COUZEIX</td>
                        <td class="tel">05.55.79.78.79</td>
                        <td class="mail-site">
                            <a href="mailto:interventions@atr-limousin.com">interventions@atr-limousin.com</a><br>
                            <a href="https://www.atr-limousin.fr" target="_blank">https://www.atr-limousin.fr</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">88</td>
                        <td class="infos"><b>RAPID ELECTRO</b><br>20, rue du Canton<br>88200<br>REMIREMONT</td>
                        <td class="tel">03.29.23.21.05</td>
                        <td class="mail-site">
                            <a href="mailto:rapidelectro@free.fr">rapidelectro@free.fr</a><br>
                            <a href="" target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="departement">90</td>
                        <td class="infos"><b>MENAGER 90</b><br>82, avenue Jean Jaures<br>90000<br>BELFORT</td>
                        <td class="tel">09.83.36.10.03</td>
                        <td class="mail-site">
                            <a href="mailto:menager90@bbox.fr">menager90@bbox.fr</a><br>
                            <a href="https://www.menager90.fr" target="_blank">https://www.menager90.fr</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>