<div id="conseils-indiv" class="entretien">
    <div class="container max-1350">
        <!-- CONTENT 2 -->
        <div class="row mt-lg-5 mb-lg-4 content-2">
            <div class="col-12">
                <span class="number yellow">2</span>
                <div class="pt-115 pl-85">
                    <h2 class="txt-yellow">
                        Les différents type de revêtements intérieurs
                    </h2>
                    <p>
                        Proposés dans différents matériaux, certains de nos ustensiles de cuisson peuvent être équipés
                        d’un revêtement extérieur : un revêtement anti-adhésif pour un entretien facilité, un revêtement
                        en émail pour plus de brillance et d’éclat, ou encore un revêtement en peinture, à l’aspect
                        brillant ou mat. Mais lorsque l’on évoque les caractéristiques particulières d’un ustensile
                        revêtu, on s’intéresse plutôt à son revêtement intérieur.
                    </p>

                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3 my-3 my-lg-0">
                            <h4 class="txt-blue">Revêtements Anti-adhésif</h4>
                            <div class="rate-info-wrapper yellow">
                                <div class="item">
                                    <div>Anti-adhérant</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Résistance aux rayures</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Nettoyage</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Saisie des aliments</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Utilisation <br class="d-none d-lg-block"/> matière grasse</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 my-3 my-lg-0">
                            <h4 class="txt-blue">Céramique</h4>
                            <div class="rate-info-wrapper green">
                                <div class="item">
                                    <div>Anti-adhérant</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Résistance aux rayures</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Nettoyage</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Saisie des aliments</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Utilisation <br class="d-none d-lg-block"/> matière grasse</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 my-3 my-lg-0">
                            <h4 class="txt-blue">Inoxydable</h4>
                            <div class="rate-info-wrapper red row4">
                                <div class="item">
                                    <div>Résistance aux rayures</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Nettoyage</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Saisie des aliments</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Utilisation <br class="d-none d-lg-block"/> matière grasse</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 my-3 my-lg-0">
                            <h4 class="txt-blue">Émail</h4>
                            <div class="rate-info-wrapper blue">
                                <div class="item">
                                    <div>Anti-adhérant</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Résistance aux rayures</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Nettoyage</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Saisie des aliments</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div>Utilisation <br class="d-none d-lg-block"/> matière grasse</div>
                                    <div>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>