<!-- CONTENT 1 -->
<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="homepage-slider">
      <div class="homepage-hero">
        {{ content.field_hp_hero }}
      </div>
      <div class="homepage-hero">
        {{ content.field_hp_hero2 }}
      </div>
    </div>
    <div class="homepage-title">
      {{ content.field_hp_title }}
    </div>
  </div>
</div>

