<div id="contact">
    <div class="header-wrapper"
         style="background: url({{ content.field_contact_ban|render|striptags|trim|raw }}) no-repeat center / cover transparent">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                {{ content.field_contact_form }}
            </div>
        </div>
    </div>
</div>