<div class="container">
    <div class="row products">
        <div class="col">
            <p class="info-covid">À très vite dans nos magasins c'est deux euros !</p>
        </div>
    </div>
</div>
