<div class="container">
    <div class="row products">
        <div class="col">
            <p class="info-covid">On se retrouve très bientôt dans nos magasins c'est deux euros pour découvrir les arrivages de la semaine.</p>
        </div>
    </div>
</div>
