<div class="header-wrapper">
    <!-- Header -->
    {% include directory ~ '/templates/partials/header.html.twig' %}
</div>

<div class="main-content">
    {% if page.highlighted %}
        <div class="message-site">
            {{ page.highlighted }}
        </div>
    {% endif %}

    {% if page.content %}
        {{ page.content }}
    {% endif %}
</div>

<div class="footer-wrapper">
    <!-- Footer -->
    {% include directory ~ '/templates/partials/footer.html.twig' %}
</div>

{% if page.popup_newsletter %}
    {{ page.popup_newsletter }}
{% endif %}