{#
/**
* @file
* Search location block
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div id="js-store-locator" class="storelocator-search">
    <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/store-locator/ban-storelocator.jpg" alt="">
    <div class="wrapper">
        <h1>Nos magasins<br>C'est deux euros<br>près de chez vous</h1>
        <div class="d-flex inputs-wrapper">
            <div class="search">
                <input
                        name="search-string"
                        placeholder="Indiquez une ville"
                        class="js-search-input"
                        id="js-search-input"
                        value="{{ query }}"
                >
                <input
                        name="preloaded-search-string"
                        type="hidden"
                        id="js-preloaded"
                        value="{{ query }}"
                >
                <button id="js-search-button"></button>
            </div>
            <div class="locate-me" id="js-search-around">
                <button>Me localiser</button>
            </div>
            <div style="display: none">
                <input name="search-radius" id="js-search-radius" type="hidden" value="{{ searchFormDefaultRadius }}">

                <input name="offset-radius" type="hidden" id="js-offset-radius" value="0">
            </div>
            <input name="search-geolocation" id="js-search-geolocation" type="hidden">
            <input name="store-detail-path" id="js-store-detail-path" type="hidden">
        </div>
    </div>
</div>

<div id="js-ajax-response">
    <div class="store-locator-notice">
        {{ drupal_entity('block_content', '10') }}
    </div>
</div>

<div class="show-more-wrapper">
    <a href="#" id="js-show-more" style="display: none;">Afficher plus de magasins</a>
</div>