// Config : Colors variables
// =========================
//

// Debug
// ------
// background color debugging ftw
/* stylelint-disable */
$p: peachpuff !default;
$r: rebeccapurple !default;
$l: lightgreen !default;
/* stylelint-enable */

// Colors list
// -----------
// List all colors right here
// Variables named using "Name that color" (http://chir.ag/projects/name-that-color/)

:root {
  --white: #ffffff;
  --black: #000000;
  --pampas: #efebe8;

  // main colors
  --body-bg: var(--white);
  --text-color: var(--black);

  // Backgrounds
  --alt-bg: var(var(--pampas));

  // Message colors
  --alert: #d90000;
  --valid: #309630;
  --warning: #fca846;
}
