[nvs-animation-delay="0"] {
  animation-delay: 0ms;
}
[nvs-animation-delay="50"] {
  animation-delay: 50ms;
}
[nvs-animation-delay="100"] {
  animation-delay: 100ms;
}
[nvs-animation-delay="150"] {
  animation-delay: 150ms;
}
[nvs-animation-delay="200"] {
  animation-delay: 200ms;
}
[nvs-animation-delay="250"] {
  animation-delay: 250ms;
}
[nvs-animation-delay="300"] {
  animation-delay: 300ms;
}
[nvs-animation-delay="350"] {
  animation-delay: 350ms;
}
[nvs-animation-delay="400"] {
  animation-delay: 400ms;
}
[nvs-animation-delay="450"] {
  animation-delay: 450ms;
}
[nvs-animation-delay="500"] {
  animation-delay: 500ms;
}
[nvs-animation-delay="550"] {
  animation-delay: 550ms;
}
[nvs-animation-delay="600"] {
  animation-delay: 600ms;
}
[nvs-animation-delay="700"] {
  animation-delay: 700ms;
}
[nvs-animation-delay="800"] {
  animation-delay: 800ms;
}
[nvs-animation-delay="900"] {
  animation-delay: 900ms;
}
[nvs-animation-delay="1000"] {
  animation-delay: 1000ms;
}
[nvs-animation-delay="1100"] {
  animation-delay: 1100ms;
}
[nvs-animation-delay="1200"] {
  animation-delay: 1200ms;
}
[nvs-animation-delay="1300"] {
  animation-delay: 1300ms;
}
[nvs-animation-delay="1400"] {
  animation-delay: 1400ms;
}
[nvs-animation-delay="1500"] {
  animation-delay: 1500ms;
}
[nvs-animation-delay="1600"] {
  animation-delay: 1600ms;
}
[nvs-animation-delay="1700"] {
  animation-delay: 1700ms;
}
[nvs-animation-delay="1800"] {
  animation-delay: 1800ms;
}
[nvs-animation-delay="1900"] {
  animation-delay: 1900ms;
}
[nvs-animation-delay="2000"] {
  animation-delay: 2000ms;
}
@media (min-width: 768px) {
  [nvs-animation-type] {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  [nvs-animation-type] {
    animation: none !important;
    transform: none !important;
    transition-property: none !important;
    visibility: visible !important;
  }
}
.animated {
  visibility: visible;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.in-left {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.in-left-menu {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1.3s;
  animation-delay: 0.8s;
}
.in-right {
  animation-name: fadeInRight;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.in-bottom {
  animation-name: fadeInBottom;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.fade-in {
  animation-name: fadeIn;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  src: local('Heebo Light'), local('Heebo-Light'), url(https://fonts.gstatic.com/s/heebo/v3/NGS3v5_NC0k9P9ldb6RMkKs.ttf) format('truetype');
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local('Heebo'), local('Heebo-Regular'), url(https://fonts.gstatic.com/s/heebo/v3/NGS6v5_NC0k9P9H2TbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: local('Heebo Medium'), local('Heebo-Medium'), url(https://fonts.gstatic.com/s/heebo/v3/NGS3v5_NC0k9P9kFbqRMkKs.ttf) format('truetype');
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: local('Heebo Bold'), local('Heebo-Bold'), url(https://fonts.gstatic.com/s/heebo/v3/NGS3v5_NC0k9P9lNaKRMkKs.ttf) format('truetype');
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  src: local('Heebo ExtraBold'), local('Heebo-ExtraBold'), url(https://fonts.gstatic.com/s/heebo/v3/NGS3v5_NC0k9P9lRa6RMkKs.ttf) format('truetype');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral Regular'), local('Spectral-Regular'), url(https://fonts.gstatic.com/s/spectral/v5/rnCr-xNNww_2s0amA9M5kn0.ttf) format('truetype');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  src: local('Spectral SemiBold'), local('Spectral-SemiBold'), url(https://fonts.gstatic.com/s/spectral/v5/rnCs-xNNww_2s0amA9vmtm3BafM.ttf) format('truetype');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: local('Spectral Bold'), local('Spectral-Bold'), url(https://fonts.gstatic.com/s/spectral/v5/rnCs-xNNww_2s0amA9uCt23BafM.ttf) format('truetype');
}
body {
  padding-top: 80px;
  color: #232323;
}
@media only screen and (max-width: 991px) {
  body {
    padding-top: 65px;
  }
}
.adminimal-admin-toolbar:not(.path-admin) {
  padding-top: 160px !important;
}
.adminimal-admin-toolbar:not(.path-admin) #header-wrapper {
  margin-top: 79px;
}
.adminimal-admin-toolbar:not(.path-admin) #page-container {
  min-height: calc(100vh - 160px);
}
body {
  font-family: 'Heebo', sans-serif;
}
#page-container {
  min-height: calc(100vh - 80px);
  position: relative;
}
@media only screen and (max-width: 991px) {
  #page-container {
    min-height: calc(100vh - 65px);
  }
}
#page-container #content-wrap {
  padding-bottom: 116px;
}
#page-container #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 80px;
  width: 100%;
  line-height: 80px;
  background: white;
  z-index: 10;
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  transition: max-height 0.5s;
}
@media only screen and (max-width: 991px) {
  #header-wrapper {
    max-height: inherit;
    line-height: inherit;
    padding: 15px;
  }
}
#header-wrapper.menu-hover {
  max-height: 500px;
}
#header-wrapper header {
  display: inline-block;
  float: left;
}
#header-wrapper header .logo {
  transition: opacity 0.3s;
}
#header-wrapper header .logo:hover {
  opacity: 0.7;
}
#header-wrapper nav > ul {
  font-size: 0;
  padding: 0;
  margin-bottom: 0;
}
#header-wrapper nav > ul li {
  display: inline-block;
  width: 160px;
  margin: 0 15px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  vertical-align: top;
}
@media (min-width: 992px) and (max-width: 1200px) {
  #header-wrapper nav > ul li {
    width: 125px;
  }
}
#header-wrapper nav > ul li:first-child {
  margin-left: 0;
}
#header-wrapper nav > ul li:last-child {
  margin-right: 0;
}
#header-wrapper nav > ul li a {
  color: black;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  position: relative;
  transition: color 0.3s;
}
#header-wrapper nav > ul li a:after {
  content: "";
  height: 1px;
  background-color: #d2d2d2;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 20px;
  transition: all 0.3s;
}
#header-wrapper nav > ul li a:hover {
  color: #4cbfc6;
}
#header-wrapper nav > ul li a:hover:after {
  background-color: #4cbfc6;
  height: 2px;
}
#header-wrapper nav > ul li > ul {
  padding: 10px 0;
  line-height: 1.6;
  text-transform: none;
}
#header-wrapper nav > ul li > ul > li {
  margin: 5px 0;
  width: auto;
  display: block;
}
#header-wrapper nav > ul li > ul > li:first-child {
  margin-top: 0;
}
#header-wrapper nav > ul li > ul > li > a {
  font-weight: 400;
}
#header-wrapper nav > ul li > ul > li > a:hover {
  text-decoration: underline;
}
#header-wrapper nav > ul li > ul > li > a:after {
  display: none;
}
#header-wrapper .navbar-toggler {
  position: absolute;
  top: 9px;
  right: 20px;
  outline: none !important;
  padding: 0;
  transition: opacity 0.3s;
}
#header-wrapper .navbar-toggler:hover {
  opacity: 0.8;
}
#header-wrapper .navbar-toggler .navbar-toggler-icon {
  width: 25px;
}
#header-wrapper .navbar-toggler .navbar-toggler-icon > span {
  height: 3px;
  background: black;
  width: 100%;
  display: block;
  margin-top: 5px;
  transition: all 0.3s;
}
#header-wrapper .navbar-toggler .navbar-toggler-icon > span:first-child {
  margin-top: 0;
}
#header-wrapper .navbar-toggler.is-active .navbar-toggler-icon span {
  background-color: #5c8099;
}
#header-wrapper .navbar-toggler.is-active .navbar-toggler-icon span.top {
  transform: rotate(45deg);
  margin-top: 5px;
}
#header-wrapper .navbar-toggler.is-active .navbar-toggler-icon span.middle {
  opacity: 0;
}
#header-wrapper .navbar-toggler.is-active .navbar-toggler-icon span.bottom {
  transform: rotate(-45deg);
  margin-top: -11px;
}
#mm-block-groupecargo-main-menu {
  top: 66px;
  z-index: 20;
  box-shadow: 10px 11px 10px #00000030;
}
footer {
  background-color: #232323;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 70px;
  display: block;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 15px;
  z-index: 1;
}
footer.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
  list-style: none;
  min-width: 160px;
  position: relative;
  text-align: left;
  margin-right: 30px;
  transition: opacity 0.3s;
}
footer ul li:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 991px) {
  footer ul li {
    min-width: inherit;
  }
}
@media only screen and (max-width: 767px) {
  footer ul li {
    margin: 0 15px;
    float: left;
    width: calc(50% - 30px);
  }
}
footer ul li:last-child {
  margin-right: 0;
}
footer ul li:after {
  content: "";
  height: 1px;
  width: 100%;
  background: white;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 0;
}
footer ul li a {
  color: white;
  display: block;
  font-weight: 700;
  font-size: 13px;
  position: relative;
}
footer ul li a:hover {
  color: white;
  text-decoration: none;
}
footer ul li a.linkedin {
  padding-left: 30px;
}
footer ul li a.linkedin:before {
  background: url("../images/footer/picto_linkedin.png") no-repeat center transparent;
  height: 18px;
  width: 19px;
  content: "";
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
}
.full-width-bg {
  margin-left: -15px;
  margin-right: -15px;
  height: 540px;
  position: relative;
  overflow: hidden;
  background: #232323;
}
@media only screen and (max-width: 767px) {
  .full-width-bg {
    height: auto;
  }
}
.full-width-bg h1 {
  font-family: 'Spectral', serif;;
  color: white;
  font-size: 48px;
  margin-bottom: 15px;
  font-weight: 600;
  padding-top: 150px;
  margin-top: -150px;
}
@media only screen and (max-width: 767px) {
  .full-width-bg h1 {
    font-size: 30px;
  }
}
.full-width-bg .imgs-bg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.full-width-bg .imgs-bg > div {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  position: absolute;
  opacity: 0;
  transition: opacity 3s;
}
.full-width-bg .imgs-bg > div.current {
  opacity: 1;
}
.full-width-bg .imgs-bg > div:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #00000060;
}
.full-width-bg .block-text {
  margin-top: 40px;
  max-width: 765px;
}
@media only screen and (max-width: 767px) {
  .full-width-bg .block-text {
    margin-top: 15px;
    padding-bottom: 15px;
  }
}
.full-width-bg .block-text .col > div {
  padding: 25px;
  max-width: 540px;
}
@media only screen and (max-width: 767px) {
  .full-width-bg .block-text .col > div {
    padding: 15px;
  }
}
.full-width-bg .block-text .block {
  font-size: 13px;
  font-weight: 500;
}
.full-width-bg .block-text .block.bg-black {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
.full-width-bg .block-text .block.bg-white {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.full-width-bg .block-text .block.txt-right {
  margin-left: 190px;
}
@media only screen and (max-width: 767px) {
  .full-width-bg .block-text .block.txt-right {
    margin-top: 15px;
    margin-left: 0;
  }
}
.breadcrumb {
  background: #000;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
  border-radius: 0;
}
.breadcrumb > .container {
  padding: 0;
}
.breadcrumb > .container span:before {
  content: "";
  background: url("../images/breadcrumbs/arrow_breadcrumbs.png") no-repeat center transparent;
  height: 7px;
  width: 23px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
}
p.bordered-left {
  border-left: 1px solid #d2d2d2;
  padding-left: 20px;
  color: #80807f;
  font-size: 14px;
  max-width: 790px;
}
.content h2 {
  font-family: 'Spectral', serif;;
  font-size: 23px;
  color: #232323;
  font-weight: 600;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 10px;
  margin-bottom: 30px;
  padding-top: 100px;
  margin-top: -70px;
}
.content .double img:first-child {
  margin-bottom: 30px;
}
.img-holder {
  margin-top: 25px;
}
@media only screen and (max-width: 991px) {
  .img-holder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .img-holder .double img {
    height: calc(50% - 15px);
  }
}
@media only screen and (max-width: 767px) {
  .img-holder > div {
    margin: 15px 0;
  }
  .img-holder > div:first-child:not(.order-2),
  .img-holder > div.order-sm-2 {
    margin-top: 0;
  }
  .img-holder > div:last-child,
  .img-holder > div.order-2 {
    margin-bottom: 0;
  }
}
.list-keyword {
  padding: 0;
  margin-top: -10px;
}
.list-keyword li {
  display: inline-block;
  color: #d7ab26;
  font-family: 'Heebo', sans-serif;
  list-style: none;
}
.list-keyword li h3 {
  font-size: 14px;
  padding: 0 15px;
  border-right: 1px solid #d7ab26;
  margin: 0;
  text-transform: uppercase;
}
.list-keyword li:first-child h3 {
  padding-left: 0;
}
.list-keyword li:last-child h3 {
  border-right: none;
  padding-right: 0;
}
#homepage-video-wrapper {
  height: 540px;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  overflow: hidden;
}
#homepage-video-wrapper #homepage-video {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}
#homepage-video-wrapper .content {
  display: block;
  margin: 110px auto auto;
  width: 530px;
  z-index: 1;
  text-align: center;
}
#homepage-video-wrapper .content h1 {
  display: block;
  color: black;
  padding: 20px;
  background: #ffffff90;
  font-family: 'Spectral', serif;;
  font-size: 24px;
  line-height: 1.3;
  text-align: left;
}
#homepage-video-wrapper .content a.button {
  background: #4cbfc6;
  border: none;
  outline: none;
  padding: 10px 60px;
  font-size: 14px;
  color: white;
  display: inline-block;
  cursor: pointer;
  transition: opacity 0.3s;
}
#homepage-video-wrapper .content a.button:hover {
  opacity: 0.8;
}
#homepage-video-wrapper .content a.button:hover {
  text-decoration: none;
}
#homepage .txt-intro {
  max-width: 730px;
  margin: 10px 0 15px;
}
#homepage .galery .row > div {
  position: relative;
  min-height: 255px;
  margin-bottom: 30px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  #homepage .galery .row > div {
    min-height: 210px;
  }
}
@media only screen and (max-width: 991px) {
  #homepage .galery .row > div {
    min-width: 285px;
  }
}
#homepage .galery .row > div img {
  position: absolute;
  top: 0;
  left: 15px;
  max-width: calc(100% - 30px);
}
#homepage .galery .block-txt {
  display: flex;
}
#homepage .galery .block-txt > div {
  margin: auto;
  position: relative;
}
#homepage .galery .block-txt ul,
#homepage .galery .block-txt li {
  padding: 0;
  margin: 0;
  text-align: center;
}
#homepage .galery .block-txt li {
  font-family: 'Spectral', serif;;
  font-size: 18px;
  list-style: none;
  font-weight: 600;
  line-height: 2.3;
  transition: all 1s;
}
@media (max-width: 1024px) {
  #homepage .galery .block-txt li {
    font-size: 15px;
    line-height: 2;
  }
}
#homepage .galery .block-txt li.highlight {
  color: #4cbfc6;
  font-size: 24px;
}
@media (max-width: 1024px) {
  #homepage .galery .block-txt li.highlight {
    font-size: 21px;
  }
}
@keyframes txt_grow {
  from {
    font-size: 18px;
    color: black;
  }
  to {
    color: #d7ab26;
    font-size: 24px;
  }
}
#homepage .galery .block-txt .corner {
  position: absolute;
  height: 35px;
  width: 35px;
  display: block;
}
#homepage .galery .block-txt .corner.topleft {
  top: 0;
  left: 15px;
  border-top: 1px solid #4cbfc6;
  border-left: 1px solid #4cbfc6;
}
#homepage .galery .block-txt .corner.topright {
  top: 0;
  right: 15px;
  border-top: 1px solid #4cbfc6;
  border-right: 1px solid #4cbfc6;
}
#homepage .galery .block-txt .corner.bottomleft {
  bottom: 0;
  left: 15px;
  border-bottom: 1px solid #4cbfc6;
  border-left: 1px solid #4cbfc6;
}
#homepage .galery .block-txt .corner.bottomright {
  bottom: 0;
  right: 15px;
  border-bottom: 1px solid #4cbfc6;
  border-right: 1px solid #4cbfc6;
}
#homepage .block-bottom {
  margin-top: 50px;
}
@media only screen and (max-width: 991px) {
  #homepage .block-bottom .row > div {
    margin-bottom: 30px;
  }
}
#homepage .block-bottom .inner {
  min-height: 400px;
  color: white;
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.6) inset;
  padding: 50px;
  margin-bottom: 30px;
  font-size: 14px;
  transition: box-shadow 1s;
  background-size: cover !important;
}
@media only screen and (max-width: 991px) {
  #homepage .block-bottom .inner {
    min-width: inherit;
    min-height: inherit;
    padding: 15px;
    height: 100%;
    margin-bottom: 0;
  }
}
#homepage .block-bottom .inner:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.8) inset;
}
#homepage .block-bottom .inner h2 {
  font-family: 'Spectral', serif;;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 15px;
}
#homepage .block-bottom .inner p {
  font-weight: 500;
}
#homepage .block-bottom .inner ul {
  padding-left: 15px;
  line-height: 1.8;
  display: inline-block;
  margin: 0;
}
#homepage .block-bottom .inner ul.double {
  margin-left: 40px;
}
@media only screen and (max-width: 991px) {
  #homepage .block-bottom .inner ul.double {
    margin-left: 20px;
  }
}
#homepage .block-bottom .inner ul li {
  transition: color 0.3s;
}
#homepage .block-bottom .inner ul li:hover {
  color: #4cbfc6;
}
#homepage .block-bottom .inner ul a {
  color: white;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.3s;
}
#homepage .block-bottom .inner ul a:hover {
  color: #4cbfc6;
}
#homepage .gallery-logo ul {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  box-shadow: inset 20px 0 20px -20px rgba(0, 0, 0, 0.08), inset -20px 0 20px -20px rgba(0, 0, 0, 0.08);
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  margin-top: 15px;
  padding: 0;
}
#homepage .gallery-logo li {
  display: inline-block;
  position: relative;
  z-index: -1;
}
#homepage .gallery-logo li:after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #c8c8c8;
}
#homepage .gallery-logo li img {
  margin: 0 50px;
}
#qsn .content .part1 h2 {
  margin-bottom: 0;
}
#qsn .content .part1 .imgs-wrapper > div {
  border-right: 1px solid #d2d2d2;
  margin: 30px 0;
  position: relative;
  min-height: 200px;
  display: flex;
}
#qsn .content .part1 .imgs-wrapper > div:nth-child(2) {
  border-right: none;
}
#qsn .content .part1 .imgs-wrapper > div:last-child {
  border: none;
}
#qsn .content .part1 .imgs-wrapper > div:nth-child(3):after,
#qsn .content .part1 .imgs-wrapper > div:nth-child(4):after,
#qsn .content .part1 .imgs-wrapper > div:nth-child(5):after {
  content: "";
  height: 1px;
  background-color: #d2d2d2;
  width: calc(100% - 60px);
  position: absolute;
  top: -30px;
  left: 30px;
}
@media only screen and (max-width: 991px) {
  #qsn .content .part1 .imgs-wrapper > div:nth-child(2),
  #qsn .content .part1 .imgs-wrapper > div:nth-child(5) {
    border-right: none;
  }
}
@media only screen and (max-width: 767px) {
  #qsn .content .part1 .imgs-wrapper > div {
    border-right: none !important;
    min-height: inherit;
    padding: 15px 0;
  }
  #qsn .content .part1 .imgs-wrapper > div:after {
    content: "";
    height: 1px;
    background-color: #d2d2d2;
    width: calc(100% - 60px);
    position: absolute;
    bottom: -30px;
    left: 30px;
    top: inherit !important;
  }
  #qsn .content .part1 .imgs-wrapper > div:last-child:after {
    display: none;
  }
}
#qsn .content .part1 .imgs-wrapper > div img {
  margin: auto;
}
#qsn .content .part2 .inner {
  text-align: center;
}
#qsn .content .part2 .inner img {
  margin-bottom: 15px;
}
#qsn .content .part3 {
  margin-bottom: 30px;
}
#qsn .content .part3 h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 20px;
}
#qsn .content .part3 .img-wrapper {
  display: flex;
}
#qsn .content .part3 .img-wrapper img {
  margin: auto;
}
@media only screen and (max-width: 767px) {
  #qsn .content .part3 .img-wrapper img {
    margin-bottom: 30px;
  }
}
#qsn .content .part3 p a {
  color: #d7ab26;
  font-weight: 500;
  transition: opacity 0.3s;
}
#qsn .content .part3 p a:hover {
  opacity: 0.8;
}
#qsn .content .part3 p a:hover {
  text-decoration: none;
}
#qsn .content .part3 a.cta {
  background-color: #4cbfc6;
  color: white;
  font-weight: 500;
  padding: 10px 60px;
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  transition: opacity 0.3s;
}
#qsn .content .part3 a.cta:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 767px) {
  #qsn .content .part3 a.cta {
    width: 100%;
    text-align: center;
  }
}
#qsn .content .part3 a.cta:hover {
  text-decoration: none;
}
#qsn .content .part4 {
  margin: 50px 0;
}
#qsn .content .part4 a {
  padding: 8.8rem 0;
  display: block;
  text-align: center;
  background: #343434;
  font-family: 'Spectral', serif;;
  font-size: 23px;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s;
}
#qsn .content .part4 a:hover {
  opacity: 0.8;
}
#qsn .content .part4 a span {
  border: 1px solid white;
  padding: 1.5rem 4.5rem;
}
#qsn .content .part4 a.lightgrey {
  background: #efefef;
}
#qsn .content .part4 a.lightgrey span {
  color: #343434;
  border-color: #343434;
}
@media only screen and (max-width: 767px) {
  #qsn .content .part4 a {
    margin-bottom: 15px;
  }
}
.marches p {
  color: #80807f;
  font-size: 14px;
  max-width: 790px;
}
.marches img {
  filter: grayscale(100%);
  transition: filter 1s;
}
.marches img:hover {
  filter: grayscale(0);
}
.jobs-bg-img {
  padding-top: 70px;
  background: url("../images/metiers/metier_bg.jpg") no-repeat top center transparent;
}
#jobs .navigation .inner {
  background: white;
  padding: 25px 40px;
  height: 100%;
  position: fixed;
  z-index: 0;
}
#jobs .navigation .inner span {
  font-size: 18px;
  font-family: 'Spectral', serif;;
  color: #80807f;
  font-weight: 600;
}
#jobs .navigation .inner ul {
  margin: 0;
  padding: 0;
}
#jobs .navigation .inner ul li {
  list-style: none;
}
#jobs .navigation .inner ul li a {
  font-size: 18px;
  font-family: 'Spectral', serif;;
  text-decoration: none;
  color: black;
  font-weight: 600;
  line-height: 1.8;
  transition: all 0.3s;
}
#jobs .navigation .inner ul li a:hover {
  opacity: 0.5;
}
#jobs .navigation .inner ul li a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  width: 35px;
  background: black;
  margin-right: 10px;
  margin-top: -2px;
  transition: all 0.3s;
}
#jobs .navigation .inner ul li a.current {
  color: #d7ab26;
}
#jobs .navigation .inner ul li a.current:hover {
  opacity: 1;
}
#jobs .navigation .inner ul li a.current:before {
  background: #d7ab26;
  height: 2px;
  margin-top: -3px;
}
#jobs .content .inner {
  color: white;
  position: relative;
  min-height: 540px;
}
#jobs .content .inner .job {
  display: none;
  width: 100%;
  padding: 25px 50px 50px;
  background: #232323;
}
#jobs .content .inner .job.intro {
  display: block;
  padding: 20px 25px;
  font-size: 14px;
  font-weight: 500;
  max-width: 525px;
  background: #0000009c;
  margin: 115px 0 0 40px;
}
#jobs .content .inner .job .cross-close {
  color: #f7e2a1;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}
#jobs .content .inner .job .cross-close:hover {
  opacity: 0.8;
}
#jobs .content .inner .job h1 {
  font-family: 'Spectral', serif;;
  font-size: 18px;
  color: #f7e2a1;
  font-weight: 600;
}
#jobs .content .inner .job h1:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  width: 35px;
  background: #f7e2a1;
  margin-right: 10px;
  margin-top: -2px;
}
#jobs .content .inner .job p {
  font-family: 'Spectral', serif;;
  font-size: 18px;
  color: #d2d2d2;
}
#jobs .content .inner .job span {
  font-size: 14px;
  font-weight: 500;
}
#jobs .content .inner .job ul {
  padding-left: 18px;
  margin-top: 15px;
}
#jobs .content .inner .job ul li {
  font-size: 14px;
  font-weight: 500;
  color: #d2d2d2;
  text-transform: uppercase;
  line-height: 1.8;
}
#jobs .content .inner .job .cta a {
  color: #232323;
  background: #f7e2a1;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  margin: 5px 0 15px;
  display: inline-block;
  transition: opacity 0.3s;
}
#jobs .content .inner .job .cta a:hover {
  opacity: 0.8;
}
#jobs .content .inner .job .testimonial {
  font-size: 18px;
}
#jobs .content .inner .job .testimonial .top-title {
  margin: 15px 0;
  display: block;
}
#jobs .content .inner .job .testimonial img {
  border: 2px solid white;
}
#jobs .content .inner .job .testimonial h3 {
  font-family: 'Spectral', serif;;
  font-size: 18px;
  color: #f7e2a1;
}
#jobs .content .inner .job .testimonial h3:before {
  content: "";
  height: 1px;
  width: 35px;
  background: #f7e2a1;
  display: block;
  margin: 15px 0;
}
#jobs .content .inner .job .testimonial .question {
  color: white;
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 15px 0;
}
#jobs .content .inner .job .testimonial .reponse {
  font-family: 'Spectral', serif;;
  font-size: 14px;
  font-style: italic;
}
#jobs .content .inner .job .more-content {
  display: block;
}
#jobs .content .inner .job .js-read-more {
  color: #f7e2a1;
  display: block;
  cursor: pointer;
  transition: opacity 0.3s;
}
#jobs .content .inner .job .js-read-more:hover {
  opacity: 0.6;
}
#jobs .content .inner .job .js-read-more > span {
  font-weight: 600;
}
#jobs .content .inner .job .js-read-more.opened .js-more {
  display: none;
}
#jobs .content .inner .job .js-read-more.opened .js-less {
  display: inline-block !important;
}
#webform-submission-candidature-spontanee-add-form {
  max-width: 920px;
  margin: 35px auto 0;
}
#webform-submission-candidature-spontanee-add-form .form-item {
  position: relative;
}
#webform-submission-candidature-spontanee-add-form .form-item input,
#webform-submission-candidature-spontanee-add-form .form-item textarea {
  width: 100%;
  display: inline-block;
  border: 1px solid #d2d2d2;
  padding: 7px 5px;
  outline: none;
  font-size: 14px;
}
#webform-submission-candidature-spontanee-add-form .form-item textarea {
  margin-bottom: 0;
}
#webform-submission-candidature-spontanee-add-form .form-item > label {
  position: absolute;
  left: 10px;
  top: 17px;
  background: white;
  padding: 0 5px;
  transition: all 0.3s;
  margin: 0;
  line-height: 1;
  font-size: 14px;
}
#webform-submission-candidature-spontanee-add-form input:focus + label,
#webform-submission-candidature-spontanee-add-form input.js-not-empty + label,
#webform-submission-candidature-spontanee-add-form textarea.js-not-empty + label,
#webform-submission-candidature-spontanee-add-form textarea:focus + label {
  top: -2px;
  color: #9e9e9e;
}
#webform-submission-candidature-spontanee-add-form .select2-container {
  margin-top: 5px;
}
#webform-submission-candidature-spontanee-add-form .select2-container .select2-selection {
  border-radius: 0;
  border-color: #d2d2d2;
  outline: none;
  height: 40px;
}
#webform-submission-candidature-spontanee-add-form .select2-container .select2-selection__rendered {
  line-height: 40px;
}
#webform-submission-candidature-spontanee-add-form .select2-container .select2-selection__arrow {
  height: 100%;
  top: 0;
}
#webform-submission-candidature-spontanee-add-form .form-submit {
  background: #232323;
  border: none;
  color: white;
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.3s;
}
#webform-submission-candidature-spontanee-add-form .form-submit:hover {
  opacity: 0.8;
}
#webform-submission-candidature-spontanee-add-form .webform-element-description,
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe label {
  text-transform: uppercase;
  font-weight: bold;
  color: #b3b3b3;
  font-size: 14px;
}
#webform-submission-candidature-spontanee-add-form legend {
  font-family: 'Spectral', serif;;
  font-size: 23px;
  color: #232323;
  margin: 0;
  font-weight: 600;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 10px;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe .webform-flex--container {
  margin: 0;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe .js-hide {
  display: none;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe span.file {
  width: 100%;
  border: 1px solid #d2d2d2;
  display: block;
  margin-top: 8px;
  padding: 5px 10px;
  background: white;
  position: absolute;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe input {
  z-index: 1;
  cursor: pointer;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe input.button {
  margin-top: 50px;
  border: none;
  background: none;
  color: black;
  text-transform: inherit;
  font-weight: inherit;
  text-align: right;
  padding: 0 10px 0 0;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe legend:before {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background: black;
  margin: 30px 0 35px;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe .fieldset-wrapper > div {
  margin: 20px 0;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe .fieldset-wrapper > div:last-child {
  margin-bottom: 25px;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe label {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe input[type=file] {
  opacity: 0;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe .webform-element-description {
  border: 1px solid #d2d2d2;
  padding: 8px 10px 5px;
  position: absolute;
  margin-top: 8px;
  width: 100%;
  color: black;
  text-transform: inherit;
  font-weight: inherit;
  cursor: pointer;
}
#webform-submission-candidature-spontanee-add-form #edit-piece-jointe .webform-element-description:after {
  content: "+";
  display: block;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 2px;
  font-family: initial;
  cursor: pointer;
}
#webform-submission-candidature-spontanee-add-form #edit-right > legend:first-child {
  display: none;
}
#webform-submission-candidature-spontanee-add-form #edit-actions-submit {
  border: none;
}
#webform-submission-candidature-spontanee-add-form input:hover::placeholder {
  color: white;
}
#candidature h1 {
  margin-top: 30px;
  padding: 0;
}
#candidature .imgs-bg > div:before {
  display: none;
}
#candidature .block-text .txt {
  background-color: rgba(35, 35, 35, 0.7);
  color: white;
  font-size: 24px;
  padding: 20px;
  margin-top: 30px;
}
#candidature .block-text .txt a {
  color: #f7e2a1;
  text-decoration: underline;
}
.select2-search {
  display: none !important;
}
.listing-offres {
  padding-top: 30px;
  font-size: 14px;
}
.listing-offres table.dataTable tbody th,
.listing-offres table.dataTable tbody td,
.listing-offres table.dataTable thead th,
.listing-offres table.dataTable thead td {
  padding: 15px 0;
  font-weight: normal;
}
.listing-offres table.dataTable thead th,
.listing-offres table.dataTable thead td,
.listing-offres table.dataTable.no-footer {
  border-color: #d2d2d2;
}
.listing-offres tbody tr {
  cursor: pointer;
  transition: color 0.3s;
}
.listing-offres tbody tr:hover {
  color: #cba52e;
}
.listing-offres td {
  background-color: white !important;
}
.listing-offres thead tr {
  color: #b3b3b3;
}
.listing-offres a {
  color: #232323;
}
.listing-offres h3 {
  font-family: 'Spectral', serif;;
  font-weight: 700;
  font-size: 23px;
  border-bottom: 1px solid;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.listing-offres select,
.listing-offres #searchbox {
  width: 100%;
  margin: 5px 0;
  height: 40px;
  padding: 10px;
  border: 1px solid #d2d2d2;
}
.listing-offres #searchbox {
  background: url("../images/offres/picto-search.png") no-repeat center right 10px transparent;
  padding-right: 35px;
  padding-left: 15px;
}
.listing-offres .select2-container .select2-selection--single,
.listing-offres .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  padding-left: 8px;
}
.listing-offres .select2-container--default .select2-selection--single {
  border: 1px solid #d2d2d2;
  border-radius: 0;
}
.listing-offres .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
}
.listing-offres .filtres-offres-emploi b {
  margin-top: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #b3b3b3;
  display: block;
}
.listing-offres .dataTables_wrapper .dataTables_paginate {
  text-align: center;
  float: none;
}
.listing-offres .dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #80807f !important;
  background: none !important;
  border: none !important;
  border-radius: 0;
  margin: 15px;
  padding: 0;
  min-width: 15px;
  box-shadow: none !important;
}
.listing-offres .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  border-bottom: 1px solid !important;
  font-weight: bold;
}
.listing-offres .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: inherit !important;
}
.listing-offres table.dataTable thead .sorting,
.listing-offres table.dataTable thead .sorting_asc,
.listing-offres table.dataTable thead .sorting_desc,
.listing-offres table.dataTable thead .sorting_asc_disabled,
.listing-offres table.dataTable thead .sorting_desc_disabled {
  background: none;
}
#offre {
  font-size: 14px;
}
#offre h1,
#offre h2 {
  font-family: 'Spectral', serif;;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 600;
}
#offre .detail-offre > div > div {
  margin: 15px 0;
}
#offre .detail-offre > div > div:first-child {
  margin-top: 0;
}
#offre .detail-offre > div > div:last-child {
  margin-bottom: 0;
}
#offre .detail-offre .left .info-title {
  margin-top: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #b3b3b3;
  display: block;
  font-weight: bold;
}
#offre .detail-offre .left .info-content {
  color: #232323;
  border: 1px solid #d2d2d2;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  width: 100%;
  display: block;
  font-weight: 500;
}
#offre .detail-offre .left .btn-cta {
  display: block;
  margin-top: 20px;
}
#offre .detail-offre .left .btn-cta:hover {
  text-decoration: none;
  transition: opacity 0.3s;
}
#offre .detail-offre .left .btn-cta:hover:hover {
  opacity: 0.7;
}
#offre .detail-offre .left .btn-cta button {
  width: 100%;
  background-color: #4cbfc6;
  color: white;
  border: none;
  box-shadow: none;
  padding: 0 25px;
  line-height: 40px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}
#offre .detail-offre .left .btn-cta button:before {
  background: url("../images/offres/picto-checked.png") no-repeat center transparent;
  height: 13px;
  width: 17px;
  position: absolute;
  left: 20px;
  display: block;
  content: "";
  top: 14px;
}
#offre .detail-offre .right b.title {
  text-transform: uppercase;
  border-bottom: 1px solid;
}
#offre .detail-offre .right .txt-grey {
  color: #b3b3b3;
  font-weight: 500;
}
#offre .detail-offre .right br {
  display: none;
}
#offre .detail-offre .right a.back {
  color: #4cbfc6;
  border-bottom: 1px solid;
  text-decoration: none;
  transition: opacity 0.3s;
}
#offre .detail-offre .right a.back:hover {
  opacity: 0.8;
}
.candidature-offre h1 {
  font-family: 'Spectral', serif;;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin-bottom: 50px;
  margin-top: 15px;
  font-size: 1.9rem;
}
