<div class="row">
    <form class="col" id="recherchepdf-form" name="formSearch" action="{{ path('resultSearch.form') }}" onsubmit="return validateForm()" type="POST">
        <div class="row justify-content-center align-items-end">
            <div class="col-12 col-md-4 col-lg-3">
                Référence du produit : <input name="refProduit" class="form-control refProduit" type="text">
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                Lot du produit : <input name="lotProduit" class="form-control lotProduit" type="text">
            </div>
            <div class="col-auto">
                <button type="submit">Télécharger</button>
            </div>
        </div>
    </form>
</div>

<script>
    jQuery(document).ready(function ($) {
        var msg = '{{ msg }}';
        if (msg != "") {
            alert(msg);
            window.location.href="/recherche-pdf";
        }
      setTimeout(function(){
        $("[role=contentinfo]").hide(1000);
      }, 3000);
    });

    function validateForm() {

        var refProduit = document.forms["formSearch"]["refProduit"].value;
        var lotProduit = document.forms["formSearch"]["lotProduit"].value;
        if (refProduit == "" && lotProduit == "") {
            alert("Veuillez saisir le reférence du produit ou bien le lot du produit");
            return false;
        } else {
            return true;
        }
    }
</script>
