<div class="row justify-content-center align-items-end">
    <div class="col-12 col-md-4 col-lg-3">
    <div class="col-12 col-md-4 col-lg-3">
        Référence du produit : <input name="refProduit" class="form-control" type="text">
    </div>
        Lot du produit : <input name="lotProduit" class="form-control" type="text">
    </div>
    <div class="col-auto">
        <button type="submit">Télécharger</button>
    </div>
</div>

<script>
    jQuery(document).ready(function ($) {
        $(".recherchepdf-form").submit(function (e) {
            var data = $(".recherchepdf-form").serializeArray();
            $.ajax({
                url: "/fiche-pdf",
                method: "POST",
                data: data,
                dataType: "json",
                success: function (url, textStatus, jqXHR) {
                   window.location.href = url;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }

            });
            e.preventDefault();
        });
    });
</script>
