<div class="row justify-content-center align-items-end">
    <div class="col-12 col-md-4 col-lg-3">
        Référence du produit : <input name="refProduit" class="form-control refProduit" type="text">
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        Lot du produit : <input name="lotProduit" class="form-control lotProduit" type="text">
    </div>
    <div class="col-auto">
        <button type="submit">Rechercher</button>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a id="linkPdf" href="" target="_blank" style="display: none;">Télécharger le PDF</a>
    </div>
</div>


<script>
    jQuery(document).ready(function ($) {
        $(".recherchepdf-form").submit(function (e) {
            e.preventDefault();
            var refProduit = $('.refProduit').val();
            var lotProduit = $('.lotProduit').val();
            if (refProduit.length == 0 && lotProduit.length == 0) {
                $("#linkPdf").attr("href", '').hide();
                alert("Veuillez saisir le reférence du produit ou bien le lot du produit");
            } else {
                var data = $(".recherchepdf-form").serializeArray();
                $.ajax({
                    url: "/fiche-pdf",
                    method: "POST",
                    data: data,
                    dataType: "json",
                    success: function (url, textStatus, jqXHR) {
                        if (url == false) {
                            $("#linkPdf").attr("href", '').hide();
                            alert("Fiche technique non trouvée merci de vérifier votre saisie");
                        } else {
                            var a = document.getElementById('linkPdf');
                            $("#linkPdf").attr("href", url).show();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });

            }
        });
    });
</script>
