<div class="row">
    {% if(fiche_pdf) %}
        <div>
            <label>Fichier PDF trouvé :</label>
            <a href="./directory/{{ fiche_pdf }}" download>Télécharger le fichier pdf</a>
        </div>
    {% else %}
        <div class="error">
            <p>Fiche technique non trouvée merci de vérifier votre saisie</p>
        </div>
    {% endif %}
</div>

