<div class="ares_content">

    <div class="ares_header">
        <div class="ares_header_top">
            <img src="/sites/promodis-ares/themes/promodisares/img/header_triangle.png" class="ares_header_top_bg bg-common">
            <img src="/sites/promodis-ares/themes/promodisares/img/logo.svg" class="ares_header_top_logo absolute-center">
        </div>
        <div class="ares_header_bottom fadein-animation">

            <div class="ares_header_bottom_wrapper">

                <div class="flex-center text-center ares_header_letter">
                    <div class="ares_header_letter_wrapper">
                        <img src="/sites/promodis-ares/themes/promodisares/img/A.svg">
                        <p>ADAPTÉ</p>
                    </div>
                </div>
                <div class="flex-center text-center ares_header_letter">
                    <div class="ares_header_letter_wrapper">
                        <img src="/sites/promodis-ares/themes/promodisares/img/R.svg">
                        <p>RÉSISTANT</p>
                    </div>
                </div>
                <div class="flex-center text-center ares_header_letter">
                    <div class="ares_header_letter_wrapper">
                        <img src="/sites/promodis-ares/themes/promodisares/img/E.svg">
                        <p>EFFICACE</p>
                    </div>
                </div>
                <div class="flex-center text-center ares_header_letter">
                    <div class="ares_header_letter_wrapper">
                        <img src="/sites/promodis-ares/themes/promodisares/img/S.svg">
                        <p>STYLÉ</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="ares_columns_0">
        <div class="ares_columns" id="ares_columns_1">
            <div class="ares_column ares_column_image">
                <div class="ares_column_wrapper">
                    <img src="/sites/promodis-ares/themes/promodisares/img/une_marque_proche_du_terrain_bg.jpeg" class="ares_column_wrapper_bg ares_img_parallax">
                    <img src="/sites/promodis-ares/themes/promodisares/img/une_marque_proche_du_terrain.png" class="ares_column_wrapper_img">
                </div>
            </div>
            <div class="ares_column ares_column_text fadein-animation">
                <div class="ares_column_wrapper">
                    <h2>Une marque proche du terrain</h2>
                    <p>
                        Nous concevons et fabriquons des équipements à destination des forces armées.
                    </p>
                    <p>
                        Notre équipe est composée d’anciens militaires et de spécialistes techniques qui mettent en commun leurs compétences leur expérience et leur savoir faire pour créer des tenues, sacs et accessoires parfaitement adaptés aux différentes missions
                    </p>
                </div>
            </div>
        </div>

        <div class="ares_columns" id="ares_columns_2">
            <div class="ares_column ares_column_text fadein-animation">
                <div class="ares_column_wrapper">
                    <h2>Des produits adaptés</h2>
                    <p>
                        Le soldat doit s’entrainer pour être opérationnel. En mission, il est confronté à des situations de hautes tensions et à des climats extrêmes. En base arrière il doit se remettre en condition pour la prochaine projection. Nous étudions ces différentes phases de votre vie de militaire et imaginons le matériel adapté à chacune d’elles. Vie au quartier, manœuvres, bivouac, combat en zone désertique ou tropicale, vent neige pluie, ISTC, marche longue distance, maintien de l’ordre et bien d’autres circonstances nécessitant un équipement spécifique…
                    </p>
                </div>
            </div>
            <div class="ares_column ares_column_image">
                <div class="ares_column_wrapper">
                    <img src="/sites/promodis-ares/themes/promodisares/img/des_produits_adaptes.png">
                </div>
            </div>
        </div>

        <div class="ares_columns" id="ares_columns_3">
            <div class="ares_column ares_column_image">
                <div class="ares_column_wrapper">
                    <img src="/sites/promodis-ares/themes/promodisares/img/la_qualite_bg.jpeg" class="ares_column_wrapper_bg ares_img_parallax">
                    <img src="/sites/promodis-ares/themes/promodisares/img/la_qualite.png" class="ares_column_wrapper_img">
                </div>
            </div>
            <div class="ares_column ares_column_text fadein-animation">
                <div class="ares_column_wrapper">
                    <h2>La qualité</h2>
                    <p>
                        Le choix pertinent des matières, les traitements des tissus, les qualités de membranes, l’utilisation d’accessoires de grande marques (Duraflex UTX, SBS ou YKK, …) sont essentiels dans la conception des équipements ARES GOD OF WAR. Ces pages vous présentent une sélection de ce que nous savons faire, un condensé du meilleur de notre marque ARES.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ares_cover">
        <img src="/sites/promodis-ares/themes/promodisares/img/confiance_en_toute_situation.jpeg" class="ares_img_parallax">
    </div>

    <div class="ares_quote">
        <h2>Confiance en toute situation</h2>
        <p>
            Notre gamme d’équipements vous accompagnera de la base arrière jusqu’en opération, de la jungle guyanaise jusqu’au désert malien, et surtout…
            DANS TOUTES LES CONDITIONS ET PAR TOUS LES TEMPS
        </p>
    </div>

    <div class="ares_categories">
        <div class="ares_h1">
            <div class="ares_h1_wrapper">
                <img src="/sites/promodis-ares/themes/promodisares/img/logo_h1.svg">
                <h1>
                    Découvrez tous Les <br>
                    produits de la marque ARES
                </h1>
            </div>
        </div>
        <div class="ares_categories_wrapper">
            <div class="ares_categories_row">
                <div class="ares_categories_item fadein-animation">
                    <img src="/sites/promodis-ares/themes/promodisares/img/categories/habillement.jpeg">
                    <div class="ares_categories_item_wrapper">
                        <h3>Habillement<br>militaire</h3>
                        <a href="" class="ares_btn">Découvrir</a>
                    </div>
                </div>
                <div class="ares_categories_item fadein-animation">
                    <img src="/sites/promodis-ares/themes/promodisares/img/categories/bagagerie.jpeg">
                    <div class="ares_categories_item_wrapper">
                        <h3>Bagagerie<br>&nbsp;</h3>
                        <a href="" class="ares_btn">Découvrir</a>
                    </div>
                </div>
                <div class="ares_categories_item fadein-animation">
                    <img src="/sites/promodis-ares/themes/promodisares/img/categories/equipement.jpeg">
                    <div class="ares_categories_item_wrapper">
                        <h3>Équipement<br>&nbsp;</h3>
                        <a href="" class="ares_btn">Découvrir</a>
                    </div>
                </div>
            </div>
            <div class="ares_categories_row ares_categories_row_70_30">
                <div class="ares_categories_item fadein-animation">
                    <img src="/sites/promodis-ares/themes/promodisares/img/categories/chaussures.jpeg">
                    <div class="ares_categories_item_wrapper">
                        <h3>Chaussures<br>&nbsp;</h3>
                        <a href="" class="ares_btn">Découvrir</a>
                    </div>
                </div>
                <div class="ares_categories_item fadein-animation">
                    <img src="/sites/promodis-ares/themes/promodisares/img/categories/habillement-outdoor.jpeg">
                    <div class="ares_categories_item_wrapper">
                        <h3>habillement <br>outdoor</h3>
                        <a href="" class="ares_btn">Découvrir</a>
                    </div>
                </div>
            </div>
            <div class="ares_categories_row ares_categories_row_30_70">
                <div class="ares_categories_item fadein-animation">
                    <img src="/sites/promodis-ares/themes/promodisares/img/categories/bivouac.jpeg">
                    <div class="ares_categories_item_wrapper">
                        <h3>Bivouac<br>&nbsp;</h3>
                        <a href="" class="ares_btn">Découvrir</a>
                    </div>
                </div>
                <div class="ares_categories_item fadein-animation">
                    <img src="/sites/promodis-ares/themes/promodisares/img/categories/securite.jpeg">
                    <div class="ares_categories_item_wrapper">
                        <h3>Securité<br>&nbsp;</h3>
                        <a href="" class="ares_btn">Découvrir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
