<div class="header-wrapper custom-color">
    {% include directory ~ '/templates/partials/header.html.twig' %}
</div>

<div class="content">
    {% if page.highlighted %}
        <div class="message-site">
            {{ page.highlighted }}
        </div>
    {% endif %}
    {% if page.content %}
        {{ page.content }}
    {% endif %}
</div>

{% include directory ~ '/templates/partials/footer.html.twig' %}