<div id="contact-content">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 bloc-left">
                    <div class="inner">
                        {{ content.field_contact_webform }}
                    </div>
                </div>
                <div class="col-12 col-md-6 bloc-right">
                    <div class="inner">
                        <div class="txt">
                            {{ content.field_contact_txt }}
                        </div>
                        {{ content.field_image }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>