// Variables LESS
@import 'variables';
@import 'animation';

// Google font
// Heebo : font-family: 'Heebo', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,800');
// Spectral : font-family: 'Spectral', serif;
@import url('https://fonts.googleapis.com/css?family=Spectral:400,600,700');

// Style pour menu si log en tant qu'admin
body {
  padding-top: 80px;

  @media @tablet {
    padding-top: 65px;
  }
}

.adminimal-admin-toolbar:not(.path-admin) {
  padding-top: 160px !important;

  #header-wrapper {
    margin-top: 79px;
  }
}

// BODY
body {
  font-family: @heebo;
}

// NAV
#header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 80px;
  width: 100%;
  line-height: 80px;
  background: white;
  z-index: 10;
  font-family: @heebo;
  text-transform: uppercase;
  overflow: hidden;
  transition: max-height 0.5s;

  @media @tablet {
    max-height: inherit;
    line-height: inherit;
    padding: 15px;
  }

  &.menu-hover {
    max-height: 500px;
  }

  header {
    display: inline-block;
    float: left;

    .logo {
      .dimOpacityOnHover(0.7);
    }
  }

  nav {
    & > ul {
      font-size: 0;
      padding: 0;
      margin-bottom: 0;

      li {
        display: inline-block;
        width: 160px;
        margin: 0 15px;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        vertical-align: top;

        @media (min-width: 992px) and (max-width: 1200px) {
          width: 125px;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          color: black;
          text-decoration: none;
          display: inline-block;
          width: 100%;
          position: relative;
          transition: color 0.3s;

          &:after {
            content: "";
            height: 1px;
            background-color: #d2d2d2;
            width: 100%;
            display: block;
            position: absolute;
            bottom: 20px;
            transition: all 0.3s;
          }

          &:hover {
            color: @turquoise;

            &:after {
              background-color: @turquoise;
              height: 2px;
            }
          }
        }

        & > ul {
          padding: 10px 0;
          line-height: 1.6;
          text-transform: none;

          & > li {
            margin: 5px 0;
            width: auto;
            display: block;

            &:first-child {
              margin-top: 0;
            }

            & > a {
              font-weight: 400;

              &:hover {
                text-decoration: underline;
              }

              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

// NAV MOBILE
#header-wrapper .navbar-toggler {
  position: absolute;
  top: 9px;
  right: 20px;
  outline: none !important;
  transition: opacity 0.3s;
  padding: 0;
  .dimOpacityOnHover(0.8);

  .navbar-toggler-icon {
    width: 25px;

    & > span {
      height: 3px;
      background: black;
      width: 100%;
      display: block;
      margin-top: 5px;
      transition: all 0.3s;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &.is-active {
    .navbar-toggler-icon {
      span {
        background-color: #5c8099;

        &.top {
          transform: rotate(45deg);
          margin-top: 5px;
        }

        &.middle {
          opacity: 0;
        }

        &.bottom {
          transform: rotate(-45deg);
          margin-top: -11px;
        }
      }
    }
  }
}

#mm-block-groupecargo-main-menu {
  top: 66px;
  z-index: 20;
  box-shadow: 10px 11px 10px #00000030;
}

// FOOTER
footer {
  background-color: #232323;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 70px;
  display: block;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 15px;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      min-width: 160px;
      position: relative;
      text-align: left;
      margin-right: 30px;
      .dimOpacityOnHover(0.7);

      @media @tablet {
        min-width: inherit;
      }

      @media @phone {
        margin: 0 15px;
        float: left;
        width: calc(50% - 30px);
      }

      &:last-child {
        margin-right: 0;
      }

      &:after {
        content: "";
        height: 1px;
        width: 100%;
        background: white;
        display: block;
        position: absolute;
        bottom: 15px;
        left: 0;
      }

      a {
        color: white;
        display: block;
        font-weight: 700;
        font-size: 13px;

        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

// UI
.full-width-bg {
  margin-left: -15px;
  margin-right: -15px;
  height: 540px;
  position: relative;
  overflow: hidden;
  background: #232323;

  @media @phone {
    height: auto;
  }

  h1 {
    font-family: @spectral;
    color: white;
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 600;
    // Hack anchor
    padding-top: 150px;
    margin-top: -150px;

    @media @phone {
      font-size: 30px;
    }
  }

  .imgs-bg {
    position: absolute;
    height: 100%;
    width: 100%;

    & > div {
      height: 100%;
      width: 100%;
      background-size: cover !important;
      position: absolute;
      opacity: 0;
      transition: opacity 3s;

      &.current {
        opacity: 1;
      }

      &:before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background-color: #00000060;
      }
    }
  }

  .block-text {
    margin-top: 40px;
    max-width: 765px;

    @media @phone {
      margin-top: 15px;
      padding-bottom: 15px;
    }

    .col > div {
      padding: 25px;
      max-width: 540px;

      @media @phone {
        padding: 15px;
      }
    }

    .block {
      font-size: 13px;
      font-weight: 500;

      &.bg-black {
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
      }

      &.bg-white {
        background-color: rgba(255, 255, 255, 0.8) !important;
      }

      &.txt-right {
        margin-left: 190px;

        @media @phone {
          margin-top: 15px;
          margin-left: 0;
        }
      }
    }
  }
}

.breadcrumb {
  background: #000;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
  border-radius: 0;

  & > .container {
    padding: 0;

    span:before {
      content: "";
      background: url("../images/breadcrumbs/arrow_breadcrumbs.png") no-repeat center transparent;
      height: 7px;
      width: 23px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      margin-top: -2px;
    }
  }
}

p.bordered-left {
  border-left: 1px solid #d2d2d2;
  padding-left: 20px;
  color: #80807f;
  font-size: 14px;
  max-width: 790px;
}

.content {
  h2 {
    font-family: @spectral;
    font-size: 23px;
    color: #232323;
    font-weight: 600;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 10px;
    margin-bottom: 30px;
    // Hack anchor
    padding-top: 100px;
    margin-top: -70px;
  }

  .double img:first-child {
    margin-bottom: 30px;
  }
}

.img-holder {
  margin-top: 25px;

  @media @tablet {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .double img {
      height: calc(50% - 15px);
    }
  }
  @media @phone {
    & > div {
      margin: 15px 0;

      &:first-child:not(.order-2),
      &.order-sm-2 {
        margin-top: 0;
      }

      &:last-child,
      &.order-2 {
        margin-bottom: 0;
      }
    }
  }
}

.list-keyword {
  padding: 0;
  margin-top: -10px;

  li {
    display: inline-block;
    color: #d7ab26;
    font-family: @heebo;
    list-style: none;

    h3 {
      font-size: 14px;
      padding: 0 15px;
      border-right: 1px solid #d7ab26;
      margin: 0;
      text-transform: uppercase;
    }

    &:first-child h3 {
      padding-left: 0;
    }

    &:last-child h3 {
      border-right: none;
      padding-right: 0;
    }
  }
}

// HOMEPAGE VIDEO
#homepage-video-wrapper {
  height: 540px;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  overflow: hidden;

  #homepage-video {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .content {
    display: block;
    margin: 110px auto auto;
    width: 530px;
    z-index: 1;
    text-align: center;

    h1 {
      display: block;
      color: black;
      padding: 20px;
      background: #ffffff90;
      font-family: @spectral;
      font-size: 24px;
      line-height: 1.3;
      text-align: left;
    }

    a.button {
      background: @turquoise;
      border: none;
      outline: none;
      padding: 10px 60px;
      font-size: 14px;
      color: white;
      display: inline-block;
      cursor: pointer;
      .dimOpacityOnHover(0.8);

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// HOME CONTENT
#homepage {
  .txt-intro {
    max-width: 730px;
    margin: 10px 0 15px;
  }

  .galery {
    .row > div {
      position: relative;
      min-height: 255px;
      margin-bottom: 30px;

      @media (min-width: 992px) and (max-width: 1200px) {
        min-height: 210px;
      }

      @media @tablet {
        min-width: 285px;
      }

      img {
        position: absolute;
        top: 0;
        left: 15px;
        max-width: calc(100% - 30px);
      }
    }

    .block-txt {
      display: flex;

      & > div {
        margin: auto;
        position: relative;
      }

      ul, li {
        padding: 0;
        margin: 0;
        text-align: center;
      }

      li {
        font-family: @spectral;
        font-size: 18px;
        list-style: none;
        font-weight: 600;
        line-height: 2.3;
        transition: all 1s;

        @media (max-width: 1024px) {
          font-size: 15px;
          line-height: 2;
        }

        &.highlight {
          color: #d7ab26;
          font-size: 24px;

          @media (max-width: 1024px) {
            font-size: 21px;
          }
        }
      }

      @keyframes txt_grow {
        from {
          font-size: 18px;
          color: black;
        }

        to {
          color: #d7ab26;
          font-size: 24px;
        }
      }

      .corner {
        position: absolute;
        height: 35px;
        width: 35px;
        display: block;

        &.topleft {
          top: 0;
          left: 15px;
          border-top: 1px solid #d7ab26;
          border-left: 1px solid #d7ab26;
        }

        &.topright {
          top: 0;
          right: 15px;
          border-top: 1px solid #d7ab26;
          border-right: 1px solid #d7ab26;
        }

        &.bottomleft {
          bottom: 0;
          left: 15px;
          border-bottom: 1px solid #d7ab26;
          border-left: 1px solid #d7ab26;
        }

        &.bottomright {
          bottom: 0;
          right: 15px;
          border-bottom: 1px solid #d7ab26;
          border-right: 1px solid #d7ab26;
        }
      }
    }
  }

  .block-bottom {
    margin-top: 50px;

    @media @tablet {
      .row > div {
        margin-bottom: 30px;
      }
    }

    .inner {
      min-height: 400px;
      color: white;
      box-shadow: 0 0 0 200px rgba(0,0,0,0.6) inset;
      padding: 50px;
      margin-bottom: 30px;
      font-size: 14px;
      transition: box-shadow 1s;
      background-size: cover !important;

      @media @tablet {
        min-width: inherit;
        min-height: inherit;
        padding: 15px;
        height: 100%;
        margin-bottom: 0;
      }

      &:hover {
        box-shadow: 0 0 0 200px rgba(0,0,0,0.8) inset;
      }

      h2 {
        font-family: @spectral;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 15px;
      }

      p {
        font-weight: 500;
      }

      ul {
        padding-left: 15px;
        line-height: 1.8;
        display: inline-block;
        margin: 0;

        &.double {
          margin-left: 40px;

          @media @tablet {
            margin-left: 20px;
          }
        }

        li {
          transition: color 0.3s;
          &:hover {
            color: @turquoise;
          }
        }

        a {
          color: white;
          font-weight: 600;
          text-decoration: underline;
          transition: color 0.3s;

          &:hover {
            color: @turquoise;
          }
        }
      }
    }
  }

  .gallery-logo {
    ul {
      white-space: nowrap;
      overflow: hidden;
      display: block;
      @opacity : 0.08;
      @length : 20px;
      box-shadow: inset @length 0 @length -@length rgba(0, 0, 0, @opacity), inset -@length 0 @length -@length rgba(0, 0, 0, @opacity);
      border-left: 1px solid #ededed;
      border-right: 1px solid #ededed;
      margin-top: 15px;
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 0 50px;
      position: relative;
      z-index: -1;

      &:after {
        content: "";
        display: block;
        width: 1px;
        height: 20px;
        position: absolute;
        top: 30px;
        right: 0;
        background-color: #c8c8c8;
      }
    }
  }
}

// QSN
#qsn {
  .content {
    .top {
      h2 {
        margin-bottom: 0;
      }

      .imgs-wrapper > div {
        border-right: 1px solid #d2d2d2;
        margin: 30px 0;
        position: relative;
        min-height: 200px;
        display: flex;

        &:nth-child(3) {
          border-right: none;

          @media @tablet {
            border-right: 1px solid #d2d2d2;
          }
        }

        &:last-child {
          border: none;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          &:after {
            content: "";
            height: 1px;
            background-color: #d2d2d2;
            width: calc(100% - 60px);
            position: absolute;
            bottom: -30px;
            left: 30px;
          }
        }

        @media @tablet {
          &:nth-child(2),
          &:nth-child(4) {
            border-right: none;
          }
          &:nth-child(4) {
            &:after {
              content: "";
              height: 1px;
              background-color: #d2d2d2;
              width: calc(100% - 60px);
              position: absolute;
              bottom: -30px;
              left: 30px;
            }
          }
        }

        @media @phone {
          border-right: none !important;
          min-height: inherit;
          padding: 15px 0;

          &:after {
            content: "";
            height: 1px;
            background-color: #d2d2d2;
            width: calc(100% - 60px);
            position: absolute;
            bottom: -30px;
            left: 30px;
          }

          &:last-child {
            &:after {
              display: none;
            }
          }
        }

        img {
          margin: auto;
        }
      }
    }

    .middle {
      .inner {
        text-align: center;

        img {
          margin-bottom: 15px;
        }
      }
    }

    .bottom {
      margin-bottom: 30px;

      h3 {
        font-size: 16px;
        text-transform: uppercase;
        color: #232323;
        margin-bottom: 20px;
      }

      .img-wrapper {
        display: flex;

        img {
          margin: auto;

          @media @phone {
            margin-bottom: 30px;
          }
        }
      }

      p a {
        color: #d7ab26;
        font-weight: 500;
        .dimOpacityOnHover(0.8);

        &:hover {
          text-decoration: none;
        }
      }

      a.cta {
        background-color: @turquoise;
        color: white;
        font-weight: 500;
        padding: 10px 60px;
        display: inline-block;
        font-size: 14px;
        margin-top: 5px;
        .dimOpacityOnHover(0.8);

        @media @phone {
          width: 100%;
          text-align: center;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// MARCHES
.marches {
  p {
    color: #80807f;
    font-size: 14px;
    max-width: 790px;
  }

  img {
    filter: grayscale(100%);
    transition: filter 1s;

    &:hover {
      filter: grayscale(0);
    }
  }
}