<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="inner">
                    <a href="{{ url('<front>') }}" title="Accueil">
                        <span class="long-logo"></span>
                    </a>
                    {{ page.navigation }}
                    <a class="mmenu-btn-wrapper d-lg-none" href="#block-navigationprincipale">
                        <span class="hamburger"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>