/*

---
name: c-page-banner-home
category: 02-molecules
---
 
``` types.html
<div class="c-page-banner-home">

  <div class="c-banner-card-home">
    <p class="c-banner-card-home__title">Title</p>
    <p class="c-banner-card-home__content">
      Content
    </p>
    <div class="c-banner-card-home__button-container">
      <button class="c-button c-button--primary">Button</button>
    </div>
  </div>

</div>
```

*/
.c-page-banner-home {
  position: relative;
  width: 100%;
  min-height: 687px;
  z-index: 0;

  &__mask {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;

    &:before, &:after {
      background-size: cover !important;
      position: absolute;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      transition: all 0.5s ease-in-out;
      animation-duration: 1.3s;
    }

    $amount: -500px;

    @keyframes slideinfromleft {
      from {
        left: $amount;
      }

      to {
        left: 0;
        bottom: 0;
      }
    }

    @keyframes slideinfromright {
      from {
        right: $amount;
      }

      to {
        right: 0;
        top: 0;
      }
    }

    &:before {
      background: url("../images/mask-left.png") no-repeat center transparent;
      animation-name: slideinfromleft;
    }

    &:after {
      background: url("../images/mask-right.png") no-repeat center transparent;
      animation-name: slideinfromright;
    }

    @media only screen and (max-width: $bp-tablet) {
      height: 400px;
    }

    @media only screen and (max-width: $bp-mobile) {
      height: 200px;
    }
  }

  @keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  &__picture-fixed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 1s appear;
  }

  .c-banner-card-home {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
  }

  // Tablet/mobile version.
  @media only screen and (max-width: $bp-tablet) {
    min-height: initial;

    &__mask {
      background-position: top left;
      background-size: contain;
    }

    .c-banner-card-home {
      position: relative;
      transform: none;
    }

    .c-page-banner-home__picture-fixed {
      position: static;
      width: 100%;
      min-height: 40rem;
    }
  }

  // Mobile version.
  @media only screen and (max-width: $bp-mobile) {
    .c-page-banner-home__picture-fixed {
      min-height: 20rem;
    }
  }


}
