/*

---
name: c-statistic-section-separator
category: 02-molecules
---
 
``` types.html
<div class="c-statistic-section-separator">
  <p class="c-statistic-section-separator__title">Title</p>
</div>
```

*/
.c-statistic-section-separator {
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 5rem;
  background-color: $primary;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-10px, 10px);
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $primary;
  }
  
  &__title {
    margin: 0;
    padding: 0.8rem;
    @extend .c-text-bold;
    color: $white;
    text-align: center;
    font-size: 2.1rem;
    line-height: 1.57;
    text-transform: uppercase;
  }

  // Tablet/mobile version.
  @media only screen and (max-width: $bp-tablet) {

    &__title {
      font-size: 1.8rem;
      padding: 0.3rem;
    }

  }

}
