/*

---
name: c-banner-card-company
category: 02-molecules
---
 
``` types.html
<div style="background-color: #D6D6D6; padding: 2rem;">
  <div class="c-banner-card-company">
    <p class="c-banner-card-company__title">Title</p>
    <p class="c-banner-card-company__content">
      Content
      <button class="c-banner-card-company__read-more-button">Read more</button>
    </p>
    <p class="c-banner-card-company__hidden-content">
      Hidden content
      <button class="c-banner-card-company__read-less-button">Read less</button>
    </p>
  </div>
</div>
```

*/
.c-banner-card-company {
  position: absolute;
  top: 5.9rem;
  left: 13.9rem;
  width: 44.5rem;
  z-index: 1;
  padding: 7.7rem 6.8rem;
  padding-bottom: 3.4rem;
  background-color: $white;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;

  &--opened {
    opacity: 1;
    box-shadow: 0 0 5rem 0.2rem rgba(0,0,0,0.1);

    .c-banner-card-company__read-more-button {
      display: none;
    }

    .c-banner-card-company__hidden-content {
      //display: block;

      max-height: 100vh;
      transition: max-height 0.5s ease-in;

    }

  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 4rem;
    height: 0.1rem;
    background-color: $primary;
    top: 5.6rem;
    left: 6.8rem;
  }

  &__title {
    margin: 0;
    @extend .c-text-bold;
    color: $primary;
    font-size: 2.1rem;
    line-height: 1.33;
    text-transform: uppercase;
  }

  &__content {
    margin: 0;
    margin-top: 1rem;
    @extend .c-text-semi-bold;
    color: $grey-darkest;
    font-size: 1.4rem;
    line-height: 1.71;
  }

  &__read-more-button {
    padding: 0;
    @extend .c-text-bold;
    background: none;
    border: none;
    outline: 0;
    color: $primary;
    text-decoration: underline;
  }

  &__read-less-button {
    padding: 0;
    @extend .c-text-bold;
    background: none;
    border: none;
    outline: 0;
    color: $primary;
    text-decoration: underline;
  }

  &__hidden-content {
    margin: 0;
    @extend .c-text-semi-bold;
    color: $grey-darkest;
    font-size: 1.4rem;
    line-height: 1.71;
    //display: none;

    // Hidden by default.
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;

  }
  
  // Tablet/mobile version.
  @media only screen and (max-width: $bp-tablet) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1.5rem;
    padding-top: 4.5rem;
    padding-bottom: 3rem;
    opacity: 1;
    box-shadow: none;

    &::after {
      top: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
    }

    .c-banner-card-company__title {
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.55;
      padding: 0 4rem;
    }

    .c-banner-card-company__content {
      text-align: center;
    }

    .c-banner-card-company__hidden-content {
      text-align: center;
    }

  }


}
