/// Fit screen
//
// - Allows the element to stretch edge to edge of the screen
//
// Styleguide Utilities.fitScreen

.fitScreen {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  &-bg {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      z-index: -1;
    }
  }
}
