@mixin enable-grid($cols: $nb-cols) {
  display: grid;
  grid-template-columns: repeat($nb-cols-mobile, 1fr);
  column-gap: $gutter-size;

  @include media-breakpoint-up('md') {
    grid-template-columns: repeat($cols, 1fr);
  }
}

@mixin make-cols($size: 6, $offset: null) {
  grid-column: auto/span $size;
  @if $offset {
    grid-column-start: $offset + 1;
  }
}

@mixin make-container($col-nb: 6) {
  max-width: $col-nb * $col-size + ($col-nb - 1) * $gutter-size;
  margin: auto;
}
