<div class="container article-evenement">
    <div class="row">
        <div class="col">
            <div class="title">{{ label }}</div>
            {{ content.field_description_evenement }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ content.field_image_evenement }}
        </div>
    </div>
</div>