<div class="row justify-content-center">
    <div class="col">
        <div class="newsletter-wrapper">
            {{ content.field_explications_newsletter}}
            {{ content.field_block_newsletter }}
        </div>
    </div>
</div>