#ui-kit {
  max-width: 1280px;
  margin: 0 auto;
}
#ui-kit .colors {
  column-gap: 15px;
}
#ui-kit .colors > div {
  flex: 1;
  height: 50px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
}
.bg-color1 {
  background: #888B8D;
}
.bg-color2 {
  background: #C3C5C6;
}
.bg-color3 {
  background: #E7E8E8;
}
.bg-color4 {
  background: #F3F3F3;
}
.color1 {
  color: #888B8D;
}
.color2 {
  color: #C3C5C6;
}
.color3 {
  color: #E7E8E8;
}
.color4 {
  color: #F3F3F3;
}
.circle-logo {
  background: url("../images/logo/cote_table-circle.svg") no-repeat center transparent;
}
.long-logo {
  background: url("../images/logo/cote_table-long.svg") no-repeat center transparent;
}
@font-face {
  font-family: 'ITC Avant Garde Pro XLt';
  src: url('../font/ITCAvantGardePro-XLt.woff2') format('woff2'), url('../font/ITCAvantGardePro-XLt.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ITC Avant Garde Pro Bold';
  src: url('../font/ITCAvantGardePro-Bold.woff2') format('woff2'), url('../font/ITCAvantGardePro-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ITC Avant Garde Pro Bk';
  src: url('../font/ITCAvantGardePro-Bk.woff2') format('woff2'), url('../font/ITCAvantGardePro-Bk.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  overflow-x: hidden;
  font-family: 'ITC Avant Garde Pro Bk', Arial, Helvetica, sans-serif;
  color: #888B8D;
  font-size: 16px;
  line-height: 24px;
}
