{#
/**
* @file
* Locations page
*
* @ingroup themeable
*/
#}
<div id="js-store-locator-locations">
    {{ drupal_block('drupal_synapse_search_location_block', {query: query, searchFormDefaultRadius: searchFormDefaultRadius}) }}
    {#A conserver pour remettre listing des magasins#}
    {#{{ drupal_block('drupal_synapse_listing_block') }}#}
</div>