.BrandHistory-wpr {
  overflow: hidden;
}

.BrandHistory {
  @include enable-grid;
  row-gap: rem(60px);
  padding-top: rem(35px);
  padding-bottom: rem(35px);
  

  &.is-top {
    @include media-breakpoint-down('md') {
      padding-bottom: rem(48px);
    }
  }

  &.is-bottom {
    position: relative;

    .LeftBrush,
    .RightBrush {
      position: absolute;
      width: 80%;
      fill: var(--white);
      opacity: 0.2;
      z-index: 0;
      pointer-events: none;
    }

    .RightBrush {
      right: 0;
      bottom: 0;
      overflow: visible;

      use {
        transform: rotate(-26deg) translateY(rem(50px));
      }

      @include media-breakpoint-up('md') {
        width: 25%;
      }
    }

    .LeftBrush {
      top: 0;
      left: 0;

      use {
        transform: rotateX(180deg) rotateZ(-10deg) rotateY(180deg) translateY(rem(-20px)) translateX(rem(20px));
        transform-origin: 50%;
      }

      @include media-breakpoint-up('md') {
        display: none;
      }
    }

    @include media-breakpoint-down('md') {
      padding-bottom: rem(60px);
    }

    @include media-breakpoint-up('md') {
      align-items: flex-end;
    }
  }

  @include media-breakpoint-up('md') {
    padding-top: rem(120px);
    padding-bottom: rem(120px);
  }
}

.BrandHistory-content {
  .is-top & {
    @include make-cols(4);

    @include media-breakpoint-up('md') {
      @include make-cols(4, 2);
    }
  }

  .is-bottom & {
    @include make-cols(4);
    
    @include media-breakpoint-up('md') {
      @include make-cols(4, 5);
    }
  }
}

.BrandHistory-text:not(:last-child) {
  margin-bottom: rem(35px);
}

.BrandHistory-firstImg {
  position: relative;
  @include make-cols(2);

  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: auto;

    @include media-breakpoint-down('md') {
      z-index: 1;
    }
  }
  
  svg {
    display: none;

    @include media-breakpoint-up('md') {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 55%;
      fill: var(--ebb);
      transform: translate(25%, -34%) rotate(26deg);
      opacity: 0.8;
      z-index: 1;
      clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
      transition: clip-path 0.5s;
      animation-fill-mode: forwards;

      .is-animate & {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
  }

  @include media-breakpoint-up('md') {
    @include make-cols(4, 6);
  }
}

.BrandHistory-secondImg {
  @include make-cols(2, 2);
  position: relative;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  svg {
    display: none;

    @include media-breakpoint-up('md') {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 55%;
      fill: var(--ebb);
      transform: translate(-18%, 34%) rotateX(1.5turn) rotateZ(-25deg);
      opacity: 0.8;
      z-index: 1;
      clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
      transition: clip-path 0.5s;
      animation-fill-mode: forwards;

      .is-animate & {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
  }

  @include media-breakpoint-down('md') {
    margin-top: rem(-82px);
  }

  @include media-breakpoint-up('md') {
    @include make-cols(3, 1);
  }
}
