.FindOurProduct {
  background-image: repeating-linear-gradient(to right, var(--pampas), var(--pampas) math.div($gutter-size, 2), var(--pampas-alt) math.div($gutter-size, 2), var(--pampas-alt) $gutter-size);
}

.FindOurProduct-inner {
  @include enable-grid;
  padding: rem(60px) 0;
}

.FindOurProduct-content {
  @include make-cols(4);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-up('md') {
    @include make-cols(4, 1);
  }
}

.FindOurProduct-text {
  margin-bottom: rem(35px);
}

.FindOurProduct-map {
  @include make-cols(4);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(40px);

  svg {
    display: block;
    height: 100%;
    width: 100%;
  }

  @include media-breakpoint-up('md') {
    @include make-cols(4, 7);
  }
}

.ProductStorePoint {
  --point-delay: 0s;
  opacity: 0;

  .is-animate & {
    animation: point 0.5s;
    transition: opacity;
    animation-fill-mode: forwards;
    animation-delay: var(--point-delay);
    mix-blend-mode: multiply;
  }
}

@keyframes point {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
