.MainVisual-wpr .MainVisual {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 500px;
}

.MainVisual-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--black);
  pointer-events: none;

  img {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    object-fit: cover;
  }
}

.MainVisual-overContent {
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.MainVisual-title {
  @include u-cormorant-regular;
  font-size: 65px;
  color: var(--white);

  @include media-breakpoint-down('md') {
    font-size: 35px;
  }
}

.MainVisual-onTitle {
  @include u-quentin-regular;
  font-size: 35px;
  color: var(--white);
}
