.MainMenu {
}

.MainMenu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.MainMenu-link {
  @include u-cormorant-regular;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: em(14px);
  text-align: left;
  text-decoration: none;
  color: var(--text-color);
  padding: em(12px) em(16px);
  box-sizing: border-box;
  transition: color $transition, background-color $transition;

  &::after {
    content: '';
  }

  &:hover,
  &:focus {
  }

  &.is-active {
  }
}

