.NewsletterSubscribeForm {
  margin-top: rem(30px);

  input {
    margin-bottom: 0;
  }
  
  input[type='email'] {
    width: 100%;
  }
}

.NewsletterSubscribeForm-fields {
  display: flex;
  
  @include media-breakpoint-down('md') {
    flex-direction: column;
    row-gap: rem(20px);
    align-items: center;
  }
  
  @include media-breakpoint-up('md') {
    flex-direction: row;
  }
}

.NewsletterSubscribeForm-rpdg {
  margin-top: rem(20px);
}