.Particular, .Profesional {
  display: flex;
  flex-direction: row;
  padding-top: 120px;
  padding-bottom: 75px;
  @include media-breakpoint-down('md') {
    flex-direction: column;
    padding-top: 30px;
  }

}

.Particular:after {
  content: "";
  background: url('/sites/sema-design/themes/cleverdrop/src/svg/taches.svg');
}

.Particular-right, .Profesional-right {
  @include u-cormorant-regular;
  font-size: 18px;
  width: 100%;
  padding-left: 45px;
  @include media-breakpoint-down('md') {
    padding-left: 0;
    padding-top: 27px;
  }
    a {
    color: var(--text-color);
    text-transform: capitalize;
  }
  .Particular-link {
    a {
      display: inline-block;
      font-size: 13px;
      &:not(:first-child) {
        margin-left: 30px;
      }
      &:after {
        content : '';
        background: url(/sites/sema-design/themes/cleverdrop/src/assets/svg/arrow-right.svg);
        background-repeat : no-repeat;
        padding: 3px 8px;
        display: inline-block;
        margin-left: 11px;
      }
    }
  }
}

.Particular-left, .Profesional-left {
  text-align: left;
  max-width: 2 * $col-size + 2 * $gutter-size;
  width: 100%;
  @include u-quentin-regular;
  font-size: 30px;
}
.Profesional-wrp .Section {
  background-color: #F3F0ED;
}
