.ProductTeaser {
  position: relative;
}

.ProductTeaser-title {
  font-size: rem(25px);
  margin-bottom: 0;
}

.ProductTeaser-img {
  margin-bottom: rem(25px);
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    transition: transform 2s;
    aspect-ratio: 0.738;
    object-fit: cover;

    .ProductTeaser:hover & {
      transform: scale(1.1);
    }

    .OurProducts-list.has-twoCols & {
      aspect-ratio: 1.128;
    }
  }
}

.ProductTeaser-link {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}