@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran Regular'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v6/o-0IIpQoyXQa2RxT7-5r5TRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  src: local('Catamaran Medium'), local('Catamaran-Medium'), url(https://fonts.gstatic.com/s/catamaran/v6/o-0NIpQoyXQa2RxT7-5jFhdVZNyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 600;
  src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'), url(https://fonts.gstatic.com/s/catamaran/v6/o-0NIpQoyXQa2RxT7-5jOhBVZNyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  src: local('Catamaran Bold'), local('Catamaran-Bold'), url(https://fonts.gstatic.com/s/catamaran/v6/o-0NIpQoyXQa2RxT7-5jXhFVZNyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url(https://fonts.gstatic.com/s/catamaran/v6/o-0NIpQoyXQa2RxT7-5jQhJVZNyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(https://fonts.gstatic.com/s/librebaskerville/v7/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQCQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v7/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxY.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(https://fonts.gstatic.com/s/librebaskerville/v7/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY3KcU.ttf) format('truetype');
}
body {
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
}
body.disable {
  overflow: hidden;
}
h1,
h2 {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}
h1:after,
h2:after {
  content: "";
  width: 65px;
  height: 1px;
  background: black;
  display: block;
  margin: 20px auto 25px;
}
img {
  max-width: 100%;
  height: auto;
}
.cta {
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 70px;
  display: inline-block;
  background: grey;
  color: white;
  font-weight: 600;
  transition: all 0.3s;
}
.cta:hover {
  opacity: 0.8;
  text-decoration: none;
}
.cta.black {
  background-color: black;
  color: white !important;
}
#content-wrap > .container-fluid {
  transition: all 0.6s;
}
#content-wrap > .container-fluid.disable {
  opacity: 0.2;
  filter: blur(2px);
}
.logo-wrapper,
.header-mobile {
  margin: auto;
  align-self: center;
}
.logo-wrapper p,
.header-mobile p {
  margin: 3px 0 0 0;
  font-family: 'Libre Baskerville', serif;
  color: #c0bbac;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
}
.logo-wrapper img.logo,
.header-mobile img.logo {
  width: 130px;
}
.mea-slider {
  margin: -1px -15px 30px -15px;
}
@media only screen and (max-width: 991px) {
  .mea-slider {
    margin-bottom: 0;
  }
}
.mea-slider .img-wrapper {
  height: 568px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .mea-slider .img-wrapper {
    height: inherit;
  }
}
.mea-slider .container,
.mea-slider .row {
  height: 100%;
}
.mea-slider div.img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media only screen and (max-width: 991px) {
  .mea-slider div.img {
    position: relative;
    top: unset;
    left: unset;
    z-index: unset;
    height: 320px;
  }
}
@media only screen and (max-width: 767px) {
  .mea-slider div.img {
    height: 200px;
  }
}
.mea-slider div.txt {
  background: white;
  padding: 30px;
}
@media only screen and (max-width: 767px) {
  .mea-slider div.txt {
    padding: 30px 0;
  }
}
.mea-slider div.txt p {
  color: #919191;
  font-weight: 500;
  margin: 0;
}
.mea-slider div.txt p .readmore {
  color: #aa343a;
  cursor: pointer;
}
.intro-entete {
  text-align: center;
  max-width: 875px;
  display: block;
}
.intro-entete h1 {
  max-width: 500px;
  display: inline-block;
}
.intro-entete p {
  color: #919191;
  font-weight: 500;
}
#header-wrapper {
  margin-bottom: 50px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  #header-wrapper {
    margin-bottom: 0;
  }
}
#header-wrapper .navbar-toggler {
  position: absolute;
  top: 20px;
  right: 25px;
  outline: none !important;
  padding: 0;
  width: 25px;
  z-index: 10000;
}
#header-wrapper .navbar-toggler .navbar-toggler-icon > span {
  height: 3px;
  background: #aa343a;
  width: 100%;
  display: block;
  margin-top: 5px;
  transition: all 0.3s;
}
#header-wrapper .navbar-toggler .navbar-toggler-icon > span:first-child {
  margin-top: 0;
}
#header-wrapper .navbar-toggler.is-active {
  position: fixed;
}
#header-wrapper .navbar-toggler.is-active .navbar-toggler-icon span {
  background-color: white;
}
#header-wrapper .navbar-toggler.is-active .navbar-toggler-icon span.top {
  transform: rotate(45deg);
  margin-top: 5px;
}
#header-wrapper .navbar-toggler.is-active .navbar-toggler-icon span.middle {
  opacity: 0;
}
#header-wrapper .navbar-toggler.is-active .navbar-toggler-icon span.bottom {
  transform: rotate(-45deg);
  margin-top: -11px;
}
header {
  display: flex;
  text-align: center;
  height: 150px;
  background: url("../images/header/header_bg.png") no-repeat center transparent;
}
header .logo-wrapper {
  margin: auto;
  align-self: center;
}
header .logo-wrapper p {
  margin: 0;
  @font Librebaskerville;
  font-family: 'Libre Baskerville', serif;
  color: #c0bbac;
  font-weight: 400;
  font-style: italic;
  margin-top: 3px;
}
header .logo-wrapper img.logo {
  width: 130px;
}
@media only screen and (max-width: 767px) {
  header {
    border-bottom: 1px solid #ece4d0;
  }
}
#nav-wrapper {
  background-color: #aa343a;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 100;
  width: 100%;
}
#nav-wrapper * {
  padding: 0;
  margin: 0;
}
#nav-wrapper ul {
  display: inline-block;
  text-align: left;
  list-style: none;
}
@media only screen and (max-width: 991px) {
  #nav-wrapper ul {
    display: block;
  }
}
#nav-wrapper ul li {
  display: inline-block;
  vertical-align: top;
}
#nav-wrapper ul li a {
  color: white;
  font-weight: 600;
  margin: 0 40px;
  position: relative;
}
#nav-wrapper ul li a:after {
  content: "";
  display: block;
  height: 1px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  transition: width 0.5s;
}
@media only screen and (max-width: 991px) {
  #nav-wrapper ul li a:after {
    display: none;
  }
}
#nav-wrapper ul li a:hover,
#nav-wrapper ul li a.is-active {
  text-decoration: none;
}
#nav-wrapper ul li a:hover:after,
#nav-wrapper ul li a.is-active:after {
  width: 100%;
  margin-left: 0;
}
@media only screen and (max-width: 991px) {
  #nav-wrapper ul li a {
    margin: 0;
    display: block;
    padding: 0 30px;
    outline: none !important;
  }
}
#nav-wrapper ul li ul {
  display: block;
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  #nav-wrapper ul li ul {
    display: none;
    max-height: inherit !important;
  }
}
#nav-wrapper ul li ul li {
  display: block;
  line-height: 30px;
}
#nav-wrapper ul li ul li:last-child {
  margin-bottom: 15px;
}
#nav-wrapper ul li ul li a {
  margin-right: 0;
  transition: color 0.3s;
}
#nav-wrapper ul li ul li a:after {
  display: none;
}
#nav-wrapper ul li ul li a:hover {
  color: #f7e0a5;
}
@media only screen and (max-width: 991px) {
  #nav-wrapper ul li ul li {
    border: none;
    padding-left: 15px;
  }
}
#nav-wrapper ul li:hover ul {
  max-height: 150px;
  transition-delay: 0.3s;
}
@media only screen and (max-width: 991px) {
  #nav-wrapper ul li {
    display: block;
    line-height: 40px;
    border-top: 1px solid white;
  }
}
@media only screen and (max-width: 991px) {
  #nav-wrapper ul > li a {
    position: relative;
  }
  #nav-wrapper ul > li a:after {
    display: block;
    content: "";
    background: url("../images/pictos/picto_arrow_nav.png") no-repeat center transparent;
    height: 10px;
    width: 6px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 30px;
    left: inherit;
  }
  #nav-wrapper ul > li a:hover:after {
    width: 6px;
  }
  #nav-wrapper ul > li a.opened:after {
    transform: rotate(90deg);
  }
}
#nav-wrapper .header-mobile img.logo {
  margin-top: 8px;
}
#nav-wrapper .header-mobile p {
  margin: 5px 0;
  color: #ece4d0;
}
@media only screen and (max-width: 991px) {
  #nav-wrapper {
    position: fixed;
    top: 0;
    left: auto;
    right: -110%;
    box-shadow: 0 0 20px #0006;
    transition: right 0.5s;
  }
  #nav-wrapper.active {
    right: 0;
  }
}
#block-selecteurdelangue {
  position: absolute;
  top: 0;
  right: 7%;
}
#block-selecteurdelangue a {
  margin: 0 8px !important;
}
@media only screen and (max-width: 991px) {
  #block-selecteurdelangue {
    position: relative;
    top: inherit;
    right: inherit;
    display: none;
  }
}
footer {
  background: url("../images/motifs/motif_bgtop_footer.jpg") repeat-x top left #aa343a;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 50px;
  padding-top: 90px;
  padding-bottom: 45px;
}
footer img.logo {
  width: 130px;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -65px;
}
footer > div > * {
  display: inline-block;
  vertical-align: top;
  color: white;
  text-align: left;
  padding: 0 95px;
  border-left: 1px solid white;
  height: 80px;
  overflow: hidden;
}
footer > div > *:first-child {
  padding-left: 0;
  border: none;
}
footer > div > *:last-child {
  padding-right: 0;
}
@media only screen and (max-width: 991px) {
  footer > div > * {
    padding: 0;
    height: auto;
    display: block;
    border: none;
    max-height: inherit;
  }
}
footer ul,
footer li {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul a,
footer li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;
  transition: color 0.5s;
}
@media only screen and (max-width: 991px) {
  footer ul a,
  footer li a {
    margin: 0;
    padding: 0 0 0 15px;
    outline: none !important;
    line-height: 40px;
  }
}
footer ul a:hover,
footer li a:hover {
  text-decoration: none;
  color: #ece4d0;
}
footer ul a:before,
footer li a:before {
  content: "";
  height: 1px;
  width: 10px;
  background: white;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -5px;
}
@media only screen and (max-width: 991px) {
  footer ul a:before,
  footer li a:before {
    display: none;
  }
}
footer .txt-footer span {
  text-transform: uppercase;
  font-weight: 700;
}
footer .txt-footer span a {
  color: white;
  transition: color 0.5s;
}
footer .txt-footer span a:hover {
  text-decoration: none;
  color: #ece4d0;
}
footer .txt-footer span:before {
  content: "";
  height: 1px;
  width: 10px;
  background: white;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -5px;
}
@media only screen and (max-width: 991px) {
  footer .txt-footer span:before {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  footer .txt-footer {
    padding-left: 15px;
  }
}
footer li ul {
  display: inline-block;
  vertical-align: top;
}
footer li ul > li {
  display: inline-block;
  vertical-align: inherit;
}
footer li ul > li a {
  font-size: 0;
  height: 20px;
  width: 20px;
  display: block;
  line-height: inherit;
  margin: 0 5px;
}
footer li ul > li a:before {
  display: none;
}
footer li ul > li a.fb {
  background: url("../images/pictos/facebook-logo.svg") no-repeat center 100% transparent;
  transition: all 0.3s;
}
footer li ul > li a.fb:hover {
  opacity: 0.8;
  text-decoration: none;
}
footer li ul > li a.instagram {
  background: url("../images/pictos/instagram-logo.svg") no-repeat center 100% transparent;
  transition: all 0.3s;
}
footer li ul > li a.instagram:hover {
  opacity: 0.8;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  footer li ul > li a {
    padding: 0;
  }
}
footer li ul > li:first-child a {
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  footer li ul > li {
    border: none;
    margin-top: 7px;
  }
}
@media only screen and (max-width: 991px) {
  footer {
    padding-bottom: 0;
  }
  footer li {
    display: block;
    border-top: 1px solid white;
  }
}
.slick-slider > button {
  position: absolute;
  z-index: 10;
  bottom: 15px;
}
@media only screen and (max-width: 991px) {
  .slick-slider > button {
    bottom: unset;
    top: 290px;
  }
}
@media only screen and (max-width: 767px) {
  .slick-slider > button {
    top: 170px;
  }
}
.slick-slider > button.slick-prev,
.slick-slider > button.slick-next {
  background: url("../images/pictos/arrow_slider.png") no-repeat center transparent;
  height: 18px;
  width: 18px;
  display: block;
  font-size: 0;
  border: 0;
  box-shadow: 0 0 10px #0000004d;
  cursor: pointer;
  outline: none !important;
}
.slick-slider > button.slick-prev {
  left: 50%;
  margin-left: -90px;
}
.slick-slider > button.slick-next {
  right: 50%;
  margin-right: -90px;
  transform: rotateY(180deg);
}
.slick-slider ul.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0;
  width: 150px;
  text-align: center;
  margin-left: -75px;
}
@media only screen and (max-width: 991px) {
  .slick-slider ul.slick-dots {
    bottom: unset;
    top: 285px;
  }
}
@media only screen and (max-width: 767px) {
  .slick-slider ul.slick-dots {
    top: 165px;
  }
}
.slick-slider ul.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-slider ul.slick-dots li:first-child {
  margin-left: 0;
}
.slick-slider ul.slick-dots li:last-child {
  margin-right: 0;
}
.slick-slider ul.slick-dots li button {
  background: white;
  border: none;
  font-size: 0;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  padding: 0;
  box-shadow: 0 0 10px #0000004d;
  cursor: pointer;
}
.slick-slider ul.slick-dots li.slick-active button {
  background: #aa343a;
}
#hp-txt-intro {
  margin-bottom: 30px;
}
#hp-txt-intro .txt-intro {
  display: flex;
  text-align: center;
}
#hp-txt-intro .txt-intro > div {
  margin: auto;
  align-self: center;
}
#hp-txt-intro .txt-intro p {
  text-align: left;
  color: #919191;
  font-weight: 500;
  padding: 0 15px;
}
@media only screen and (max-width: 991px) {
  #hp-txt-intro img {
    margin-bottom: 30px;
  }
}
#encarts-cta {
  text-align: center;
  margin-bottom: 30px;
}
#encarts-cta .inner {
  height: 260px;
  display: flex;
  transition: background-color 0.5s;
  cursor: pointer;
}
#encarts-cta .inner > a {
  margin: auto;
  align-self: center;
  max-width: 260px;
  z-index: 10;
}
#encarts-cta .inner > a > * {
  display: block;
  margin: 20px auto;
}
#encarts-cta .inner > a:hover {
  text-decoration: none;
}
#encarts-cta .inner:before {
  content: "";
  height: 100%;
  width: calc(100% - 30px);
  position: absolute;
  display: block;
  opacity: 0.1;
  top: 0;
  left: 15px;
}
#encarts-cta .inner .txt {
  font-family: 'Libre Baskerville', serif;
  color: white;
  font-size: 21px;
  font-weight: 700;
  text-shadow: 0 0 5px #626262;
}
#encarts-cta .inner .cta {
  padding: 0 15px;
  background: white;
  text-transform: uppercase;
  line-height: 45px;
}
#encarts-cta .inner.left {
  background-color: #c57663;
}
#encarts-cta .inner.left .cta {
  color: #c57663;
}
#encarts-cta .inner.left:hover {
  background-color: #4f2f28;
}
#encarts-cta .inner.left:hover .cta {
  background-color: black;
}
#encarts-cta .inner.left:before {
  background: url("../images/motifs/motif_floral_nb.png") repeat transparent;
}
#encarts-cta .inner.right {
  background-color: #d7d0bd;
  transition: background-color 0.5s;
}
#encarts-cta .inner.right .cta {
  color: #d7d0bd;
}
#encarts-cta .inner.right:hover {
  background-color: #56534c;
}
#encarts-cta .inner.right:hover .cta {
  background-color: black;
}
#encarts-cta .inner.right:before {
  background: url("../images/motifs/motif_croix_nb.png") repeat transparent;
}
@media only screen and (max-width: 767px) {
  #encarts-cta > div:first-child {
    margin-bottom: 30px;
  }
}
#newsletter {
  margin: 30px -15px 50px;
  height: 270px;
  padding-top: 45px;
  background-color: #d7d0bd;
  text-align: center;
  position: relative;
  display: flex;
}
@media only screen and (max-width: 767px) {
  #newsletter {
    height: auto;
    padding-bottom: 75px;
  }
}
#newsletter:before {
  background: url("../images/newsletter/motif_news_02.png") no-repeat transparent;
  height: 225px;
  width: 332px;
  display: block;
  content: "";
  position: absolute;
  bottom: -54px;
  left: 0;
  background-size: 100%;
}
@media only screen and (max-width: 991px) {
  #newsletter:before {
    width: 220px;
    height: 150px;
    bottom: -37px;
  }
}
@media only screen and (max-width: 767px) {
  #newsletter:before {
    left: 0;
    width: 120px;
    background-size: cover;
    background-position: center right;
  }
}
#newsletter:after {
  background: url("../images/newsletter/motif_news_01.png") no-repeat transparent;
  height: 203px;
  width: 410px;
  display: block;
  content: "";
  position: absolute;
  bottom: -62px;
  right: 0;
  background-size: 100%;
}
@media only screen and (max-width: 991px) {
  #newsletter:after {
    width: 220px;
    bottom: -26px;
    height: 101px;
  }
}
@media only screen and (max-width: 767px) {
  #newsletter:after {
    right: 0;
    width: 120px;
    background-size: cover;
    background-position: center left;
    bottom: -31px;
  }
}
#newsletter .motif {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 37px;
  background: url("../images/motifs/motif_newsletter.png") repeat-x center transparent;
}
#newsletter .inner {
  margin: auto;
  align-self: center;
  z-index: 10;
}
#newsletter .title {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  #newsletter .title {
    width: 90%;
    margin: 15px auto;
    font-size: 15px;
  }
}
#newsletter .g-recaptcha > div {
  display: inline-block;
  margin-top: 25px;
}
@media only screen and (max-width: 767px) {
  #newsletter .g-recaptcha > div {
    margin-top: 15px;
  }
}
#newsletter .form-content {
  max-width: 500px;
  display: inline-block;
}
#newsletter .form-content * {
  display: inline-block;
  border: none;
}
#newsletter .form-content .form-item {
  float: left;
}
#newsletter .form-content input {
  padding: 10px 15px 8px;
}
#newsletter .form-content input[type=email] {
  max-width: 360px;
}
@media only screen and (max-width: 767px) {
  #newsletter .form-content input[type=email] {
    max-width: 240px;
    margin: 0 auto 15px;
  }
}
#newsletter .form-content input[type=submit] {
  padding: 10px 40px 8px;
  background: #858174;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}
#newsletter .form-content input[type=submit]:hover {
  opacity: 0.8;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  #newsletter .form-content input[type=submit] {
    padding: 10px 15px 8px;
  }
}
#insta-wrapper {
  text-align: center;
}
#insta-wrapper .a-title {
  font-size: 28px;
  color: #aa343a;
  font-family: 'Libre Baskerville', serif;
  display: block;
  font-weight: 600;
}
#insta-wrapper .a-title:hover {
  text-decoration: none;
  transition: all 0.3s;
}
#insta-wrapper .a-title:hover:hover {
  opacity: 0.8;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  #insta-wrapper .a-title {
    font-size: 20px;
  }
}
#insta-wrapper p {
  color: #919191;
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0 20px;
}
#insta-wrapper .cta {
  color: white;
  text-decoration: none !important;
  font-weight: 600;
  line-height: 40px;
  display: inline-block;
  position: relative;
  background: #aa343a;
  padding: 0 60px 0 30px;
  margin-top: 30px;
}
#insta-wrapper .cta:after {
  content: "";
  height: 40px;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/pictos/instagram-logo.svg") no-repeat center #6b1a1e;
  background-size: 22px;
}
#instafeed .slick-slide {
  position: relative;
  margin: 0 15px;
}
#instafeed .slick-slide > a {
  display: block;
}
#instafeed .slick-slide > a .overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: opacity 0.3s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.75);
}
#instafeed .slick-slide > a .overlay-wrapper > span {
  margin: auto;
  align-self: center;
}
#instafeed .slick-slide > a .overlay-wrapper > span .likes:before {
  content: '';
  background: url("../images/home/instagram-likes.png") no-repeat center transparent;
  background-size: 100%;
  height: 25px;
  width: 25px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}
#instafeed .slick-slide > a .overlay-wrapper > span .comments {
  margin-left: 30px;
}
#instafeed .slick-slide > a .overlay-wrapper > span .comments:before {
  content: '';
  background: url("../images/home/instagram-comments.png") no-repeat center transparent;
  background-size: 100%;
  height: 25px;
  width: 25px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}
#instafeed .slick-slide > a:hover .overlay-wrapper {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  #instafeed .slick-slide {
    opacity: 0.5;
    margin: 0 7px;
  }
  #instafeed .slick-slide.slick-current {
    opacity: 1;
  }
}
#instafeed .slick-prev,
#instafeed .slick-next {
  font-size: 0;
  background: none;
  border: none;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 50%;
  margin-top: -9px !important;
  left: 0;
  z-index: 10;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  padding: 0;
  transition: all 0.3s;
}
#instafeed .slick-prev:before,
#instafeed .slick-next:before {
  content: '';
  background: url("../images/pictos/arrow_slider.png") no-repeat center transparent;
  height: 18px;
  width: 18px;
  vertical-align: middle;
  display: block;
}
#instafeed .slick-prev:hover,
#instafeed .slick-next:hover {
  opacity: 0.8;
  text-decoration: none;
}
#instafeed .slick-prev {
  margin: 0;
  left: -20px;
}
#instafeed .slick-next {
  left: inherit;
  right: -20px;
  margin: 0;
}
#marque-slider {
  position: relative;
}
@media (min-width: 992px) {
  #marque-slider {
    margin-bottom: 0;
  }
}
#marque-slider:after {
  content: "";
  background: url("../images/motifs/motif_bgbottom_banner.png") repeat-x transparent;
  height: 45px;
  width: 100%;
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
}
@media only screen and (max-width: 991px) {
  #marque-slider:after {
    bottom: unset;
    top: 275px;
  }
}
@media only screen and (max-width: 767px) {
  #marque-slider:after {
    top: 155px;
  }
}
#marque-slider .txt-wrapper {
  margin-top: -30px;
}
@media only screen and (max-width: 991px) {
  #marque-slider .txt-wrapper {
    margin-top: 0;
  }
}
.esprit .imgs-wrapper {
  position: relative;
}
.esprit .imgs-wrapper img {
  padding-top: 60px;
}
.esprit .txt-wrapper {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .esprit .txt-wrapper {
    position: relative;
    top: inherit;
    left: inherit;
    margin-bottom: 15px;
    display: block;
  }
}
.esprit .txt-wrapper > div {
  margin: auto;
  align-self: center;
  width: 350px;
  padding: 30px;
  background: white;
  border: 1px solid #746e5d;
}
@media only screen and (max-width: 991px) {
  .esprit .txt-wrapper > div {
    border: none;
    width: auto;
    padding: 0;
  }
}
.esprit .txt-wrapper > div h2 {
  color: #746e5d;
}
.esprit .txt-wrapper > div h2:after {
  background-color: #746e5d;
}
.esprit .txt-wrapper > div p {
  margin: 0;
  color: #919191;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .esprit .esprit-mobile img {
    margin: 15px 0;
  }
}
.js-slides-ambiances {
  position: relative;
  margin-bottom: 60px;
}
.js-slides-ambiances > div > div:nth-child(1) {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
}
.js-slides-ambiances > div > div:nth-child(1):after {
  content: "";
  width: 65px;
  height: 1px;
  background: black;
  display: block;
  margin: 20px auto 25px;
}
.js-slides-ambiances .slick-slide {
  text-align: center;
  padding: 0 8px;
}
.js-slides-ambiances .slick-slide img {
  display: inline-block;
}
.js-slides-ambiances .slick-slider > button {
  bottom: inherit;
  top: 50%;
  margin-top: -9px;
  box-shadow: none;
}
.js-slides-ambiances .slick-slider > button.slick-prev {
  left: -20px;
  margin-left: 0;
}
@media only screen and (max-width: 767px) {
  .js-slides-ambiances .slick-slider > button.slick-prev {
    left: 0;
  }
}
.js-slides-ambiances .slick-slider > button.slick-next {
  right: -20px;
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .js-slides-ambiances .slick-slider > button.slick-next {
    right: 0;
  }
}
.lookbook > div {
  margin: 30px 0;
}
.lookbook > div.even {
  background: #aa343a;
  color: white;
}
.lookbook > div.even h2 {
  color: #ece4d0;
}
.lookbook > div.even h2:after {
  background-color: #ece4d0;
}
.lookbook > div.even .txt-wrapper:after {
  right: -8px;
  background: #aa343a;
}
.lookbook > div.odd {
  background: #ece4d0;
  color: black;
}
.lookbook > div.odd h2 {
  color: #aa343a;
}
.lookbook > div.odd h2:after {
  background-color: #aa343a;
}
.lookbook > div.odd .txt-wrapper:after {
  left: -8px;
  background: #ece4d0;
}
.lookbook .txt-wrapper {
  display: flex;
  padding: 0 37px;
  position: relative;
}
.lookbook .txt-wrapper p {
  margin: 0;
  font-weight: 500;
}
.lookbook .txt-wrapper .inner {
  margin: auto;
  align-self: center;
}
.lookbook .txt-wrapper:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: black;
  z-index: 10;
  top: 50%;
  margin-top: -10px;
  transform: rotate(45deg);
}
@media only screen and (max-width: 991px) {
  .lookbook .txt-wrapper:after {
    top: inherit;
    bottom: -8px;
    left: 50% !important;
    right: inherit !important;
    margin-left: -10px;
  }
}
@media only screen and (max-width: 991px) {
  .lookbook .txt-wrapper {
    padding: 30px;
  }
}
.lookbook .img-wrapper {
  padding: 0;
}
.collections > div:first-child {
  margin: 30px 0;
}
.collections > div:nth-child(even) {
  background: #f6f3ec;
}
.collections > div:nth-child(even) h2 {
  color: #aa343a;
}
.collections > div:nth-child(odd) h2 {
  color: #a6a090;
}
.collections img {
  margin-bottom: 30px;
}
.collections img:last-child {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .collections img {
    margin-bottom: 15px;
  }
}
.collections .inner {
  padding: 50px 0;
}
.collections .inner h2 {
  text-align: left;
  font-size: 28px;
  border-bottom: 1px solid;
  display: inline-block;
  margin-bottom: 30px;
}
.collections .inner h2:after {
  display: none;
}
.collections .inner .inner-txt {
  padding: 0 25px;
}
@media only screen and (max-width: 991px) {
  .collections .inner .inner-txt {
    padding: 0;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .collections .inner .inner-txt {
    padding: 0;
  }
}
.collections .inner p {
  color: #919191;
  font-weight: 600;
}
.collections .inner p:nth-child(2) {
  font-family: 'Libre Baskerville', serif;
  color: black;
  font-size: 15px;
  line-height: 1.7;
}
@media only screen and (max-width: 767px) {
  .collections .img-left {
    padding-right: 8px;
  }
  .collections .img-right {
    padding-left: 8px;
  }
}
.distributeur .intro-entete {
  margin: 30px auto 20px;
}
.distributeur .cta-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .distributeur .cta-wrapper {
    margin: 0 -15px;
  }
}
.distributeur .contact,
.distributeur .catalogue {
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  display: block;
}
.distributeur .contact:hover,
.distributeur .catalogue:hover {
  opacity: 0.8;
  text-decoration: none;
}
.distributeur .contact a,
.distributeur .catalogue a {
  color: white;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: 600;
  width: 280px;
  line-height: 40px;
  display: inline-block;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .distributeur .contact a,
  .distributeur .catalogue a {
    width: 260px;
  }
}
.distributeur .contact:after,
.distributeur .catalogue:after {
  content: "";
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-left: -4px;
  vertical-align: bottom;
}
.distributeur .contact a {
  background: #aa343a;
}
@media only screen and (max-width: 767px) {
  .distributeur .contact a {
    width: calc(100% - 40px);
  }
}
.distributeur .contact:after {
  background: url("../images/pictos/picto_env.png") no-repeat center #6b1a1e;
}
@media only screen and (max-width: 767px) {
  .distributeur .contact {
    margin-bottom: 20px;
  }
}
.distributeur .catalogue > div {
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  .distributeur .catalogue > div {
    width: calc(100% - 40px);
  }
}
.distributeur .catalogue a {
  background: #454545;
}
@media only screen and (max-width: 767px) {
  .distributeur .catalogue a {
    width: 100%;
  }
}
.distributeur .catalogue:after {
  background: url("../images/pictos/picto_livre.png") no-repeat center 11px black;
}
.distributeur a.block-cta {
  text-decoration: none !important;
  margin: 50px 0;
  display: block;
  cursor: inherit;
}
.distributeur a.block-cta .block-header {
  text-align: center;
  font-size: 30px;
  font-family: 'Libre Baskerville', serif;
  display: block;
  padding: 50px 0 30px;
  color: white;
  position: relative;
}
.distributeur a.block-cta .block-header:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  opacity: 0.1;
}
.distributeur a.block-cta .block-header:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: black;
  z-index: 1;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
}
.distributeur a.block-cta .block-header span {
  position: relative;
  z-index: 10;
}
.distributeur a.block-cta .block-header span:after {
  content: "";
  width: 60px;
  height: 1px;
  background: white;
  display: block;
  margin: 15px auto;
}
@media only screen and (max-width: 991px) {
  .distributeur a.block-cta .block-header {
    padding: 30px 0;
  }
}
.distributeur a.block-cta.left .block-header {
  background: #c57663;
}
.distributeur a.block-cta.left .block-header:before {
  background: url("../images/motifs/motif_floral_nb.png") repeat #c57663;
}
.distributeur a.block-cta.left .block-header:after {
  background: #c57663;
}
.distributeur a.block-cta.left .img-wrapper .block-label > span {
  background: rgba(197, 118, 99, 0.9);
}
.distributeur a.block-cta.right .block-header {
  background: #c0bbac;
}
.distributeur a.block-cta.right .block-header:before {
  background: url("../images/motifs/motif_croix_nb.png") repeat #c0bbac;
}
.distributeur a.block-cta.right .block-header:after {
  background: #c0bbac;
}
.distributeur a.block-cta.right .img-wrapper .block-label > span {
  background: rgba(192, 187, 172, 0.9);
}
@media only screen and (max-width: 767px) {
  .distributeur a.block-cta.right {
    margin-top: 0;
  }
}
.distributeur a.block-cta .img-wrapper {
  display: block;
  position: relative;
}
.distributeur a.block-cta .img-wrapper > span {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  transition: opacity 0.5s;
}
.distributeur a.block-cta .img-wrapper > span span {
  margin: auto;
  align-self: center;
  border: 1px solid white;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  padding: 20px 70px;
  font-size: 16px;
  max-width: 75%;
}
@media only screen and (max-width: 991px) {
  .distributeur a.block-cta .img-wrapper > span span {
    padding: 15px 45px;
    font-size: 13px;
  }
}
.distributeur a.block-cta .img-wrapper > span.second-txt span {
  text-transform: none;
  font-weight: 400;
  padding: 20px 30px;
  font-size: 14px;
}
@media only screen and (max-width: 991px) {
  .distributeur a.block-cta {
    margin: 50px 0;
  }
}
.distributeur a.block-cta:hover .first-txt {
  opacity: 0;
}
.distributeur a.block-cta:hover .second-txt {
  opacity: 1 !important;
}
@media only screen and (max-width: 991px) {
  .distributeur img {
    height: 340px;
    object-fit: cover;
  }
}
.contact-form-wrapper {
  text-align: center;
}
.contact-form-wrapper h1 {
  margin: 40px auto 30px;
}
.contact-form-wrapper h1:after {
  display: none;
}
.contact-form-wrapper h2 {
  text-align: center;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: white;
  line-height: 1;
  margin: 15px 0;
  padding: 10px 0;
}
.contact-form-wrapper h2:after {
  display: none;
}
.contact-form-wrapper h2.infos {
  background: #c57663;
}
.contact-form-wrapper h2.societe {
  background: #c0bbac;
}
.contact-form-wrapper form {
  max-width: 600px;
  margin: 0 auto 50px;
}
.contact-form-wrapper form .form-item {
  position: relative;
}
.contact-form-wrapper form .form-item input,
.contact-form-wrapper form .form-item textarea {
  width: 100%;
  display: inline-block;
  margin: 8px 0;
  border: 1px solid #80807f;
  padding: 8px 5px;
  outline: none;
}
.contact-form-wrapper form .form-item textarea {
  margin-bottom: 0;
}
.contact-form-wrapper form .form-item > label {
  position: absolute;
  left: 5px;
  top: 22px;
  background: white;
  padding: 0 5px;
  transition: all 0.3s;
  margin: 0;
  line-height: 1;
  color: #80807f;
  font-size: 13px;
}
@media (min-width: 768px) {
  .contact-form-wrapper form .webform-flexbox {
    margin: 0 -0.5em;
  }
}
.contact-form-wrapper form input:focus + label,
.contact-form-wrapper form input.js-not-empty + label,
.contact-form-wrapper form textarea.js-not-empty + label,
.contact-form-wrapper form textarea:focus + label {
  top: 3px;
}
.contact-form-wrapper form .required-wrapper {
  position: relative;
}
.contact-form-wrapper form .required-wrapper:before {
  content: "*";
  display: block;
  position: absolute;
  top: 12px;
  right: 8px;
  color: #aa343a;
  font-weight: 600;
  font-size: 17px;
}
.contact-form-wrapper form .check-civilite {
  text-align: left;
  margin-bottom: 5px;
}
.contact-form-wrapper form .check-civilite legend {
  width: auto;
  vertical-align: middle;
  margin: 3px 15px 0 0;
  font-size: 14px;
  font-weight: 700;
  color: #232323;
  line-height: 1;
}
.contact-form-wrapper form .check-civilite legend:after {
  content: " :";
  display: inline-block;
}
.contact-form-wrapper form .check-civilite .form-item {
  display: inline-block;
}
.contact-form-wrapper form .check-civilite .form-item input {
  width: auto;
  padding: 0;
  margin: 0;
}
.contact-form-wrapper form .check-civilite .form-item label {
  position: relative;
  left: inherit;
  top: inherit;
  padding: 0;
}
.contact-form-wrapper form .check-civilite .fieldset-wrapper > div > div {
  margin: 0 7px;
}
.contact-form-wrapper form .check-civilite .fieldset-wrapper > div > div label {
  font-size: 14px;
}
.contact-form-wrapper form .captcha {
  margin: 15px 0;
}
.contact-form-wrapper form .g-recaptcha {
  display: inline-block;
}
.contact-form-wrapper input.form-submit {
  background: #aa343a;
  color: white;
  text-transform: uppercase;
  border: 0;
  font-weight: 700;
  outline: none;
  padding: 0 80px;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.3s;
}
.contact-form-wrapper input.form-submit:hover {
  opacity: 0.8;
  text-decoration: none;
}
.contact-form-wrapper .mentions {
  text-align: right;
  margin-top: 5px;
  color: #80807f;
}
.contact-form-wrapper .mentions span {
  color: #aa343a;
  font-weight: 600;
  font-size: 17px;
  vertical-align: middle;
}
.parutions-presse h1 {
  margin: 30px 0;
}
.parutions-presse .cover-wrapper {
  margin: 15px 0;
}
.parutions-presse .item .cover-wrapper > div {
  position: relative;
  display: block;
  color: white;
  cursor: pointer;
  text-decoration: none !important;
}
.parutions-presse .item .cover-wrapper > div:hover .txt-wrapper {
  opacity: 1 !important;
}
.parutions-presse .item .txt-wrapper {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  background: #c57663;
}
.parutions-presse .item .txt-wrapper > span {
  margin: auto;
  align-self: center;
  text-align: center;
}
.parutions-presse .item .txt-wrapper > span .txt {
  position: relative;
  font-size: 16px;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.parutions-presse .item .txt-wrapper > span .bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../images/motifs/motif_croix_nb.png") repeat center transparent;
  display: block;
  z-index: 0;
  opacity: 0.2;
}
.parutions-presse .item .txt-wrapper > span .date {
  font-size: 14px;
}
.parutions-presse .item .txt-wrapper > span .date:before {
  content: "";
  display: block;
  margin: 15px auto 20px;
  height: 1px;
  width: 60px;
  background: white;
}
.parutions-presse .item .txt-wrapper > span .pdf-icon {
  display: block;
  background: url("../images/pictos/pdf-icon.png") no-repeat center transparent;
  height: 36px;
  width: 45px;
  margin: 50px auto 0;
  transition: opacity 0.3s;
}
.parutions-presse .item img {
  height: 365px;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  .parutions-presse .item img {
    height: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .parutions-presse .item img {
    height: 470px;
  }
}
.parutions-presse .pager {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 30px 0 15px;
}
.parutions-presse .pager a {
  line-height: 40px;
  background: #c0bbac;
  color: white;
  text-decoration: none !important;
  display: inline-block;
  padding: 0 40px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s;
}
.parutions-presse .pager a:hover {
  opacity: 0.8;
  text-decoration: none;
}
#pdf-modal {
  padding: 0;
  max-height: calc(100% - 10px);
}
#pdf-modal iframe {
  border: none;
  background: transparent;
  display: block;
}
#pdf-modal button.close {
  position: absolute;
  top: -5px;
  right: -25px;
  color: white;
  box-shadow: none;
  text-shadow: none;
  border: none;
}
@media only screen and (max-width: 767px) {
  #pdf-modal button.close {
    top: 0;
    right: 0;
    color: black;
    z-index: 1;
    opacity: 1;
    background: white;
    padding: 5px 10px;
    border-radius: 25px;
  }
}
#pdf-modal .modal-body {
  padding: 0;
}
#pdf-modal .modal-dialog {
  max-width: 1140px;
}
.mentions-legales {
  padding-top: 30px;
}
.mentions-legales h1,
.mentions-legales h2 {
  text-align: left;
  text-transform: uppercase;
}
.mentions-legales h1:after,
.mentions-legales h2:after {
  width: 100%;
  margin: 10px auto 15px;
}
.mentions-legales h2 {
  font-size: 16px;
  margin: 30px 0;
  color: #aa343a;
}
.mentions-legales h2:after {
  display: none;
}
#page-newsletter {
  text-align: center;
  height: auto;
}
#page-newsletter h1 {
  margin: 30px 0;
}
#page-newsletter p {
  color: #919191;
  font-weight: 600;
}
#page-newsletter #newsletter {
  background-color: transparent;
  height: auto;
  margin: 30px -15px 60px;
  padding-top: 0;
  padding-bottom: 100px;
  box-shadow: 0 -7px 10px rgba(0, 0, 0, 0.05) inset;
}
#page-newsletter #newsletter .title,
#page-newsletter #newsletter .motif {
  display: none;
}
#page-newsletter #newsletter input.form-email {
  border: 1px solid black;
  padding: 10px 15px 6px;
}
#page-newsletter #newsletter input[type="submit"] {
  background: black;
  color: white;
}
div[role="contentinfo"] > div {
  text-align: center;
  border: 1px solid;
  padding: 7px;
  margin: 15px 0;
  color: #1a821a;
  background: #e1ece1;
  font-weight: 500;
}
div[role="contentinfo"] > div[role="alert"] {
  color: #aa343a;
  background: #f4d9d9;
}
.store-locator {
  padding: 30px 0;
}
.store-locator .inner {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .store-locator .inner {
    margin: 15px 0;
  }
}
.store-locator .img-intro-wrapper {
  margin: 10px 0 20px;
}
.store-locator #js-map-container > div {
  height: 400px;
}
.store-locator #js-ajax-response {
  text-align: left;
}
.store-locator .search-input-wrapper input,
.store-locator .search-input-wrapper button {
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #232323;
}
.store-locator .search-input-wrapper button {
  width: 42px;
  height: 42px;
  background: url(../images/storelocator/storelocator-search-picto.png) no-repeat center #232323;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.store-locator .search-input-wrapper button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.store-locator .search-input-wrapper input {
  width: calc(100% - 100px);
  padding: 0 15px;
}
.store-locator .search-input-wrapper {
  margin-bottom: 30px;
}
.store-locator .store-item {
  padding: 15px 25px;
}
@media only screen and (max-width: 767px) {
  .store-locator .store-item {
    padding: 15px 0;
  }
}
.store-locator .location-name {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}
.store-locator .location-name:before {
  content: "";
  background: url("../images/storelocator/storelocator-gps-picto.png") no-repeat center transparent;
  height: 19px;
  width: 14px;
  display: inline-block;
  vertical-align: middle;
  margin: -8px 10px 0 0;
}
.store-locator .online-shopping img {
  margin: 30px 0;
}
.store-locator .online-shopping p {
  color: #919191;
  font-weight: 600;
}
.store-locator hr {
  margin: 10px 0;
}
.store-locator ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.store-locator ul li {
  display: inline-block;
  text-align: center;
  width: 50%;
  margin: 15px;
}
.store-locator ul li:first-child {
  margin-left: 0;
}
.store-locator ul li:last-child {
  margin-right: 0;
}
.store-locator ul li a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 40px;
  background: #aa343a;
  display: block;
  transition: all 0.3s;
}
.store-locator ul li a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.store-locator ul li.phone a {
  background: #a6a090;
}
.store-locator ul li.phone a .number {
  font-size: 17px;
}
@media only screen and (max-width: 767px) {
  .store-locator ul {
    display: block;
  }
  .store-locator ul li {
    display: block;
    margin: 15px 0;
    width: 100%;
  }
}
.store-locator .gm-style .gm-style-iw {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #9e9e9e !important;
  padding: 15px !important;
  max-width: 320px !important;
  max-height: inherit !important;
}
.store-locator .gm-style .gm-style-iw > div {
  max-width: inherit !important;
  max-height: inherit !important;
}
.store-locator .gm-style .gm-style-iw .title {
  text-transform: uppercase;
  font-weight: 600;
}
.store-locator .gm-style .gm-style-iw-t {
  box-shadow: none !important;
}
.store-locator .gm-style .gm-style-iw-t:after {
  box-shadow: none !important;
  border-bottom: 1px solid #9e9e9e;
  border-left: 1px solid #9e9e9e;
  top: -1px;
}
.store-locator .gm-style .gm-ui-hover-effect {
  top: 0 !important;
  right: 0 !important;
}
.store-locator .gm-style a.to-store,
.store-locator .gm-style .opening-hours {
  display: none;
}
