<div class="navbar-expand-sm">
    <!-- Header -->
    {% include directory ~ '/partials/header.html.twig' %}
    <!-- Navigation -->
    {% if page.navigation %}
        {% include directory ~ '/partials/navigation.html.twig' %}
    {% endif %}
</div>

<div class="container-fluid">
    {#{% if page.highlighted %}#}
        {#<div class="row">#}
            {#<div class="col">#}
                {#{{ page.highlighted }}#}
            {#</div>#}
        {#</div>#}
    {#{% endif %}#}
    {% if page.content %}
        <div class="row">
            <div class="col">
                {{ page.content }}
            </div>
        </div>
    {% endif %}
</div>

<!-- Footer -->
{% if page.footer %}
    {{ page.footer }}
{% endif %}

<!-- Post footer -->
{{ page.txtfooter }}