// Organisms : base layout
// ================
$grid-even-color: transparent, !default;
$grid-odd-color: rgba(126, 195, 241, 0.15) !default;
$col-size: calc(100%/#{$nb-cols}) !default;
$page-bg-color: var(--white) !default;

.Page-wpr {
  overflow-x: hidden;
}

.Page {
  position: relative;
  max-width: $site-width;
  background-color: $page-bg-color;
  // removed for header sticky. if necessary, add another container to Page
  // overflow: hidden;
  margin: 0 auto;

  // stylelint-disable
  @include dev-only {
    .has-grid &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      background-image: repeating-linear-gradient(to right, $grid-odd-color, $grid-odd-color $col-size, $grid-even-color $col-size, $grid-even-color calc(100%/#{$nb-cols} * 2));
      background-size: 100%;
      user-select: none;
      z-index: 999;
      pointer-events: none;
    }
  }
}

.Main {
  position: relative;
}
