// Organisms : base layout
// ================
$grid-even-color: transparent, !default;
$grid-odd-color: rgba(126, 195, 241, 0.15) !default;
$col-size: calc(100%/#{$nb-cols}) !default;
$page-bg-color: var(--white) !default;

.Page {
  position: relative;
  font-size: rem(18px);
  // stylelint-disable
  @include dev-only {
    .has-grid &::before {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      height: 100%;
      width: 100%;
      max-width: rem(1400px);
      content: '';
      background-image: repeating-linear-gradient(to right,  $grid-odd-color $col-size, $grid-even-color calc(100%/#{$nb-cols}));
      background-size: 100%;
      user-select: none;
      z-index: 999;
      pointer-events: none;
      transform: translateX(-50%);
    }
  }
}

.Main {
  position: relative;
}
