@import 'variables';
@import 'ui-kit';
@import 'fonts';

// HEADER
header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: @color1;
  transition: 0.3s ease-in-out;

  .logo-placeholder {
    background: url("../images/logo/logo-merchcie.svg") no-repeat center transparent;
    width: 200px;
    height: 55px;
    display: block;
    .dimOpacityOnHover(0.8);
  }

  &.fixed {
    background: white;
    padding: 15px 0;

    .logo-placeholder {
      background-image: url("../images/logo/logo-merchcie_fixed.svg");
    }

    nav {
      a {
        color: @color1
      }
    }
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    & > ul {
      display: flex;
      list-style: none;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        padding: 0 24px;

        &:last-child {
          padding-right: 0;
        }

        &:first-child {
          padding-left: 0;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
      }
    }

    a {
      color: white;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: @color2;
        text-decoration: none;
      }

      &.presta {
        color: @color2;
        font-family: 'AvenirBlack', Arial, Helvetica, sans-serif;
      }
    }
  }
}

body.adminimal-admin-toolbar {
  .dialog-off-canvas-main-canvas {
    padding-top: 115px;

    header {
      top: 79px;
    }
  }
}

// FOOTER
.footer-wrapper {
  padding: 60px;
  font-size: 1.8rem;

  .logo-placeholder {
    background: url("../images/logo/logo-merchcie.svg") no-repeat center / 100% transparent;
    width: 253px;
    height: 70px;
    display: block;
  }

  .logo-linkedin {
    background: url("../images/logo/linkedin.svg") no-repeat center transparent;
    width: 188px;
    height: 46px;
    display: block;
    margin-top: 20px;
    .dimOpacityOnHover(0.8)
  }

  ul {
    column-count: 2;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: white;
      margin: 10px 0;
      display: block;
      .dimOpacityOnHover(0.8);
      text-decoration: none;
    }
  }
}

.copyright {
  background: #2E2E57;
  line-height: 44px;
  color: #9696AF;

  a {
    color: #9696AF;
    .dimOpacityOnHover(0.8);
    text-decoration: none;
  }
}

// HOMEPAGE
#homepage {
  position: relative;
  overflow: hidden;

  .main-ban {
    padding: 254px 0;
    //border-top: 2px solid #373754;
    overflow: hidden;
    position: relative;

    .left-part {
      position: relative;
      z-index: 1;

      .dot-bottom {
        position: absolute;
        height: 100vh;
        width: 100%;
        bottom: -50px;
        left: 0;
        z-index: 0;
        transform: translateY(100%);
        transform-origin: bottom;
      }

      &:after {
        content: "";
        background: url("../images/picto/deco-arrow.svg") no-repeat center / 100% transparent;
        width: 118px;
        height: 118px;
        filter: @svgColorWhite;
        position: absolute;
        bottom: 0;
        right: 0;
        transform-origin: center;
        transform: rotate(180deg);
      }
    }

    .right-part {
      position: relative;
      z-index: 1;
      text-align: right;
    }

    .video-wrapper {
      .img-wrapper {
        background: black;
        border-radius: 10px;
        position: relative;
        display: inline-block;
        overflow: hidden;

        img {
          width: 840px;
          height: 472px;
          object-fit: cover;
          opacity: 0.5;
          transition: 0.5s ease-in-out;
        }
      }

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
      }

      .button-video {
        width: 300px;
        height: 75px;
        position: absolute;
        bottom: 30px;
        left: 30px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        text-align: left;
        padding: 0 30px;
        cursor: pointer;
        z-index: 1;
        transition: 0.5s ease-in-out;

        .picto-play {
          background: url("../images/picto/play.svg") no-repeat center transparent;
          height: 38px;
          width: 34px;
          display: block;
          margin-right: 30px;

          &:before,
          &:after {
            content: "";
            height: 100%;
            width: 13px;
            background: white;
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
          }

          &:after {
            left: inherit;
            right: 0;
          }
        }

        &.playing {
          opacity: 0.3;

          .picto-play {
            background: none;
            position: relative;

            &:before,
            &:after {
              display: block;
            }
          }
        }

        small {
          display: block;
        }

        &:hover {
          opacity: 0.9;

          & + img {
            opacity: 1;
          }
        }
      }
    }

    &:after {
      content: "";
      height: 100%;
      width: 43%;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 333px 0px 0px 0px;
      background-color: @color2;
      z-index: 0;
    }
  }

  .intro {
    padding: 80px 0;
  }

  .c2 {
    padding: 150px 0;
    position: relative;

    .offset-bg {
      background: @color4;
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100%;
      z-index: -1;

      &:after {
        content: "";
        position: absolute;
        top: -166px;
        right: -164px;
        background: url("../images/picto/deco-bubble.svg") no-repeat center transparent;
        width: 333px;
        height: 338px;
        filter: @svgColor1;
      }
    }

    img {
      height: 100px;
      width: 110px;
      object-fit: contain;
      margin-bottom: 24px;
    }
  }

  .c3 {
    padding-top: 240px;
    position: relative;
    margin-top: -130px;

    h3 + .line-vertical {
      height: 50px;
      margin: 15px 0;
    }

    .cats-row {
      position: relative;

      &:before {
        content: "";
        width: 100vw;
        height: 200px;
        background: url("../images/pattern/dot-pattern.svg") repeat top left transparent;
        filter: @svgColor2;
        position: absolute;
        top: -60px;
        left: 30%;
        transform: translateX(-100%);
        z-index: -1;
      }
    }

    &:after {
      content: "";
      background: white;
      height: 230px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  .c4 {
    margin-top: 90px;
    margin-bottom: 90px;
    position: relative;

    .js-testimonials-slick {
      &:after {
        content: "";
        width: 100vw;
        height: 300px;
        background: url("../images/pattern/dot-pattern.svg") repeat top left transparent;
        filter: @svgColor3;
        position: absolute;
        bottom: -175px;
        right: 19.6%;
        z-index: -1;
        transition: right;
        transform: translate(100%);
      }
    }
  }
}

// BLOCK LIVRE BLANC
.white-book-block-wrapper {
  background: @color1;
  padding: 95px 0;
  color: white;

  .inner {
    max-width: 715px;
    margin: 0 auto;
  }

  .line-vertical {
    filter: @svgColorWhite;
  }

  .link-more {
    text-decoration: underline;
    color: white;
    .dimOpacityOnHover(0.8)
  }

  &.bgwhite-version {
    background: white;
    color: @color1;

    h2 {
      color: @color2;
    }

    .line-vertical {
      filter: @svgColor2;
    }

    .link-more {
      color: @color1;
    }
  }
}

// BLOCK NEWSLETTER
.newsletter-block-wrapper {
  .inner {
    max-width: 520px;

    .picto-mail {
      background: url("../images/picto/mail.svg") no-repeat center transparent;
      display: inline-block;
      vertical-align: middle;
      width: 62px;
      height: 38px;
      filter: @svgColor2;
      margin-top: -11px;
      margin-right: 15px;
    }

    input {
      margin: 10px 0;
      background: none;
      border: none;
      border-bottom: 1px solid @color2;
      outline: none;
    }

    .choice-notice {
      font-size: 1.4rem;
      line-height: 1;

      a {
        color: @color1;
        text-decoration: underline;
      }
    }
  }
}