@import 'variables';
@import 'ui-kit';
@import 'fonts';

// HEADER
header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: @color1;
  transition: 0.3s ease-in-out;

  .logo-placeholder {
    background: url("../images/logo/logo-merchcie.svg") no-repeat center transparent;
    width: 200px;
    height: 55px;
    display: block;
    .dimOpacityOnHover(0.8);
  }

  &.fixed {
    background: white;
    padding: 15px 0;

    .logo-placeholder {
      background-image: url("../images/logo/logo-merchcie_fixed.svg");
    }

    nav {
      a {
        color: @color1
      }
    }
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    & > ul {
      display: flex;
      list-style: none;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        padding: 0 24px;

        &:last-child {
          padding-right: 0;
        }

        &:first-child {
          padding-left: 0;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
      }
    }

    a {
      color: white;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: @color2;
        text-decoration: none;
      }

      &.presta {
        color: @color2;
        font-family: 'AvenirBlack', Arial, Helvetica, sans-serif;
      }
    }
  }
}

.dialog-off-canvas-main-canvas {
  padding-top: 115px;
}

body.adminimal-admin-toolbar {
  header {
    top: 79px;
  }
}

// FOOTER
.footer-wrapper {
  padding: 60px 0;
  font-size: 1.8rem;

  .logo-placeholder {
    background: url("../images/logo/logo-merchcie.svg") no-repeat center / 100% transparent;
    width: 253px;
    height: 70px;
    display: block;
  }

  .logo-linkedin {
    background: url("../images/logo/linkedin.svg") no-repeat center transparent;
    width: 188px;
    height: 46px;
    display: block;
    margin-top: 20px;
    .dimOpacityOnHover(0.8)
  }

  ul {
    column-count: 2;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: white;
      margin: 10px 0;
      display: block;
      .dimOpacityOnHover(0.8);
      text-decoration: none;
    }
  }
}

.copyright {
  background: #2E2E57;
  line-height: 44px;
  color: #9696AF;

  a {
    color: #9696AF;
    .dimOpacityOnHover(0.8);
    text-decoration: none;
  }
}

// HOMEPAGE
#homepage {
  position: relative;

  .main-ban {
    padding: 254px 0;
    //border-top: 2px solid #373754;
    overflow: hidden;
    position: relative;

    .left-part {
      position: relative;
      z-index: 1;

      .dot-bottom {
        position: absolute;
        height: 100vh;
        width: 100%;
        bottom: -50px;
        left: 0;
        z-index: 0;
        transform: translateY(100%);
        transform-origin: bottom;
      }

      &:after {
        content: "";
        background: url("../images/picto/deco-arrow.svg") no-repeat center / 100% transparent;
        width: 118px;
        height: 118px;
        filter: @svgColorWhite;
        position: absolute;
        bottom: 0;
        right: 0;
        transform-origin: center;
        transform: rotate(180deg);
      }
    }

    .right-part {
      position: relative;
      z-index: 1;
      text-align: right;
    }

    .video-wrapper {
      .img-wrapper {
        background: black;
        border-radius: 10px;
        position: relative;
        display: inline-block;
        overflow: hidden;

        img {
          width: 840px;
          height: 472px;
          object-fit: cover;
          opacity: 0.5;
          transition: 0.5s ease-in-out;
        }
      }

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
      }

      .button-video {
        width: 300px;
        height: 75px;
        position: absolute;
        bottom: 30px;
        left: 30px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        text-align: left;
        padding: 0 30px;
        cursor: pointer;
        z-index: 1;
        transition: 0.5s ease-in-out;

        .picto-play {
          background: url("../images/picto/play.svg") no-repeat center transparent;
          height: 38px;
          width: 34px;
          display: block;
          margin-right: 30px;

          &:before,
          &:after {
            content: "";
            height: 100%;
            width: 13px;
            background: white;
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
          }

          &:after {
            left: inherit;
            right: 0;
          }
        }

        &.playing {
          opacity: 0.3;

          .picto-play {
            background: none;
            position: relative;

            &:before,
            &:after {
              display: block;
            }
          }
        }

        small {
          display: block;
        }

        &:hover {
          opacity: 0.9;

          & + img {
            opacity: 1;
          }
        }
      }
    }

    &:after {
      content: "";
      height: 100%;
      width: 43%;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 333px 0px 0px 0px;
      background-color: @color2;
      z-index: 0;
    }
  }

  .intro {
    padding: 80px 0;
  }

  .c2 {
    padding: 150px 0;
    position: relative;

    .offset-bg {
      background: @color4;
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100%;
      z-index: -1;

      &:after {
        content: "";
        position: absolute;
        top: -166px;
        right: -164px;
        background: url("../images/picto/deco-bubble.svg") no-repeat center transparent;
        width: 333px;
        height: 338px;
        filter: @svgColor1;
      }
    }

    img {
      height: 100px;
      width: 110px;
      object-fit: contain;
      margin-bottom: 24px;
    }
  }

  .c3 {
    padding-top: 240px;
    position: relative;
    margin-top: -130px;

    h3 + .line-vertical {
      height: 50px;
      margin: 15px 0;
    }

    .cats-row {
      position: relative;

      &:before {
        content: "";
        width: 100vw;
        height: 200px;
        background: url("../images/pattern/dot-pattern.svg") repeat top left transparent;
        filter: @svgColor2;
        position: absolute;
        top: -60px;
        left: 30%;
        transform: translateX(-100%);
        z-index: -1;
      }
    }

    &:after {
      content: "";
      background: white;
      height: 230px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  .c4 {
    margin-top: 90px;
    margin-bottom: 90px;
    position: relative;

    .js-testimonials-slick {
      &:after {
        content: "";
        width: 100vw;
        height: 300px;
        background: url("../images/pattern/dot-pattern.svg") repeat top left transparent;
        filter: @svgColor3;
        position: absolute;
        bottom: -175px;
        right: 19.6%;
        z-index: -1;
        transition: right;
        transform: translate(100%);
      }
    }
  }
}

// BLOCK LIVRE BLANC
.white-book-block-wrapper {
  background: @color1;
  padding: 95px 0;
  color: white;

  .inner {
    max-width: 715px;
    margin: 0 auto;
  }

  .line-vertical {
    filter: @svgColorWhite;
  }

  .link-more {
    text-decoration: underline;
    color: white;
    .dimOpacityOnHover(0.8)
  }

  &.bgwhite-version {
    background: white;
    color: @color1;

    h2 {
      color: @color2;
    }

    .line-vertical {
      filter: @svgColor2;
    }

    .link-more {
      color: @color1;
    }
  }
}

// BLOCK NEWSLETTER
.newsletter-block-wrapper {
  .inner {
    max-width: 520px;

    .picto-mail {
      background: url("../images/picto/mail.svg") no-repeat center transparent;
      display: inline-block;
      vertical-align: middle;
      width: 62px;
      height: 38px;
      filter: @svgColor2;
      margin-top: -11px;
      margin-right: 15px;
    }

    input {
      margin: 10px 0;
      background: none;
      border: none;
      border-bottom: 1px solid @color2;
      outline: none;
    }

    .choice-notice {
      font-size: 1.4rem;
      line-height: 1;

      a {
        color: @color1;
        text-decoration: underline;
      }
    }
  }
}

// POURQUOI MERCH & CIE
.main-big-title {
  padding-top: 110px;
  padding-bottom: 110px;
  position: relative;

  .line-vertical {
    position: absolute;
    bottom: -43px;
    left: 50%;
  }
}

#pourquoi {
  .c1 {
    h4 {
      margin: 75px 0 50px;
    }

    .numbers-infos {
      position: relative;

      .nb-wrapper {
        padding-top: 70px;
        padding-bottom: 70px;
      }

      h4 {
        margin: 0;
        color: @color2;
      }

      p {
        max-width: 395px;
        margin: 30px auto;
      }

      .line-vertical {
        height: 100%;
        top: -15px;
        left: 50%;
        position: absolute;
      }
    }
  }

  .c2 {
    margin: 50px 0;
  }
}

//OFFRES D'EMPLOI MODULE
.value-caracteristic-fct() {
  border: 1px solid @color5;
  border-radius: 0;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  color: @color6;
  display: block;
}

.offres-emploi-module {
  margin-top: 70px;
  margin-bottom: 20px;

  h4 {
    margin-bottom: 15px;
  }

  .line {
    display: block;
    margin-bottom: 25px;
  }

  input, textarea, select {
    outline: none;
  }

  .offer-caracteristic {
    margin-top: 25px;

    .title-caracteristic {
      display: block;
      font-weight: bold;
      color: @color5;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-size: 16px;
    }

    .value-caracteristic {
      .value-caracteristic-fct();
    }
  }

  .select2-search {
    display: none !important;
  }

  #alerte-offres {
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }

  .back {
    margin-top: 40px;
    font-weight: bold;
    text-decoration: underline;
  }

  //LISTE
  #listing-offres {
    font-size: 14px;

    .filters {
      #searchbox {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom: 1px solid @color5;
        padding: 10px 0;
        font-weight: 900;
        margin-top: 10px;

        &:focus {
          border-color: @color2;
        }
      }

      #groupe-filtres-offres-emploi {
        padding-bottom: 3rem;

        @media @phone {
          display: none;
        }

        .offer-caracteristic {
          .select2-container {
            width: 100% !important;

            .select2-selection--single {
              outline: none;
              .value-caracteristic-fct();

              &:focus {
                border-color: @color2;
              }
            }

            .select2-selection--single .select2-selection__arrow {
              height: 50px;
              padding-left: 20px;
            }

            .select2-selection__rendered {
              line-height: 50px;
            }
          }
        }
      }

      .cta-filter { //todo: check on mobile device + add btn merch style
        color: white;
        border: none;
        box-shadow: none;
        padding: 0 25px;
        line-height: 40px;
        cursor: pointer;
        font-weight: 500;
        position: relative;

        &.top {
          margin-bottom: 13px;
        }

        &.bottom {
          margin-top: 15px;
        }
      }
    }

    .jobs-list {
      #toutes-les-offres {
        &.dataTable {
          thead, tbody {
            th, td {
              padding: 15px 0;

              @media @phone { //todo: check on mobile device
                padding: 20px 0;
                text-align: center;
                font-size: 13px;
                min-width: 80px;

                &:first-child {
                  text-align: left;
                }

                &:first-letter {
                  margin-left: 2rem;
                }
              }
            }
          }
        }

        thead {
          @media @phone { //todo: check on mobile device
            position: absolute;
            top: -9999px;
            left: -9999px;
          }

          tr {
            color: @color6;
          }

          .sorting,
          .sorting_asc,
          .sorting_desc,
          .sorting_asc_disabled,
          .sorting_desc_disabled {
            background: none;
          }
        }

        tbody {
          tr {
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
              color: @color2;
            }
          }

          td {
            background-color: white !important;
            font-weight: 900;

            @media (max-width: 480px) { //todo: check on mobile device
              font-weight: normal;
            }
          }

          td.wrap, th.wrap {
            white-space: unset !important;
          }

          tr:focus, td:focus {
            outline: none;
          }
        }

        & > tbody > tr.child ul.dtr-details { //todo: check on mobile device
          display: block;
          padding: 15px 35px;
          background: whitesmoke;

          li {
            border-bottom: 1px solid #d4d4d4;

            span {
              min-width: unset;

              &.dtr-title:after {
                content: ":";
                display: inline-block;
                margin-left: 3px;
              }
            }

            &:last-child {
              padding-bottom: 0;
            }

            &:first-child {
              padding-top: 0;
            }

            @media @phone {
              &:last-child {
                .dtr-title {
                  display: none;
                }

                a {
                  width: 100%;
                  background-color: blue;
                  color: white;
                  border: none;
                  box-shadow: none;
                  padding: 0 25px;
                  line-height: 40px;
                  cursor: pointer;
                  font-weight: 500;
                  display: block;
                  margin-top: 10px;
                  text-align: center;
                }
              }
            }
          }
        }

        &.dataTable thead th,
        &.dataTable tbody td,
        &.dataTable.no-footer {
          border-color: @color5;
        }
      }

      #toutes-les-offres_paginate {
        text-align: center;
        float: none;
        width: 100%;
        margin: 2rem 0;

        a.paginate_button {
          color: @color1 !important;
          background: white !important;
          border: 1px solid @color1 !important;
          border-radius: 3px;
          font-weight: bold;
          min-width: 15px;
          box-shadow: none !important;

          &:hover {
            color: inherit !important;
          }

          &.current {
            color: white !important;
            background: @color1 !important;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  //ANNONCE
  #offre {
    font-size: 16px;

    .detail-offre {
      .left, .right {
        margin-top: 15px;
      }

      .left {
        .offer-caracteristic:first-of-type {
          margin-top: 0;
        }

        .cta {
          display: block;
          position: relative;
          text-transform: uppercase;
          margin-top: 30px;

          &:before { //todo: nico à revoir pour faire quelque chose de propre
            background: url("../images/offres/picto-checked.png") no-repeat center transparent;
            height: 13px;
            width: 17px;
            position: absolute;
            left: 30%;
            display: block;
            content: "";
            top: 20px;

            @media (max-width: 1024px) {
              left: 22%;
            }
            @media (max-width: 768px) {
              left: 14%;
            }
            @media (max-width: 480px) {
              left: 25%;
            }
          }

          @media @phone {
                max-width: 260px;
                display: block;
                margin: 0 auto;
          }
        }
      }

      .right {
        b.title {
          text-transform: uppercase;
          border-bottom: 1px solid;
        }

        .txt-grey {
          color: @color5;
          font-weight: normal;
        }

        br {
          display: none;
        }
      }
    }
  }

  //FORM POSTULER
  #candidature-offre {
    font-size: 16px;

    h4 .pre-title {
      text-transform: none;
    }

    form#webform-submission-postuler-annonce-add-form {
      legend {
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        color: @color1;
        border-bottom: 1px solid @color5;
        font-family: 'AvenirBlack', Arial, Helvetica, sans-serif;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      .webform-flexbox {
        margin-top: 0;
        margin-bottom: 0;
      }

      .webform-element-description,
      #edit-piece-jointe label {
        color: @color1;
        margin-bottom: 15px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .form-item:not(fieldset) {
        position: relative;
        padding-bottom: 15px;

        input:not(.form-submit) {
          height: 50px;
        }

        input:not(.form-submit), textarea {
          width: 100%;
          display: inline-block;
          border: 1px solid @color5;
          padding: 7px 5px;

          &:focus {
            border: 1px solid @color2;
          }
        }

        textarea {
          margin-bottom: 20px;
        }

        & > label {
          position: absolute;
          left: 10px;
          top: 20px;
          background: white;
          padding: 0 5px;
          transition: all 0.3s;
          margin: 0;
          line-height: 1;
        }

        &:focus-within > label,
        &:focus-within + label {
          color: @color2;
          top: -2px;
        }

        label,
        .select2-selection__rendered {
          color: @color6;
        }

        .select2-container {
          .select2-selection {
            border-radius: 0;
            border-color: @color5;
            outline: none;
            height: 50px;
          }

          .select2-selection__rendered {
            line-height: 50px;
            font-size: 16px;
          }

          .select2-selection__arrow {
            height: 100%;
            top: 0;
          }
        }
      }

      #edit-right > legend:first-of-type {
        display: none;
      }

      #edit-piece-jointe {
        .webform-flex--container {
          margin: 0;
        }

        .webform-flexbox > .webform-flex > .webform-flex--container {
            margin: 0 0.5em;
          //todo: nico si tu arrives à faire un margin 0 à tout sauf à ce selecteur c'est encore mieux
          //tu peux faire un simulation en ajoutant des PJ et en supprimant les 2 margin du dessus tu comprendras
        }

        label {
          padding: 0;
          display: block;
          position: initial;
        }

        .js-hide {
          display: none;
        }

        input[type=file] {
          opacity: 0;
          position: absolute;
          top: 31px;
          cursor: pointer;
        }

        .webform-element-description {
          width: 100%;
          display: inline-block;
          border: 1px solid @color5;
          padding: 13px 20px;
          height: 50px;
          margin-bottom: 0;
          color: @color6;
          text-transform: initial;
          font-weight: normal;
          cursor: pointer;
          position: relative;

          &:after {
            content: "+";
            position: absolute;
            display: block;
            cursor: pointer;
            font-size: 20px;
            right: 10px;
            top: 8px;
          }
        }

        span.file {
          width: 100%;
          border: 1px solid gray;
          display: block;
          padding: 5px 10px;
          background: white;
          overflow: hidden;
          text-overflow: ellipsis;
          position: absolute;
          top: 31px;
          height: 50px;
        }

        input[type=submit] {
          width: 100%;
          text-align: right;
          text-decoration: underline;
          color: @color6;
          outline: none;
          border: 0;
          background: transparent;
        }
      }

      #edit-actions-submit {
        display: block;
        background-color: @color2;
        color: white;
        font-family: 'AvenirBlack', Arial, Helvetica, sans-serif;
        font-size: 1.6rem;
        line-height: 54px;
        padding: 0 65px;
        border: none;
        border-radius: 25px;
        text-decoration: none;
        transition: box-shadow 0.3s ease-in-out;
        text-align: center;
        margin-top: 15px;
        width: 100%;

        &:hover {
          box-shadow: 0 0 30px #E5530F80;
        }
      }
    }

    .messages--error {
      margin: 5px 0;
      z-index: -1;
      color: #d40000;
      font-size: 13px;
    }

    .g-recaptcha { //todo: à vérifier
      transform: scale(0.9);

      & > div {
        margin: 0 auto;
      }

      @media @phone {
        margin-bottom: 10px;
      }
    }

    .form-item-checkbox-rgpd {
      input {
        width: auto !important;
      }

      .description {
        text-align: justify;

        #edit-checkbox-rgpd--description {
          text-transform: inherit !important;
        }
      }
    }
  }
}
