// Variables custom

// Media queries
@very-xs: 320px;
@xs: 767px;
@sm: 991px;
@md: 1368px;

@smallPhone:     ~"only screen and (max-width: @{very-xs})";
@phone:          ~"only screen and (max-width: @{xs})";
@tablet:         ~"only screen and (max-width: @{sm})";
@smallDesktop:   ~"only screen and (max-width: @{md})";

// Colors
@grey: #4a4a49;
@pink: #d40058;
@grey-light: #5e5e5e;
@turquoise : #4cbfc6;

// Functions
.dimOpacityOnHover (@opacity) {
  transition: all 0.3s;
  &:hover {
    opacity: @opacity;
  }
}