// Media queries
@very-xs: 320px;
@xs: 767px;
@sm: 991px;
@md: 1368px;

@smallPhone:     ~"only screen and (max-width: @{very-xs})";
@phone:          ~"only screen and (max-width: @{xs})";
@tablet:         ~"only screen and (max-width: @{sm})";
@smallDesktop:   ~"only screen and (max-width: @{md})";

// Colors
@color1: #202041;
@color2: #E5530F;
@color3: #2863AD;
@color4: #F8F3ED;

// Convert tool : https://polewebcargo.github.io/hex-to-css-filter-generator/
@svgColor1 : invert(13%) sepia(10%) saturate(3652%) hue-rotate(202deg) brightness(91%) contrast(96%);
@svgColor2 : invert(36%) sepia(44%) saturate(5241%) hue-rotate(4deg) brightness(99%) contrast(88%);
@svgColor3 : invert(27%) sepia(70%) saturate(1561%) hue-rotate(194deg) brightness(93%) contrast(80%);
@svgColorWhite : invert(100%) sepia(0%) saturate(0%) hue-rotate(99deg) brightness(102%) contrast(105%);

// Filter generator tool : https://cssgenerator.org/filter-css-generator.html
@imgFilterColor1 : grayscale(100%) sepia(100%) hue-rotate(167deg) saturate(200%);
@imgFilterColor2 : grayscale(100%) sepia(100%) hue-rotate(331deg) saturate(200%);

// Functions
.dimOpacityOnHover (@opacity) {
  transition: all 0.3s;
  &:hover {
    opacity: @opacity;
  }
}
