<div id="recherche-pdf">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ content.field_titre_de_la_page }}
            </div>
            <div class="col-12">
                {{ content.field_formulaire_recherche_pdf }}
            </div>
        </div>
    </div>
</div>
