<div id="homepage">
    <div class="container top">
        <div class="row align-items-center">
            <div class="col-12 col-sm-4 top-txt">
                {{ content.field_hp_txt }}
            </div>
            <div class="col-12 col-sm-4 slider">
                <div class="js-slick-slider-hp-left">
                    {{ content.field_hp_imgs }}
                </div>
            </div>
            <div class="col-12 col-sm-4 slider">
                <div class="js-slick-slider-hp-right">
                    {{ content.field_hp_imgs_2 }}
                </div>
            </div>
        </div>
    </div>
</div>