<div id="page-contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="inner">
                    {{ content.field_contact_form }}
                </div>
            </div>
        </div>
    </div>
</div>