<header>
    <a href="{{ url('<front>') }}" title="Groupe Cargo">
        <img class="logo" src="{{ base_path }}sites/groupecargo/themes/groupecargo/images/header/logo.png" alt="Groupe Cargo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </span>
    </button>
</header>