/* -------------------------------------------------------------------------- *\
  # COLORS
\* -------------------------------------------------------------------------- */

// If you need inspiration, use [name-that-color](http://chir.ag/projects/name-that-color/) to name your colors.

:root {
  --white: #fff;
  --black: #000;

  // Colors (not for use directly)
  --cloud-burst:  #1C283F;
  --deep-teal:    #003B2E;
  --aqua-deep:    #005844;
  --jade:         #00B373;
  --hokey-pokey:  #CFB023;
  --white-rock:   #F0EDE0;

  // Theme colors
  --theme:            var(--deep-teal);
  --theme-secondary:  var(--aqua-deep);
  --theme-light:      var(--jade);
  --emphasis:         var(--cloud-burst);
  --soft:             var(--hokey-pokey);
  --light:            var(--white-rock);

  // Message colors
  --alert:    #d90000;
  --valid:    #309630;
  --warning:  #fca846;
}
