<!-- LIB -->
{{ attach_library('merchcie/imageloaded') }}
{{ attach_library('merchcie/masonry') }}

{% set imagePath = '/sites/merchcie/themes/merchcie/images/TEMP/notreorga/' %}

<div id="nos-expertises">
    <div class="bg-color1">
        <div class="container">
            <div class="row">
                <div class="col main-big-title">
                    <h1 class="text-white">
                        <span class="text-color2">10 ans d'expertise</span> au service de vos projets et 8 grands pôles
                        de compétences
                    </h1>
                    <span class="line-vertical dot-pattern-color2"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="c1">
        <div class="container">
            <div class="grid js-grid-masonry">
                <div class="grid-sizer col-12 col-lg-3"></div>
                <div class="grid-item col-12 col-lg-6">
                    <div class="grid-item-content">
                        <a href="">
                            <img class="filter-color1 filter-hover-none img-fluid" src="https://picsum.photos/788/261">
                            <div class="bg-color1 p-4">
                                <h4 class="text-color-white">
                                    Remodeling
                                </h4>
                                <span class="link text-color-white after-arrow">Découvrir nos métiers</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid-item col-12 col-lg-3">
                    <div class="grid-item-content">
                        <a href="">
                            <img class="filter-color1 filter-hover-none img-fluid" src="https://picsum.photos/386/625">
                            <div class="bg-color1 p-4">
                                <h4 class="text-color-white">
                                    état des lieux
                                </h4>
                                <span class="link text-color-white after-arrow">Découvrir nos métiers</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid-item col-12 col-lg-3">
                    <div class="grid-item-content">
                        <a href="">
                            <img class="filter-color2 filter-hover-none img-fluid" src="https://picsum.photos/386/261">
                            <div class="bg-color1 p-4">
                                <h4 class="text-color-white">
                                    Implantations
                                </h4>
                                <span class="link text-color-white after-arrow">Découvrir nos métiers</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid-item col-12 col-lg-3">
                    <div class="grid-item-content">
                        <a href="">
                            <img class="filter-color2 filter-hover-none img-fluid" src="https://picsum.photos/386/625">
                            <div class="bg-color1 p-4">
                                <h4 class="text-color-white">
                                    Théatralisation
                                </h4>
                                <span class="link text-color-white after-arrow">Découvrir nos métiers</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid-item col-12 col-lg-3">
                    <div class="grid-item-content">
                        <a href="">
                            <img class="filter-color2 filter-hover-none img-fluid" src="https://picsum.photos/386/261">
                            <div class="bg-color1 p-4">
                                <h4 class="text-color-white">
                                    Réassort
                                </h4>
                                <span class="link text-color-white after-arrow">Découvrir nos métiers</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid-item col-12 col-lg-3">
                    <div class="grid-item-content">
                        <a href="">
                            <img class="filter-color1 filter-hover-none img-fluid" src="https://picsum.photos/386/261">
                            <div class="bg-color1 p-4">
                                <h4 class="text-color-white">
                                    Comptage
                                </h4>
                                <span class="link text-color-white after-arrow">Découvrir nos métiers</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid-item col-12 col-lg-6">
                    <div class="grid-item-content">
                        <a href="">
                            <img class="filter-color1 filter-hover-none img-fluid" src="https://picsum.photos/788/261">
                            <div class="bg-color1 p-4">
                                <h4 class="text-color-white">
                                    Pose de PLV/ILV
                                </h4>
                                <span class="link text-color-white after-arrow">Découvrir nos métiers</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid-item col-12 col-lg-3">
                    <div class="grid-item-content">
                        <a href="">
                            <img class="filter-color2 filter-hover-none img-fluid" src="https://picsum.photos/386/261">
                            <div class="bg-color1 p-4">
                                <h4 class="text-color-white">
                                    Montage de linéaires
                                </h4>
                                <span class="link text-color-white after-arrow">Découvrir nos métiers</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c2 text-center z1 bg-color1 text-white know-what">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>
                        Envie de savoir ce que nous pouvons <br>vous apporter ?
                    </h3>
                    <a href="#" class="cta bg-color2 text-white">Contactez-nous</a>
                </div>
            </div>
        </div>
        <div class="dot-left dot-pattern-color2"></div>
    </div>
</div>