<!-- TMP -->
{% set imagePath = '/sites/merchcie/themes/merchcie/images/TEMP/livresblancs/' %}

<div id="livresblanc">
    <div class="bg-color1 z1">
        <div class="container">
            <div class="row">
                <div class="col main-big-title">
                    <h1 class="text-white">
                        Les livres blancs <br><span class="text-color2">Merch & Cie</span>
                    </h1>
                    <span class="line-vertical dot-pattern-color2"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="c1 text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <p class="text-color2 intro">
                        Vous voulez en savoir plus sur le merchandising ? <br>
                        Mieux connaître les enjeux et les bonnes pratiques du métier ?
                    </p>
                    <div class="bg-color4 p-5 bloc">
                        <p>
                            Téléchargez notre livre blanc dès aujourd’hui et découvrez les
                            <span class="text-color2">
                                7 étapes clés pour réussir son merchandising opérationnel.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c2 bg-color4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-center">
                    <img src="{{ imagePath }}book.jpg" alt="">
                </div>
                <div class="col-12 col-lg-6">
                    <h3 class="text-color2">
                        7 ETAPES CLES POUR REUSSIR SON MERCHANDISING OPÉRATIONNEL
                    </h3>
                    {# Chargez le form de la popup #}
                </div>
            </div>
        </div>
    </div>

    <div class="c3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <img src="{{ imagePath }}book-open.jpg" alt="">
                </div>
                <div class="col-12 col-lg-6">
                    <h4 class="main">
                        40 pages illustrées d’exemples et de cas concrets, accompagnées des conseils des experts terrain
                        de Merch & Cie.
                    </h4>
                    <p>
                        Tant que la technologie ne permettra pas de toucher, de sentir ou d’essayer les
                        produits, rien ne remplacera un petit saut en magasin. Merch & Cie vous explique les 7 étapes
                        clés
                        pour optimiser les résultats de votre point de vente.
                    </p>
                    <h4 class="text-color2">
                        Industriels
                    </h4>
                    <p class="big">
                        vous voulez augmenter votre marge, chiffre d’affaires et part de marché ?
                    </p>
                    <h4 class="text-color2">
                        DISTRIBUTEURS
                    </h4>
                    <p class="big">
                        vous voulez optimiser vos linéaires et avoir un retour rapide sur investissements ?
                    </p>
                    <div class="bottom-links bg-color4">
                        <a href="#">Téléchargez notre livre blanc,</a> ou <a href="#">contactez-nous</a> pour en discuter !
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>