{{ attach_library('merchcie/lightbox') }}

<!-- TMP -->
{% set imagePath = '/sites/merchcie/themes/merchcie/images/TEMP/challenge-implant/' %}

<div id="challenge">
    <!--INTRO-->
    <div class="bg-color1 z1">
        <div class="container">
            <div class="row">
                <div class="col main-big-title">
                    <span class="line-vertical dot-pattern-color2"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="c1">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <h4 class="text-hand text-color2">Le challenge</h4>
                    <div class="bg-color4 block-txt">
                        <p>
                            Implanter 9 éléments, dont 4 sans planogramme, en 12 heures chrono.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-5 text-intro">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <p>
                        A la demande de 2 fournisseurs de ce magasin, nous avons missionné un de nos merchandiseurs
                        expérimentés pour implanter en un temps record deux rayons : 5 éléments d’outillage avec
                        planogramme et 4 éléments de luminaire et décoration sans planogramme.
                    </p>
                    <p class="text-color2">
                        <b>
                            Mission accomplie en 12 heures de travail par Grégoire, à la totale satisfaction du client.
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {# Au moins UNE image doit être obligatoire, on s'en sert pour la N1 #}
    <div class="c2 bg-color4">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h4 class="text-color2 mb-5">Images du chantier</h4>
                    <div class="row justify-content-center">
                        {% for i in 0..3 %}
                            <div class="col-12 col-lg-3">
                                <a href="https://picsum.photos/1000/1000" class="hover-picto-eye"
                                   data-lightbox="gallery"
                                   data-title="Alt de l'image {{ i }}">
                                    <img class="img-fluid filter-hover-color1" src="https://picsum.photos/1000/1000"
                                         alt="">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Avis statique, pas issu d'une vue, à renseigner dans l'admin de la page Challenge en cours #}
    <div class="c3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <h4 class="text-color2 mb-5 text-center">{{ "L'avis du client"|trans }}</h4>
                    <div class="testimonial-item bg-color2 text-white with-photo">
                        <blockquote class="mb-5">
                            « Très bon suivi de la part des équipes, réactivité, travail de qualité. A recommander sans
                            hésiter. »
                        </blockquote>
                        <div>
                            <img src="https://picsum.photos/100/100"
                                 alt="">
                            <div class="mt-4">
                                <span class="text-hand">Chloé D.</span>
                                <small>Responsable communication Egger</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Ici appeler le bloc "Envie de savoir ce que nous pouvons vous apporter ?" #}
    {# Version "Nous contacter" #}
</div>
