<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="text-color2 mt-5">{{ label }}</h4>
            <span class="line dot-pattern-color2 w-100"></span>
        </div>
    </div>
</div>

<div class="container candidature-spontanee-wrapper py-5">
    {{ content.field_form }}
</div>