<div id="js-popup-book-wrapper">
    <div>
        <div id="js-popup-book">
            <span class="js-close"></span>
            <div class="inner">
                <div class="row">
                    <div class="col title">
                        {{ content.field_popup_title }}
                        <span class="line-vertical dot-pattern-color-white"></span>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-5">
                        {{ content.field_popup_cover }}
                    </div>
                    <div class="col-12 col-lg-6 text-left">
                        {{ content.field_popup_form }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>