{{ attach_library('merchcie/highlight') }}

<div class="container">
    <div class="row">
        <div class="col">
            <!-- TYPO -->
            <section id="typo">
                <h2>Typo</h2>
                <hr>
                <h1>H1 - Lorem Ipsum</h1>
                <pre><code class="langage-xml"><h1>H1 - Lorem Ipsum</h1></code></pre>

                <h2>H2 - Lorem Ipsum</h2>
                <pre><code class="langage-xml"><h2>H2 - Lorem Ipsum</h2></code></pre>

                <h3>H3 - Lorem Ipsum</h3>
                <pre><code class="langage-xml"><h3>H3 - Lorem Ipsum</h3></code></pre>

                <h4 class="text-hand">H4 - Lorem Ipsum : Text hand</h4>
                <pre><code class="langage-xml"><h4 class="text-hand">Lorem Ipsum : Text hand</h4></code></pre>

                <h4 class="text-num">31700</h4>
                <pre><code class="langage-xml"><h4 class="text-num">31700</h4></code></pre>
                <hr>
                <h2 class="before-line line-color1">Lorem Ipsum + Line Color 1</h2>
                <pre><code class="langage-xml"><h2 class="before-line line-color1">Lorem Ipsum + Line Color 1</h2></code></pre>

                <h2 class="before-line line-color2">Lorem Ipsum + Line Color 2</h2>
                <pre><code class="langage-xml"><h2 class="before-line line-color2">Lorem Ipsum + Line Color 2</h2></code></pre>
            </section>

            <!-- COLORS -->
            <section id="colors">
                <h2>
                    Couleurs
                </h2>
                <hr>
                <div class="row text-center">
                    <div class="col-6">
                        <div class="bg-color1 text-white p-5">.bg-color1</div>
                        <pre><code class="langage-xml"><div class="bg-color1">.bg-color1</div></code></pre>
                    </div>
                    <div class="col-6">
                        <div class="bg-color2 p-5 text-white">.bg-color2</div>
                        <pre><code class="langage-xml"><div class="bg-color2">.bg-color2</div></code></pre>
                    </div>
                    <div class="col-6">
                        <div class="bg-color3 p-5 text-white">.bg-color3</div>
                        <pre><code class="langage-xml"><div class="bg-color3">.bg-color3</div></code></pre>
                    </div>
                    <div class="col-6">
                        <div class="bg-color4 p-5">.bg-color4</div>
                        <pre><code class="langage-xml"><div class="bg-color4">.bg-color4</div></code></pre>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <h3 class="text-color1">.text-color1</h3>
                        <pre><code class="langage-xml"><h3 class="text-color1">.text-color1</h3></code></pre>
                    </div>
                    <div class="col-6">
                        <h3 class="text-color2">.text-color2</h3>
                        <pre><code class="langage-xml"><h3 class="text-color2">.text-color2</h3></code></pre>
                    </div>
                    <div class="col-6">
                        <h3 class="text-color3">.text-color3</h3>
                        <pre><code class="langage-xml"><h3 class="text-color3">.text-color3</h3></code></pre>
                    </div>
                    <div class="col-6">
                        <h3 class="text-color4">.text-color4</h3>
                        <pre><code class="langage-xml"><h3 class="text-color4">.text-color4</h3></code></pre>
                    </div>
                </div>
            </section>

            <!-- PATTERNS -->
            <section id="patterns">
                <h2>
                    Patterns
                </h2>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="dot-pattern-color1" style="height: 150px"></div>
                        <pre><code class="langage-xml"><div class="dot-pattern-color1"></div></code></pre>
                    </div>
                    <div class="col">
                        <div class="dot-pattern-color2" style="height: 150px"></div>
                        <pre><code class="langage-xml"><div class="dot-pattern-color2"></div></code></pre>
                    </div>
                    <div class="col">
                        <div class="dot-pattern-color3" style="height: 150px"></div>
                        <pre><code class="langage-xml"><div class="dot-pattern-color3"></div></code></pre>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span class="line dot-pattern-color1 mx-3" style="width: 50px"></span>
                        <span class="line dot-pattern-color2 mx-3" style="width: 50px"></span>
                        <span class="line dot-pattern-color3 mx-3" style="width: 50px"></span>
                        <pre><code class="langage-xml"><span class="line dot-pattern-color1"></span>
<span class="line dot-pattern-color2"></span>
<span class="line dot-pattern-color3"></span></code></pre>
                    </div>
                    <div class="col-12">
                        <span class="line-vertical dot-pattern-color1 mx-3" style="height: 50px"></span>
                        <span class="line-vertical dot-pattern-color2 mx-3" style="height: 50px"></span>
                        <span class="line-vertical dot-pattern-color3 mx-3" style="height: 50px"></span>
                        <pre><code class="langage-xml"><span class="line-vertical dot-pattern-color1"></span>
<span class="line-vertical dot-pattern-color2"></span>
<span class="line-vertical dot-pattern-color3"></span></code></pre>
                    </div>
                </div>
            </section>

            <!-- BUTTONS -->
            <section id="buttons">
                <h2>Buttons / Links</h2>
                <hr>
                <a href="#" class="cta bg-color2 text-white">Bouton call to action</a>
                <pre><code class="langage-xml"><a href="#" class="cta bg-color2 text-white">Bouton call to action</a></code></pre>

                <a href="#" class="cta bg-color2 text-white w-100">Bouton call to action</a>
                <pre><code class="langage-xml"><a href="#" class="cta bg-color2 text-white w-100">Bouton call to action</a></code></pre>

                <a href="#" class="link text-color3 after-arrow">Link with arrow :after</a>
                <pre><code class="langage-xml"><a href="#" class="link text-color3 after-arrow">Link with arrow :after</a></code></pre>
            </section>

            <section id="testimonials">
                <div class="row">
                    <div class="col-6">
                        <div class="testimonial-item bg-color4 text-color1">
                            <blockquote>
                                « Très bon suivi de la part des équipes, réactivité, travail de qualité. A recommander sans hésiter. »
                            </blockquote>
                            <div>
                                <span class="text-hand">Chloé D.</span>
                                <small>Responsable communication Egger</small>
                            </div>
                        </div>
<pre><code class="langage-xml"><div class="testimonial-item bg-color4 text-color1">
    <blockquote>
        « Très bon suivi de la part des équipes, réactivité, travail de qualité. A recommander sans hésiter. »
    </blockquote>
    <div>
        <span class="text-hand">Chloé D.</span>
        <small>Responsable communication Egger</small>
    </div>
</div>
</code></pre>
                    </div>
                    <div class="col-6">
                        <div class="testimonial-item bg-color1 text-white">
                            <blockquote>
                                « Très bon suivi de la part des équipes, réactivité, travail de qualité. A recommander sans hésiter. »
                            </blockquote>
                            <div>
                                <span class="text-hand">Chloé D.</span>
                                <small>Responsable communication Egger</small>
                            </div>
                        </div>
<pre><code><div class="testimonial-item bg-color1 text-white">
    <blockquote>
        « Très bon suivi de la part des équipes, réactivité, travail de qualité. A recommander sans hésiter. »
    </blockquote>
    <div>
        <span class="text-hand">Chloé D.</span>
        <small>Responsable communication Egger</small>
    </div>
</div>
</code></pre>
                    </div>
                    <div class="col-6">
                        <div class="testimonial-item bg-color2 text-white">
                            <blockquote>
                                « Très bon suivi de la part des équipes, réactivité, travail de qualité. A recommander sans hésiter. »
                            </blockquote>
                            <div>
                                <span class="text-hand">Chloé D.</span>
                                <small>Responsable communication Egger</small>
                            </div>
                        </div>
                        <pre><code><div class="testimonial-item bg-color2 text-white">
    <blockquote>
        « Très bon suivi de la part des équipes, réactivité, travail de qualité. A recommander sans hésiter. »
    </blockquote>
    <div>
        <span class="text-hand">Chloé D.</span>
        <small>Responsable communication Egger</small>
    </div>
</div>
</code></pre>
                    </div>
                    <div class="col-6">
                        <div class="testimonial-item bg-color2 text-white with-photo">
                            <div>
                                <img src="https://i.picsum.photos/id/1062/5092/3395.jpg?hmac=o9m7qeU51uOLfXvepXcTrk2ZPiSBJEkiiOp-Qvxja-k" alt="">
                                <div class="mt-4">
                                    <span class="text-hand">Chloé D.</span>
                                    <small>Responsable communication Egger</small>
                                </div>
                            </div>
                            <blockquote>
                                « Très bon suivi de la part des équipes, réactivité, travail de qualité. A recommander sans hésiter. »
                            </blockquote>
                        </div>
<pre><code class="langage-xml"><div class="testimonial-item bg-color2 text-white with-photo">
    <div>
        <img src="#" alt="">
        <div class="mt-4">
            <span class="text-hand">Chloé D.</span>
            <small>Responsable communication Egger</small>
        </div>
    </div>
    <blockquote>
        « Très bon suivi de la part des équipes, réactivité, travail de qualité. A recommander sans hésiter. »
    </blockquote>
</div>
</code></pre>
                    </div>
                </div>
            </section>

            <section id="image">
                <h2>Images</h2>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <img class="img-fluid filter-color1 filter-hover-none" src="https://i.picsum.photos/id/1062/5092/3395.jpg?hmac=o9m7qeU51uOLfXvepXcTrk2ZPiSBJEkiiOp-Qvxja-k" alt="">
                        <pre><code class="langage-xml"><img class="img-fluid filter-color1 filter-hover-none" src="#" alt=""></code></pre>
                    </div>
                    <div class="col-6">
                        <img class="img-fluid filter-color2 filter-hover-none" src="https://i.picsum.photos/id/1062/5092/3395.jpg?hmac=o9m7qeU51uOLfXvepXcTrk2ZPiSBJEkiiOp-Qvxja-k" alt="">
                        <pre><code class="langage-xml"><img class="img-fluid filter-color2 filter-hover-none" src="#" alt=""></code></pre>
                    </div>
                    <div class="col-6">
                        <img class="img-fluid filter-hover-color1" src="https://i.picsum.photos/id/1062/5092/3395.jpg?hmac=o9m7qeU51uOLfXvepXcTrk2ZPiSBJEkiiOp-Qvxja-k" alt="">
                        <pre><code class="langage-xml"><img class="img-fluid filter-hover-color1" src="#" alt=""></code></pre>
                    </div>
                    <div class="col-6">
                        <img class="img-fluid filter-hover-color2" src="https://i.picsum.photos/id/1062/5092/3395.jpg?hmac=o9m7qeU51uOLfXvepXcTrk2ZPiSBJEkiiOp-Qvxja-k" alt="">
                        <pre><code class="langage-xml"><img class="img-fluid filter-hover-color2" src="#" alt=""></code></pre>
                    </div>
                    <div class="col-6">
                        <a href="#" class="hover-picto-eye">
                            <img class="img-fluid filter-hover-color1" src="https://i.picsum.photos/id/1062/5092/3395.jpg?hmac=o9m7qeU51uOLfXvepXcTrk2ZPiSBJEkiiOp-Qvxja-k" alt="">
                        </a>
<pre><code class="langage-xml"><a href="#" class="hover-picto-eye">
    <img class="img-fluid filter-hover-color1" src="#" alt="">
</a>
</code></pre>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>