<div id="webform-node">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="text-color2">{{ label }}</h4>
                <span class="line dot-pattern-color2 w-100"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ content.field_formulaire }}
            </div>
        </div>
    </div>
</div>