<div id="pourquoi">
    <div class="bg-color1 z1">
        <div class="container">
            <div class="row">
                <div class="col main-big-title">
                    <h1 class="text-white">
                        Un spécialiste du Merchandising à votre écoute et sur le terrain :
                        <span class="text-color2">Merch & cie</span>
                    </h1>
                    <span class="line-vertical dot-pattern-color2"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="c1 text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="text-hand text-color2">Le saviez-vous ?</h4>
                </div>
            </div>
            <div class="row numbers-infos">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <div class="row bg-color4">
                        <div class="col-12 col-lg-6 nb-wrapper">
                            <h4 class="text-num">64%</h4>
                            <p>
                                des consommateurs considèrent désormais l’expérience en magasin comme étant plus
                                importante que
                                le prix lors du choix d’une enseigne
                            </p>
                            <small>
                                (Source : étude Gartner 2018)
                            </small>
                        </div>
                        <div class="col-12 col-lg-6 nb-wrapper">
                            <h4 class="text-num">83%</h4>
                            <p>
                                des Français décident directement de leurs achats en magasin
                            </p>
                            <small>
                                (Source : Baromètre Ipsos pour in-Store Media 2020)
                            </small>
                        </div>
                        <span class="line-vertical dot-pattern-color2"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c2">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h3 class="text-color2 bold">
                        Alors comment capitaliser sur ces attentes ?
                    </h3>
                    <p>
                        <b>Grâce au merchandising : un levier clé</b> que vous devez actionner pour <b>améliorer vos
                            résultats.</b>
                    </p>
                    <p class="text-color2">
                        <b>
                            <i>
                                Découvrez comment Merch & Cie peut vous y aider.
                            </i>
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>