<div id="nos-challenges">
    <!--INTRO-->
    <div class="bg-color1 z1">
        <div class="container">
            <div class="row">
                <div class="col main-big-title">
                    <h1 class="text-white">
                        {{ content.field_nos_challenges_intro }}
                    </h1>
                    <span class="line-vertical dot-pattern-color2"></span>
                </div>
            </div>
        </div>
    </div>

    <!--CONTENT 1-->
    <div class="c1">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-lg-6 offset-lg-3">
                    {{ content.field_nos_challenges_c1 }}
                </div>
            </div>
        </div>
    </div>

    <!--CONTENT 2 // CHALLENGES-->
    <div class="c2">
        <div class="container">
            {{ content.field_nos_challenges_block }}
        </div>
    </div>
</div>
