<div id="contact">
    <div class="bg-color1 z1">
        <div class="container">
            <div class="row">
                <div class="col main-big-title text-center">
                    {{ content.field_contact_title }}
                    <span class="line-vertical dot-pattern-color2"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="c1">
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ content.field_contact_form }}
                </div>
            </div>
        </div>
    </div>

    <div class="c2 bg-color4">
        <div class="container">
            <div class="row">
                <div class="col text-center text-color2">
                    <div class="dot-left dot-pattern-color2"></div>
                    {{ content.field_contact_footer }}
                    <div class="dot-right dot-pattern-color3"></div>
                </div>
            </div>
        </div>
    </div>
</div>