<div id="arrivages_S1">
    <div class="row products">
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/lorem_img.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/lorem_img.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/lorem_img.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/lorem_img.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>

        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/lorem_img.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/lorem_img.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/lorem_img.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/lorem_img.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>

        <div class="col-12 text-center">
            <p>{{ 'Rendez-vous <b>en magasin</b> pour encore plus de <b>bons plans à 2€</b>'|trans }}</p>
        </div>
    </div>
</div>