<div id="arrivages_S0">
    <div class="row products">
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>

        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-md-3 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
    </div>
</div>