<header class="text-center">
    <div>
        <a href="{{ url('<front>') }}" title="C'est deux euros">
            <img class="logo" src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/logo.png" alt="C'est deux euros" />
        </a>
    </div>
    <div class="menu">
        {% if page.navigation %}
            {{ page.navigation }}
        {% endif %}
    </div>
    <div class="btn-menu-mobile d-xs-block d-md-none">
        <a href="#block-cestdeuxeuros-main-menu">
            <i class="fas fa-bars"></i>
        </a>
    </div>
</header>