<div id="homepage-products">
    <div class="title">
        Les <b>Offres</b> du moment
    </div>
    <div class="row products">
        <div class="col-6 col-lg-4 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-lg-4 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-lg-4 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>

        <div class="col-6 col-lg-4 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-lg-4 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
        <div class="col-6 col-lg-4 img-wrapper">
            <div class="inner">
                <img src="https://www.cestdeuxeuros.com/dataimages/33474_DEB_BD.jpg" alt=""/>
                <span>2<small>€</small></span>
            </div>
        </div>
    </div>
</div>