// Variables custom

// Media queries
@very-xs: 320px;
@xs: 767px;
@sm: 991px;

@smallPhone:     ~"only screen and (max-width: @{very-xs})";
@phone:          ~"only screen and (max-width: @{xs})";
@tablet:         ~"only screen and (max-width: @{sm})";

// Colors
@grey: #4a4a49;
@pink: #d40058;

// Functions
.dimOpacityOnHover (@opacity) {
  transition: all 0.3s;
  &:hover {
    opacity: @opacity;
  }
}