<header class="container">
    <div class="row">
        <div class="col text-center">
            <a href="{{ url('<front>') }}" title="Yliades">
                <img class="logo" src="{{ url('<front>') }}sites/yliades/themes/yliades/images/header/logo_desktop.png" alt="Yliades">
            </a>
        </div>
    </div>
</header>