<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="main-menu container-fluid">
        <div class="row">
            <div class="col">
                {{ page.navigation }}
            </div>
        </div>
    </div>
</div>