  <label{{ attributes.addClass(['keep']) }}>
    En renseignant ces informations, j’accepte de recevoir la lettre d’information de Côté Table et je confirme avoir pris connaissance de la <a href="/politique-de-confidentialite">politique de confidentialité</a>.
    {% if required %}<span class="required">*</span>{% endif %}</label>
