@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(https://fonts.gstatic.com/s/dancingscript/v9/If2RXTr6YS-zF4S-kcSWSVi_szLgiuQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: local('Dancing Script Bold'), local('DancingScript-Bold'), url(https://fonts.gstatic.com/s/dancingscript/v9/If2SXTr6YS-zF4S-kcSWSVi_szpbr_QqqiY.ttf) format('truetype');
}
@media (min-width: 1620px) {
  .container {
    max-width: 1620px;
  }
}
@media (max-width: 1619px) {
  .container {
    max-width: 100%;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #232323;
}
header a {
  transition: opacity 0.3s;
}
header a:hover {
  opacity: 0.8;
}
header .logo {
  margin: 30px 0;
}
.main-menu {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.main-menu ul {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.main-menu ul li {
  display: inline-block;
  padding: 0 15px;
  line-height: 42px;
  font-size: 14px;
  border-right: 1px solid #bbb;
}
.main-menu ul li:last-child {
  border-right: none;
}
.main-menu ul li a {
  color: #232323;
  font-weight: 600;
  font-size: 14px;
  transition: color 0.3s;
}
.main-menu ul li a:hover {
  color: #b95034;
  text-decoration: none;
}
.mea-marques .marque {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  padding-top: 280px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 991px) {
  .mea-marques .marque {
    padding-top: 260px;
  }
}
@media only screen and (max-width: 767px) {
  .mea-marques .marque {
    padding-top: 0;
  }
}
.mea-marques .marque .upper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 65px 0 30px;
  z-index: 20;
}
@media only screen and (max-width: 767px) {
  .mea-marques .marque .upper {
    position: relative;
    padding: 35px 0 10px;
  }
}
.mea-marques .marque .upper .logo {
  display: inline-block;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .mea-marques .marque .upper .logo img {
    max-height: 100px;
    width: auto;
  }
}
.mea-marques .marque .upper .txt {
  font-size: 13px;
  position: relative;
  display: block;
}
@media (max-width: 1024px) {
  .mea-marques .marque .upper .txt {
    font-size: 12px;
    min-height: 55px;
  }
}
@media only screen and (max-width: 767px) {
  .mea-marques .marque .upper .txt {
    min-height: auto;
  }
}
.mea-marques .marque .upper .txt p {
  margin-bottom: 0;
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .mea-marques .marque .upper .txt p {
    margin-bottom: 20px;
  }
}
.mea-marques .marque .upper .txt .hidden-part {
  display: block;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
  opacity: 0;
}
.mea-marques .marque .upper .txt .hidden-part .cta {
  font-size: 14px;
  color: white;
  display: inline-block;
  border: 1px solid white;
  padding: 5px 40px;
  margin-top: 30px;
  text-decoration: none;
  transition: opacity 0.3s;
}
.mea-marques .marque .upper .txt .hidden-part .cta:hover {
  opacity: 0.8;
}
.mea-marques .marque .upper .arrow {
  position: absolute;
  bottom: -6px;
  height: 15px;
  width: 15px;
  z-index: 10;
  margin-left: -7px;
  transform: rotate(45deg);
}
@media only screen and (max-width: 767px) {
  .mea-marques .marque .upper .arrow {
    display: none;
  }
}
.mea-marques .marque .bottom img {
  height: auto;
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.5s;
}
@media only screen and (max-width: 767px) {
  .mea-marques .marque .bottom img {
    display: none;
  }
}
.mea-marques .marque:hover .upper .hidden-part {
  opacity: 1;
  height: 65px;
}
.mea-marques .marque:hover .bottom img {
  filter: grayscale(0%);
}
@media (max-width: 1024px) {
  .mea-marques .slick-list .col {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 991px) {
  .mea-marques .slick-list {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 767px) {
  .mea-marques .slick-list {
    padding: 0 60px !important;
  }
  .mea-marques .slick-list .slick-slide {
    transition: all 0.3s;
  }
  .mea-marques .slick-list .slick-slide:not(.slick-current) {
    transform: scale(0.8);
  }
  .mea-marques .slick-list .slick-slide:not(.slick-current) .cta-mobile {
    opacity: 0;
  }
  .mea-marques .slick-list .col {
    padding: 0;
    margin-left: -8px;
    margin-right: -8px;
  }
  .mea-marques .slick-list .col .cta-mobile {
    background: black;
    width: 100%;
    display: block;
    margin-top: 8px;
    color: white;
    padding: 7px 0;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.5s;
  }
}
h2#title-marques {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}
@media only screen and (max-width: 991px) {
  h2#title-marques {
    font-size: 35px;
    margin-bottom: 20px;
  }
}
.homepage-text-title {
  padding: 50px;
  border: 1px solid black;
  max-width: 1170px;
  margin: 35px auto 60px;
}
@media only screen and (max-width: 767px) {
  .homepage-text-title {
    padding: 30px;
  }
}
.homepage-text-title h3 {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-weight: 700;
  margin-top: -70px;
  margin-bottom: 35px;
}
@media only screen and (max-width: 991px) {
  .homepage-text-title h3 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .homepage-text-title h3 {
    margin-top: -50px;
    margin-bottom: 25px;
  }
}
.homepage-text-title h3 span {
  background: white;
  padding: 0 30px;
}
@media only screen and (max-width: 991px) {
  .homepage-text-title h3 span {
    padding: 0 15px;
    display: block;
    max-width: 60%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 767px) {
  .homepage-text-title h3 span {
    padding: 0;
    max-width: 100%;
  }
}
.homepage-text-title p {
  margin: 0;
  color: #80807f;
  font-weight: 600;
}
.homepage-encarts-bottom {
  text-align: center;
  margin: 0 auto 60px;
}
@media (min-width: 1500px) {
  .homepage-encarts-bottom {
    max-width: 1400px;
  }
  .homepage-encarts-bottom > div {
    margin-left: -50px;
    margin-right: -50px;
  }
  .homepage-encarts-bottom > div > div {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 767px) {
  .homepage-encarts-bottom > div > div:first-child {
    margin-bottom: 30px;
  }
}
.homepage-encarts-bottom .homepage-block-news {
  border: 1px solid;
}
.homepage-encarts-bottom .homepage-block-news header p {
  margin: 30px 0;
  font-size: 18px;
  color: #232323;
  text-transform: uppercase;
  font-weight: 700;
}
.homepage-encarts-bottom .homepage-block-news .views-field-field-image-evenement .field-content {
  height: 490px;
  width: 360px;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  .homepage-encarts-bottom .homepage-block-news .views-field-field-image-evenement .field-content {
    width: 85%;
    height: 400px;
  }
}
.homepage-encarts-bottom .homepage-block-news .views-field-field-image-evenement .field-content img {
  object-fit: cover;
  box-shadow: 0 0 10px #00000080;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s;
}
.homepage-encarts-bottom .homepage-block-news .views-field-field-image-evenement .field-content img:hover {
  opacity: 0.8;
}
.homepage-encarts-bottom .homepage-block-news .homepage-news-link {
  color: #232323;
  text-decoration: underline;
  margin: 20px 0 40px;
  display: block;
  transition: opacity 0.3s;
}
.homepage-encarts-bottom .homepage-block-news .homepage-news-link:hover {
  opacity: 0.8;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.5;
}
.loader #status {
  width: 36px;
  height: 36px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -18px 0 0 -18px;
}
.loader #status .spinner {
  height: 36px;
  width: 36px;
  position: relative;
  -webkit-animation: rotation .8s infinite linear;
  -moz-animation: rotation .8s infinite linear;
  -o-animation: rotation .8s infinite linear;
  animation: rotation .8s infinite linear;
  border-left: 3px solid rgba(85, 85, 85, 0.3);
  border-right: 3px solid rgba(85, 85, 85, 0.3);
  border-bottom: 3px solid rgba(85, 85, 85, 0.3);
  border-top: 3px solid #555555;
  border-radius: 100%;
}
.views-exposed-form {
  text-align: center;
  margin-bottom: 40px;
}
.views-exposed-form .form-radios > div {
  display: inline-block;
  margin-left: 30px;
  font-size: 14px;
  color: #80807f;
  font-weight: 700;
}
.views-exposed-form .form-radios > div input,
.views-exposed-form .form-radios > div label {
  vertical-align: middle;
  margin: 0;
}
.views-exposed-form .form-radios > div label {
  margin-top: -2px;
}
.views-exposed-form .form-radios > div input[checked=checked] + label {
  color: black;
}
.views-exposed-form .form-radios > div:first-child {
  margin-left: 0;
}
.views-exposed-form .form-radios > div * {
  cursor: pointer;
}
.views-exposed-form input[type=submit] {
  display: none;
}
@media only screen and (max-width: 991px) {
  .views-exposed-form > div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .views-exposed-form > div > div > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .views-exposed-form > div > div > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0;
  }
  .views-exposed-form > div > div > div input {
    display: none;
  }
  .views-exposed-form > div > div > div label {
    color: #8d8d8c;
    background: #e2e2e2;
    padding: 10px 0;
    display: block;
    width: 100%;
  }
  .views-exposed-form > div > div > div input[checked=checked] + label {
    background: #b95034;
    color: white !important;
  }
}
.vue-evenement {
  max-width: 1420px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
}
.vue-evenement header {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 28px;
  color: #232323;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .vue-evenement header {
    width: 70%;
    margin: 0 auto;
    line-height: 1.3;
  }
}
.vue-evenement .item {
  text-align: center;
  margin-bottom: 65px;
}
@media only screen and (max-width: 767px) {
  .vue-evenement .item {
    margin-bottom: 45px;
  }
}
.vue-evenement .item > div {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  .vue-evenement .item > div {
    max-width: 100%;
  }
}
.vue-evenement .item .views-field-field-image-evenement {
  display: inline-block;
  width: 100%;
  height: 220px;
  text-align: center;
  padding: 15px;
  border: 1px solid #bbbbbb;
}
.vue-evenement .item .views-field-field-image-evenement .field-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.vue-evenement .item .views-field-field-image-evenement .field-content a {
  display: block;
}
.vue-evenement .item .views-field-field-image-evenement .field-content a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.vue-evenement .item .views-field-field-image-evenement:hover img {
  width: 110% !important;
  margin-left: -5%;
  opacity: 0.7;
}
.vue-evenement .item .views-field-title {
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px solid #bbbbbb;
  display: flex;
  height: 70px;
  overflow: hidden;
}
.vue-evenement .item .views-field-title > span {
  margin: auto;
}
.vue-evenement .item .views-field-title > span a {
  color: black;
  text-decoration: none;
  transition: opacity 0.3s;
}
.vue-evenement .item .views-field-title > span a:hover {
  opacity: 0.8;
}
.vue-evenement .item .views-field-created {
  color: #b95034;
  text-transform: uppercase;
  font-weight: 700;
  margin: 15px auto;
  text-align: left;
}
.vue-evenement .item .views-field-field-description-evenement {
  text-align: left;
}
.vue-evenement .item .views-field-view-node {
  text-align: left;
  margin-top: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bbbbbb;
}
.vue-evenement .item .views-field-view-node a {
  color: #80807f;
  text-decoration: none;
  transition: opacity 0.3s;
}
.vue-evenement .item .views-field-view-node a:hover {
  opacity: 0.8;
}
.vue-evenement .item .views-field-view-node a:after {
  content: '→';
  display: inline-block;
  font-size: 17px;
  margin-left: 5px;
  transition: margin-left 0.5s;
}
.vue-evenement .item .views-field-view-node a:hover:after {
  margin-left: 10px;
}
