body {
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  color: #434343;
}
h1 {
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
  color: #003663;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 1;
}
h1 span {
  font-family: "Cardenio Modern", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 48px;
}
h2 {
  font-size: 48px;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  line-height: 1;
}
h2 span {
  font-family: "Cardenio Modern Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
h2.semibold {
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
}
h2.semibold b {
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
}
h3 {
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  font-size: 32px;
}
h4 {
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
}
h5 {
  font-size: 16px;
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
p {
  margin-top: 0;
  margin-bottom: 30px;
}
p:last-child {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 25px 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}
a {
  color: #003663;
  text-decoration: underline;
  transition: opacity 0.3s ease-in-out;
}
a:hover {
  opacity: 0.8;
}
.bg-blue {
  background-color: #003663;
}
.bg-yellow {
  background-color: #F9AB00;
}
.bg-salmon {
  background-color: #FDC2A1;
}
.bg-green {
  background-color: #005259;
}
.bg-lightgrey {
  background-color: #EDEDED;
}
.bg-verylightgrey {
  background: #FAFBFC;
}
.bg-white {
  background: white;
}
.pt-grey {
  position: relative;
}
.pt-grey:before {
  content: "";
  width: 100%;
  height: 80px;
  background-color: #FAFBFC;
  position: absolute;
  top: 0;
  left: 0;
}
.pb-white {
  position: relative;
}
.pb-white:before {
  content: "";
  width: 100%;
  height: 150px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
.txt-bordeaux {
  color: #741030;
}
.txt-blue {
  color: #003663;
}
.txt-yellow {
  color: #F9AB00;
}
.text-mea {
  color: white;
}
.text-mea a {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 50px;
  text-decoration: none;
}
.text-mea a:hover {
  transition: opacity 0.3s;
  text-decoration: none;
  cursor: pointer;
}
.text-mea a:hover:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 991px) {
  .text-mea a {
    padding: 15px;
  }
}
.text-mea h3 {
  font-size: 48px;
  line-height: 1;
}
.text-mea h3 span {
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
}
.text-mea h3:after {
  content: "";
  display: block;
  margin: 20px 0;
  width: 40px;
  height: 2px;
  background-color: white;
}
@media only screen and (max-width: 991px) {
  .text-mea h3 {
    font-size: 30px;
  }
}
.text-mea p {
  margin: 0;
  max-width: 60%;
  line-height: 1;
}
@media only screen and (max-width: 991px) {
  .text-mea p {
    max-width: 100%;
  }
}
.text-mea span.fleche {
  margin-top: 40px;
}
@media only screen and (max-width: 991px) {
  .text-mea span.fleche {
    margin-top: 15px;
  }
}
.text-mea.d-flex-absolute {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
}
.text-mea.blue a {
  color: #003663;
}
.text-mea.blue h3:after {
  background-color: #003663;
}
.text-mea.blue,
.text-mea.blue .fleche {
  color: #003663;
}
.text-mea.center {
  text-align: center;
}
.text-mea.center h3:after,
.text-mea.center p {
  margin-left: auto;
  margin-right: auto;
}
.text-mea.center p {
  max-width: 75%;
}
.text-mea.gutter-30 a {
  padding: 30px;
}
.img-shade {
  position: relative;
  height: 100%;
  width: 100%;
}
.img-shade:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
}
.img-shade img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  .img-shade {
    min-height: 300px;
  }
}
.box-shadow {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}
.recette-item .views-field-view-node a,
.fleche {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}
.recette-item .views-field-view-node a:after,
.fleche:after {
  content: "\0027F6";
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  line-height: 1;
  margin-top: -4px;
  margin-left: 10px;
  transition: margin-left 0.3s ease-in-out;
}
.recette-item .views-field-view-node a:hover:after,
.fleche:hover:after {
  margin-left: 30px;
}
.bg-img-blue {
  background: url("../images/background-blue.jpg") repeat-x top center transparent;
  background-size: auto 521px;
}
.bg-img-wood-liseret {
  background: url("../images/background-wood-liseret.jpg") repeat-x center transparent;
}
.bg-img-wood {
  background: url("../images/background-wood.jpg") repeat-x center transparent;
}
.bg-verylightgrey-right {
  position: relative;
}
.bg-verylightgrey-right:after {
  content: "";
  height: 100%;
  width: 3000px;
  background: #FAFBFC;
  position: absolute;
  top: 0;
  left: 150px;
  z-index: -1;
}
.container {
  max-width: 1416px;
}
.container,
.container-fluid,
.container .row > div,
.container-fluid .row > div {
  padding-left: 8px;
  padding-right: 8px;
}
.container .row,
.container-fluid .row {
  margin-left: -8px;
  margin-right: -8px;
}
.container.gutter-24,
.container-fluid.gutter-24,
.container.gutter-24 .row > div,
.container-fluid.gutter-24 .row > div {
  padding-left: 24px;
  padding-right: 24px;
}
.container.gutter-24 .row,
.container-fluid.gutter-24 .row {
  margin-left: -24px;
  margin-right: -24px;
}
.container.gutter-27,
.container-fluid.gutter-27,
.container.gutter-27 .row > div,
.container-fluid.gutter-27 .row > div {
  padding-left: 27px;
  padding-right: 27px;
}
.container.gutter-27 .row,
.container-fluid.gutter-27 .row {
  margin-left: -27px;
  margin-right: -27px;
}
.container .no-gutters,
.container-fluid .no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.container .no-gutters > .col,
.container-fluid .no-gutters > .col,
.container .no-gutters > [class*="col-"],
.container-fluid .no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.container.max-1065 {
  max-width: 1065px;
}
.container.max-1165 {
  max-width: 1165px;
}
.container.max-1350 {
  max-width: 1350px;
}
.container.max-1270 {
  max-width: 1270px;
}
.seo-txt.container,
.seo-txt .container {
  max-width: 1065px;
}
.seo-txt h1,
.seo-txt h2,
.seo-txt h3 {
  color: #003663;
}
.seo-txt .bg-white,
.seo-txt .bg-grey {
  padding: 30px 0;
}
.seo-txt .inner-block {
  height: 100%;
}
.bg-grey {
  background: #FAFBFC;
}
ul.check-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.check-list li {
  margin: 16px 0;
  padding-left: 50px;
  position: relative;
}
ul.check-list li:before {
  content: "";
  height: 30px;
  width: 30px;
  display: inline-block;
  background: url("../images/pico-check-list.svg") no-repeat center transparent;
  background-size: 100%;
  position: absolute;
  top: 5px;
  left: 0;
}
.block-frise-verticale .inner {
  max-width: 340px;
  margin: 0 0 0 55px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.block-frise-verticale h3 {
  color: #003663;
}
.block-frise-verticale h3 + p {
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  margin-bottom: 60px;
  margin-top: 0;
}
.block-frise-verticale .frise {
  position: relative;
  margin: 0;
}
.block-frise-verticale .frise:after {
  content: "";
  height: calc(100% - 10px);
  width: 1px;
  background-color: #741030;
  position: absolute;
  left: -53px;
  top: 5px;
}
.block-white {
  background-color: white;
  padding: 32px;
}
.block-white i {
  font-style: italic;
  color: #003663;
  margin-bottom: 15px;
  display: inline-block;
}
.block-white a {
  color: #003663;
  text-decoration: underline;
}
.js-grid-masonry {
  margin-left: -8px;
  margin-right: -8px;
}
.js-grid-masonry .grid-item {
  overflow: hidden;
  padding: 0 8px;
  position: relative;
}
.js-grid-masonry .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding: 8px 0;
}
@media only screen and (max-width: 991px) {
  .js-grid-masonry .grid-item .pt-5 {
    padding-top: 0;
  }
}
#ban-intro {
  position: relative;
  padding-top: 45px;
}
#ban-intro:before {
  content: "";
  height: 285px;
  width: 100%;
  background-color: #ededed;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#ban-intro .ban img {
  max-width: 100%;
  height: auto;
}
#ban-intro h1 {
  margin: 50px 0;
  line-height: 1.3;
}
#ban-intro h1 span {
  display: block;
}
#ban-intro .text-wrapper {
  max-width: 1055px;
  margin: 0 auto;
  color: #434343;
}
.inner.behind-img-left {
  position: relative;
  z-index: -1;
  padding: 64px;
  margin-left: -50px;
}
.inner.behind-img-left p:last-child {
  margin-bottom: 0;
}
.inner.behind-img-left h3 {
  color: #003663;
}
.inner.behind-img-left a {
  color: #003663;
  text-decoration: underline;
  transition: opacity 0.3s ease-in-out;
}
.inner.behind-img-left a:hover {
  opacity: 0.8;
}
.inner.box-shadow {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}
.colored-slideshow .item {
  padding: 60px 165px;
  margin-bottom: 90px;
}
.colored-slideshow .item.blue {
  background: transparent linear-gradient(32deg, #618D9F 0%, #88B0C1 100%) 0% 0% no-repeat padding-box;
}
.colored-slideshow .item.pink {
  background: transparent linear-gradient(25deg, #E84E82 0%, #FF7CA8 100%) 0% 0% no-repeat padding-box;
}
.colored-slideshow .item.flat-blue {
  background: #718CB3 0 0 no-repeat padding-box;
}
.colored-slideshow .item.orange {
  background: transparent linear-gradient(34deg, #E37F03 0%, #FAA501 100%) 0% 0% no-repeat padding-box;
}
.colored-slideshow img {
  display: inline-block;
  margin-top: 210px;
  margin-bottom: -130px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
}
.colored-slideshow h3 {
  margin-bottom: 48px;
}
.colored-slideshow h4 {
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 30px;
  font-style: italic;
}
.colored-slideshow a {
  text-decoration: underline;
  color: white;
}
.colored-slideshow p {
  margin-bottom: 2rem;
}
.colored-slideshow .slick-prev,
.colored-slideshow .slick-next {
  position: absolute;
  top: 100px;
  right: 257px;
  z-index: 10;
  font-size: 0;
  height: 84px;
  width: 84px;
  border: 4px solid white;
  background: transparent;
  transition: opacity 0.3s;
  text-decoration: none;
  cursor: pointer;
}
.colored-slideshow .slick-prev:hover,
.colored-slideshow .slick-next:hover {
  opacity: 0.8;
}
.colored-slideshow .slick-prev:after,
.colored-slideshow .slick-next:after {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-top: 6px solid white;
  border-right: 6px solid white;
  transform-origin: center;
  transform: rotate(-135deg);
  top: 24px;
  left: 30px;
  border-radius: 2px;
}
.colored-slideshow .slick-next {
  right: 165px;
}
.colored-slideshow .slick-next:after {
  transform: rotate(45deg);
  top: 24px;
  left: 15px;
}
.js-slick-txt {
  padding: 100px 0;
}
.js-slick-txt .question {
  padding: 0 15px;
}
.js-slick-txt .question .nb {
  background: #003663;
  color: white;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
  line-height: 50px;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 10px;
}
.js-slick-txt .question h4 {
  font-size: 24px;
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
  color: #003663;
  line-height: 1;
  margin: 0 0 15px 8px;
}
.js-slick-txt .question p {
  display: block;
}
.js-slick-txt .question p:last-child {
  margin-bottom: 0;
}
.js-slick-txt .slick-prev,
.js-slick-txt .slick-next {
  position: absolute;
  top: 40px;
  left: 15px;
  font-size: 0;
  height: 40px;
  width: 40px;
  border: 2px solid #003663;
  text-align: center;
  background: transparent;
}
.js-slick-txt .slick-prev:after,
.js-slick-txt .slick-next:after {
  content: "";
  height: 10px;
  width: 10px;
  display: inline-block;
  border-top: 3px solid #003663;
  border-right: 3px solid #003663;
  transform: rotate(-135deg);
  transform-origin: center;
  margin-right: -2px;
}
.js-slick-txt .slick-next {
  left: 63px;
}
.js-slick-txt .slick-next:after {
  transform: rotate(45deg);
  margin-left: -2px;
}
.custom-tabs .nav-link {
  padding: 0 24px 0 0;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  color: #003663;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}
.custom-tabs .nav-link.active {
  opacity: 1;
}
.custom-tabs .nav-item:last-child .nav-link {
  padding-right: 0;
}
.custom-tabs img {
  max-width: 100%;
}
.custom-tabs + .tab-content table {
  font-size: 13px;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}
.custom-tabs + .tab-content table small {
  font-size: 11px;
  text-transform: none;
}
.custom-tabs + .tab-content table th,
.custom-tabs + .tab-content table td {
  vertical-align: middle;
  line-height: 1;
  padding: 15px 0;
  border: none;
}
.custom-tabs + .tab-content table .darkblue {
  background-color: #003663;
  color: white;
}
.custom-tabs + .tab-content table .lightblue {
  background-color: #9FB2C9;
  color: white;
}
.custom-tabs + .tab-content table thead th {
  font-size: 16px;
  font-weight: normal;
}
.custom-tabs + .tab-content table.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #FAFBFC;
}
.max-455 {
  max-width: 455px;
  text-align: left;
  display: inline-block;
  position: relative;
}
.number {
  height: 100px;
  width: 100px;
  line-height: 100px;
  background: #003663;
  text-align: center;
  color: white;
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
  font-size: 49px;
  display: block;
  position: absolute;
  top: 0;
  left: 8px;
}
.number.yellow {
  background: #F9AB00;
}
.pt-115 {
  padding-top: 115px;
}
.pl-85 {
  padding-left: 85px;
}
.tableau-presentation {
  overflow: hidden;
}
.tableau-presentation .inner {
  height: 100%;
  border: 1px solid #EDEDED;
  display: flex;
  flex-direction: column;
}
.tableau-presentation img {
  display: block;
  height: 100%;
  max-height: 170px;
  width: 100%;
  object-fit: contain;
  padding: 15px;
}
.tableau-presentation .heading {
  background: #F9AB00;
  color: white;
  text-align: center;
  line-height: 50px;
  display: block;
  text-transform: uppercase;
  margin-left: -2px;
  padding-left: 2px;
}
.yellow-table {
  width: 100%;
}
.yellow-table tr {
  line-height: 40px;
}
.yellow-table tr td {
  padding: 0 15px;
  text-align: center;
  border: 1px solid #EDEDED;
}
.yellow-table tr td:first-child {
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  background: #F9AB00;
  color: white;
  text-align: left;
  min-width: 60%;
}
@media only screen and (max-width: 767px) {
  .yellow-table tr td {
    text-align: center !important;
    display: block;
  }
}
.svg-ail {
  background: url("../images/img-gousse.svg") no-repeat center transparent;
  width: 160px;
  height: 175px;
  display: block;
  position: absolute;
  bottom: -35px;
  left: 0;
}
.svg-fleur {
  background: url("../images/img-feuille.svg") no-repeat center transparent;
  height: 175px;
  width: 110px;
  display: block;
  position: absolute;
  bottom: -115px;
  right: 30px;
}
.svg-infos small {
  font-size: 10px;
  line-height: 1.3;
  margin-top: 10px;
  display: block;
}
.svg-infos img {
  width: 97px;
  height: 97px;
  object-fit: cover;
}
.svg-infos.small img {
  width: 75px;
  height: 75px;
}
.picto-plus,
.picto-moins {
  background: url("../images/icon_feather-plus-circle.svg") no-repeat center / cover transparent;
  height: 43px;
  width: 43px;
  position: absolute;
  top: -16px;
  left: -60px;
}
.picto-moins {
  background: url("../images/icon_feather-minus-circle.svg") no-repeat center / cover transparent;
}
.img-contain {
  object-fit: contain !important;
}
.border-lightgrey {
  border: 1px solid lightgrey;
}
.bottom-highlight {
  padding: 30px 0;
  text-align: center;
}
.bottom-highlight p {
  margin: 0;
  color: white;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  font-style: italic;
}
.slider img {
  max-width: 100%;
  height: auto;
}
.slider .slick-left-arrow,
.slider .slick-right-arrow {
  display: none;
}
.slider .slick-arrow {
  position: absolute;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  border-top: 4px solid white;
  border-right: 4px solid white;
  height: 20px;
  width: 20px;
  font-size: 0;
  cursor: pointer;
}
.slider .slick-arrow.slick-prev {
  left: 260px;
  margin-top: -14px;
  top: 50%;
  transform: rotate(-135deg);
  z-index: 2;
}
.slider .slick-arrow.slick-next {
  right: 260px;
  margin-top: -14px;
  top: 50%;
  transform: rotate(45deg);
}
.slider .slick-dots {
  position: absolute;
  bottom: -3px;
  list-style-type: none;
  left: 0;
  right: 0;
  text-align: center;
}
.slider .slick-dots li {
  display: inline;
}
.slider .slick-dots li button {
  font-size: 0;
  border: 1px solid rgba(255, 255, 255, 0.7);
  height: 8px;
  width: 8px;
  border-radius: 8px;
  padding: 0;
  margin-right: 10px;
  background: #434343;
  cursor: pointer;
  outline: none;
}
.slider .slick-dots li.slick-active button {
  background: #741030;
}
@font-face {
  font-family: 'Cardenio Modern';
  src: url('../fonts/cardeniomodern-regular-webfont.woff2') format('woff2'), url('../fonts/cardeniomodern-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cardenio Modern Bold';
  src: url('../fonts/cardeniomodern-bold-webfont.woff2') format('woff2'), url('../fonts/cardeniomodern-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}
.header-wrapper header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}
.header-wrapper header .header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
.header-wrapper nav ul:last-child {
  margin-right: 0;
}
.header-wrapper nav ul li a {
  color: #434343;
  text-decoration: none;
  font-size: 16px;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  margin: 0 24px;
  line-height: 117px;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
}
.header-wrapper nav ul li a.is-active,
.header-wrapper nav ul li a:hover {
  border-color: #003663;
  color: #003663;
}
.header-wrapper nav ul a.ou-acheter {
  display: inline-block;
  line-height: 46px;
  background-color: #741030;
  border-radius: 23px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Cardenio Modern Bold", Arial, Helvetica, sans-serif;
  font-size: 22px;
  position: relative;
  padding: 0 40px 0 65px;
  border: none;
  transition: opacity 0.3s;
  text-decoration: none;
  cursor: pointer;
}
.header-wrapper nav ul a.ou-acheter:hover {
  opacity: 0.8;
}
.header-wrapper nav ul a.ou-acheter:before {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("../images/icon-basket.svg") no-repeat center transparent;
  height: 21px;
  width: 24px;
  top: calc(50% - 12px);
  left: 25px;
}
.header-wrapper nav ul a.ou-acheter:hover {
  border-bottom: none;
  color: white;
}
#homepage > div > .container {
  max-width: 1225px;
}
#homepage .content-1 .txt-img-under-wrapper {
  display: block;
  height: 100%;
  position: relative;
}
#homepage .content-1 .txt-img-under-wrapper .picto-1 {
  position: absolute;
  left: -500px;
  top: 0;
  height: 442px;
  width: 508px;
  background: url("../images/poele.png") no-repeat center transparent;
}
#homepage .content-1 .txt-img-under-wrapper .txt {
  position: absolute;
  bottom: 0;
  max-width: 473px;
}
#homepage .content-1 .txt-img-under-wrapper .img-under {
  float: right;
}
#homepage .content-2 {
  margin-top: 82px;
}
#homepage .content-2 .picto-2 {
  position: absolute;
  right: -87px;
  top: -91px;
  height: 250px;
  width: 250px;
  background: url("../images/j-aime-cuisiner.svg") no-repeat center transparent;
}
#homepage .content-2 .text-mea a {
  padding: 0;
}
#homepage .content-3 {
  margin-top: 97px;
}
#homepage .content-3 .content-3-title {
  position: relative;
}
#homepage .content-3 .content-3-title .picto-3 {
  position: absolute;
  right: -227px;
  top: -280px;
  height: 349px;
  width: 349px;
  background: url("../images/poivron.png") no-repeat center transparent;
}
#homepage .content-3 .text-mea h3 {
  font-size: 32px;
}
#homepage .content-3 .text-mea h3:after {
  margin-bottom: 15px;
}
#homepage .content-3 .text-mea p {
  line-height: 1;
}
#homepage .content-3 .content-3-img {
  margin: 50px auto 0 auto;
}
#homepage .content-3 .content-3-paragraph {
  margin-top: 62px;
  margin-bottom: 72px;
}
#homepage .content-3 .content-3-paragraph p {
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
  color: #434343;
}
.vue-recettes.page {
  padding-top: 50px;
  padding-bottom: 50px;
}
.vue-recettes.page,
.entete-recettes,
.footer-recettes {
  background-color: #FBFBFB;
}
.entete-recettes.bg-img-wood {
  background-position: top center;
  background-size: auto 280px;
}
.entete-recettes p {
  max-width: 525px;
  margin: 30px auto 0;
}
.footer-recettes .block-txt {
  background: white;
  border: 1px solid #EDEDED;
  padding: 30px;
  margin: 16px 0;
}
.footer-recettes .block-txt a {
  color: #003663;
  text-decoration: underline;
  transition: opacity 0.3s ease-in-out;
}
.footer-recettes .block-txt a:hover {
  opacity: 0.8;
}
.recettes-filters {
  border: 1px solid #EDEDED;
  padding: 24px;
  background-color: white;
}
.recettes-filters .recettes-filters-title {
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #003663;
}
.recettes-filters .recettes-filters-title:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #003663;
  margin-top: 8px;
  margin-bottom: 24px;
}
.recettes-filters label:first-child {
  display: none;
}
.recettes-filters input.form-text {
  width: 100%;
  margin-bottom: 15px;
}
.recettes-filters .form-wrapper {
  margin-bottom: 15px;
}
.recettes-filters .form-wrapper .fieldset-legend {
  color: #434343;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.recettes-filters .form-wrapper .fieldset-legend:after {
  content: "";
  border-top: 2px solid #434343;
  border-right: 2px solid #434343;
  top: 20px;
  height: 11px;
  width: 11px;
  transform: rotate(-45deg);
  position: relative;
  float: right;
}
.recettes-filters .form-wrapper .fieldset-wrapper .form-item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.recettes-filters .form-wrapper .fieldset-wrapper .form-checkbox {
  height: 20px;
  width: 20px;
}
.recettes-filters .form-wrapper .fieldset-wrapper .option {
  padding-left: 8px;
  margin-bottom: 0;
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.recettes-filters .form-actions {
  display: none;
}
.recette-item {
  border: 1px solid #EDEDED;
  background-color: white;
}
.recette-item .field-content {
  overflow: hidden;
}
.recette-item img {
  width: 100%;
  object-fit: cover;
  height: 197px;
  transition: transform .3s ease;
}
.recette-item img:hover {
  transform: scale(1.1);
}
.recette-item .views-field-field-recipe-title .field-content {
  font-size: 16px;
  line-height: 1;
  min-height: 32px;
  margin: 15px 0;
  padding: 0 24px;
  color: #003663;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
}
.recette-item .views-field-field-recipe-intro .field-content {
  font-size: 16px;
  line-height: 1;
  min-height: 52px;
  color: #434343;
  padding: 0 24px 20px 24px;
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
.recette-item .views-field-view-node a {
  color: #003663;
  padding-left: 24px;
  margin-bottom: 15px;
}
#recette-individuelle .bg-img-wood {
  background-position: top center;
  background-size: 100% 400px;
}
#recette-individuelle .bg-img-wood img {
  width: 100%;
  object-fit: cover;
  max-height: 627px;
}
#recette-individuelle .pills span {
  font-size: 12px;
  display: inline-block;
  border: 1px solid #EDEDED;
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
#recette-individuelle .pills span:first-child {
  margin-left: 0;
}
#recette-individuelle .pills span:hover {
  border-color: #003663;
  background: #003663;
  color: white;
}
#recette-individuelle .picto-prepa {
  height: 30px;
  background: url("../images/picto-prepa.svg") no-repeat center transparent;
}
#recette-individuelle .picto-cuisson {
  height: 30px;
  background: url("../images/picto-cuisson.svg") no-repeat center transparent;
}
#recette-individuelle .picto-quantite {
  height: 30px;
  background: url("../images/picto-quantite.svg") no-repeat center transparent;
}
#recette-individuelle h3 {
  color: #003663;
}
#recette-individuelle h3:after {
  content: "";
  display: block;
  margin: 15px 0;
  width: 40px;
  height: 2px;
  background-color: #003663;
}
#recette-individuelle ol {
  font-size: 20px;
  counter-reset: item;
}
#recette-individuelle ol li {
  position: relative;
  display: block;
  padding-left: 60px;
  margin: 15px 0;
}
#recette-individuelle ol li:before {
  content: counter(item);
  counter-increment: item;
  background: #003663;
  color: white;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 24px;
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
  display: inline-block;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
}
#recette-individuelle ol,
#recette-individuelle ul {
  list-style-type: none;
  padding-left: 0;
}
#recette-individuelle .img-recette {
  max-width: 100%;
  height: auto;
}
#recette-individuelle .slider h2 {
  display: none;
}
#recette-individuelle .slider img {
  max-width: 325px;
}
#recette-individuelle .slider .slick-arrow {
  border-color: #003663;
}
.titre-bloc-recettes {
  color: #003663;
  font-size: 48px;
}
.titre-bloc-recettes:after {
  content: "";
  display: block;
  margin: 15px 0;
  width: 40px;
  height: 2px;
  background-color: #003663;
}
#produits #content-1,
#conseils #content-1 {
  background-position: top center;
  padding-top: 95px;
}
#produits #content-1 .container,
#conseils #content-1 .container {
  position: relative;
}
#produits #content-1 .container:before,
#conseils #content-1 .container:before {
  content: "";
  position: absolute;
  top: -280px;
  left: -230px;
  background: url("../images/poivronrouge.png");
  height: 355px;
  width: 367px;
}
#produits #content-2 .container,
#conseils #content-2 .container {
  position: relative;
}
#produits #content-2 .container:before,
#conseils #content-2 .container:before {
  content: "";
  position: absolute;
  top: -275px;
  right: -300px;
  background: url("../images/pdt.png");
  height: 451px;
  width: 451px;
}
#conseils #content-1 {
  padding-top: 0;
}
#conseils #content-1 .container:before,
#conseils #content-2 .container:before {
  display: none;
}
#conseils-indiv h2 {
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
}
#conseils-indiv .tab-pane ul {
  padding-left: 15px;
}
#conseils-indiv .img-max-wrapper img {
  width: 100%;
  object-fit: cover;
  height: 227px;
}
#conseils-indiv.cocottes .yellow-table td {
  background: white;
  color: #434343;
  text-align: center;
  width: 50%;
  min-width: unset;
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
#conseils-indiv.cocottes .yellow-table tr.head > td {
  background: #F9AB00;
  color: white;
}
#marque h1 span {
  display: block;
}
#marque #content-1 {
  position: relative;
}
#sitram-et-moi {
  position: relative;
}
#sitram-et-moi:before {
  content: "";
  height: 960px;
  width: 100%;
  background-color: #ededed;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#sitram-et-moi h1 {
  margin: 70px 0 30px;
}
#sitram-et-moi #txt .txt-wrapper {
  background: #FAFBFC;
}
#sitram-et-moi #txt .txt-wrapper .inner {
  max-width: 1065px;
  margin: 0 auto;
}
#service-client .intro h1 {
  margin: 60px 0 25px;
  display: inline-block;
}
#service-client .intro p {
  max-width: 525px;
  margin: 30px auto;
}
#service-client .intro .bg-lightgrey {
  margin: 0 -8px;
}
#service-client .fake-height {
  min-height: 400px;
}
@media (max-width: 1100px) {
  #service-client .fake-height {
    min-height: 300px;
  }
}
#produit img {
  max-width: 100%;
  height: auto;
}
#produit h3 {
  color: #003663;
}
#produit .colored-slideshow h3 {
  color: white;
}
#produit .js-grid-masonry .grid-item .txt {
  background: white;
  position: absolute;
  bottom: 8px;
  left: 8px;
  padding: 12px;
  max-width: 75%;
  overflow: hidden;
}
#produit .js-grid-masonry .grid-item .txt h3 {
  color: #003663;
  font-size: 24px;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  line-height: 1.1;
  margin: 0 0 5px 0;
}
#produit .js-grid-masonry .grid-item .txt h3 span {
  text-transform: uppercase;
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
}
#produit .js-grid-masonry .grid-item .txt p {
  margin: 0;
}
#produit.cocotte .content-1 img {
  max-width: 100%;
}
#produit.cocotte .content-1 p {
  margin-bottom: 30px;
}
#produit.cocotte .content-1 p:last-child {
  margin-bottom: 0;
}
#produit.cocotte .block-frise-verticale .inner {
  max-width: 520px;
}
#produit.casseroles .block-frise-verticale img {
  margin: 8px auto;
  display: block;
}
#produit.casseroles .block-frise-verticale img:first-child {
  margin-top: 3rem;
}
#produit.autocuiseurs .pt-grey:before {
  height: 820px;
}
.footer-wrapper .newsletter-wrapper {
  background-color: #741030;
  padding: 70px 100px;
}
.footer-wrapper .newsletter-wrapper .text-mea h3 {
  font-size: 32px;
}
.footer-wrapper .newsletter-wrapper .text-mea span {
  display: inline;
}
.footer-wrapper .newsletter-wrapper .form-newsletter {
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.footer-wrapper .newsletter-wrapper .form-newsletter label {
  display: block;
  color: white;
}
.footer-wrapper .newsletter-wrapper .form-newsletter input {
  line-height: 59px;
  padding-left: 20px;
  width: 100%;
}
.footer-wrapper .newsletter-wrapper .form-newsletter ::placeholder {
  color: #b9b9b9;
}
.footer-wrapper .newsletter-wrapper .form-newsletter .form-email {
  margin-bottom: 5px;
}
.footer-wrapper .newsletter-wrapper .form-newsletter .name-wrapper {
  margin-bottom: 40px;
}
.footer-wrapper .newsletter-wrapper .form-newsletter .form-submit input {
  background-color: #FDC2A1;
  color: #741030;
  text-transform: uppercase;
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
  border-style: none;
  transition: opacity 0.3s;
  text-decoration: none;
  cursor: pointer;
}
.footer-wrapper .newsletter-wrapper .form-newsletter .form-submit input:hover {
  opacity: 0.8;
}
.footer-wrapper .newsletter-wrapper .js-hidden-part {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.footer-wrapper .newsletter-wrapper .js-hidden-part.show {
  max-height: 300px;
}
.footer-wrapper .logos-wrapper {
  background-color: #EDEDED;
  margin-top: -210px;
  padding-top: 260px;
  padding-bottom: 50px;
}
.footer-wrapper .logos-wrapper .logo {
  height: 118px;
  display: block;
  margin: 0 auto;
}
.footer-wrapper .logos-wrapper .logo1 {
  width: 127px;
  background: url("../images/footer/logo-footer-sitram-marque.svg") no-repeat center transparent;
}
.footer-wrapper .logos-wrapper .logo2 {
  width: 105px;
  background: url("../images/footer/logo-footer-1963.svg") no-repeat center transparent;
}
.footer-wrapper .logos-wrapper .logo3 {
  width: 116px;
  background: url("../images/footer/logo-footer-service-client.svg") no-repeat center transparent;
}
.footer-wrapper .logos-wrapper .logo4 {
  width: 85px;
  background: url("../images/footer/logo-footer-cuisiner.svg") no-repeat center transparent;
}
.footer-wrapper .logos-wrapper span {
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}
.footer-wrapper .links {
  padding: 30px 0 35px 15px;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
}
.footer-wrapper .links > div {
  border-right: 1px solid #EDEDED;
}
.footer-wrapper .links > div:last-child {
  border: none;
}
.footer-wrapper .links h4 {
  color: #003663;
  font-size: 18px;
}
.footer-wrapper .links h4:before {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: #003663;
  margin-bottom: 3px;
}
.footer-wrapper .links ul {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
}
.footer-wrapper .links ul li {
  list-style-type: none;
}
.footer-wrapper .links ul li :before {
  content: "";
  height: 4px;
  width: 4px;
  background-color: #434343;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 2px;
  margin-right: 8px;
}
.footer-wrapper .links ul li a {
  text-decoration: none;
  color: #434343;
  font-size: 16px;
}
.footer-wrapper .links p {
  font-size: 14px;
  line-height: 1;
  color: #434343;
  margin-top: 10px;
  margin-bottom: 0;
}
.footer-wrapper .links p a {
  text-decoration: underline;
  color: #434343;
}
.footer-wrapper .links div.social1 {
  margin-bottom: 15px;
  height: 25px;
  width: 25px;
  background: url("../images/footer/facebook.svg") no-repeat center transparent;
}
.footer-wrapper .links div.social2 {
  margin-bottom: 15px;
  height: 25px;
  width: 25px;
  background: url("../images/footer/instagram.svg") no-repeat center transparent;
}
.footer-wrapper .links div.social3 {
  height: 25px;
  width: 25px;
  background: url("../images/footer/pinterest.svg") no-repeat center transparent;
}
.copyright {
  font-size: 12px;
  color: white;
  line-height: 30px;
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
.breadcrumb-sitram ul {
  margin: 0;
  padding: 0;
}
.breadcrumb-sitram ul li {
  line-height: 70px;
  display: inline-block;
  color: #9FB2C9;
}
.breadcrumb-sitram ul li a {
  color: #434343;
  text-decoration: none;
}
.breadcrumb-sitram ul li a:after {
  content: "";
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
