body {
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  color: #434343;
}
h1 {
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
  color: #003663;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 1;
  margin: 0;
}
h1 span {
  font-family: "Cardenio Modern", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 48px;
}
h2 {
  font-size: 48px;
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
  margin-bottom: 3px;
}
h2 span {
  font-family: "Cardenio Modern Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.bg-blue {
  background-color: #003663;
}
.text-mea {
  color: white;
}
.text-mea a {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 50px;
}
.text-mea a:hover {
  transition: opacity 0.3s;
  text-decoration: none;
}
.text-mea a:hover:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 991px) {
  .text-mea a {
    padding: 15px;
  }
}
.text-mea h3 {
  font-size: 48px;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  line-height: 1;
}
.text-mea h3 span {
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
}
.text-mea h3:after {
  content: "";
  display: block;
  margin: 20px 0;
  width: 40px;
  height: 2px;
  background-color: white;
}
@media only screen and (max-width: 991px) {
  .text-mea h3 {
    font-size: 30px;
  }
}
.text-mea p {
  margin: 0;
  max-width: 60%;
  line-height: 1;
}
@media only screen and (max-width: 991px) {
  .text-mea p {
    max-width: 100%;
  }
}
.text-mea span.fleche {
  margin-top: 40px;
}
@media only screen and (max-width: 991px) {
  .text-mea span.fleche {
    margin-top: 15px;
  }
}
.text-mea.d-flex-absolute {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
}
.text-mea.blue a {
  color: #003663;
}
.text-mea.blue h3:after {
  background-color: #003663;
}
.text-mea.blue,
.text-mea.blue .fleche {
  color: #003663;
}
.text-mea.center {
  text-align: center;
}
.text-mea.center h3:after,
.text-mea.center p {
  margin-left: auto;
  margin-right: auto;
}
.text-mea.center p {
  max-width: 75%;
}
.text-mea.gutter-30 a {
  padding: 30px;
}
.img-shade {
  position: relative;
  height: 100%;
  width: 100%;
}
.img-shade:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
}
.box-shadow {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}
.recette-item .views-field-view-node a,
.fleche {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}
.recette-item .views-field-view-node a:after,
.fleche:after {
  content: "\0027F6";
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  line-height: 1;
  margin-top: -4px;
  margin-left: 10px;
  transition: margin-left 0.3s ease-in-out;
}
.recette-item .views-field-view-node a:hover:after,
.fleche:hover:after {
  margin-left: 30px;
}
.bg-img-blue {
  background: url("../images/background-blue.jpg") repeat-x top center transparent;
  background-size: auto 521px;
}
.bg-img-wood-liseret {
  background: url("../images/background-wood-liseret.jpg") repeat-x center transparent;
}
.bg-img-wood {
  background: url("../images/background-wood.jpg") repeat-x center transparent;
}
.container {
  max-width: 1416px;
}
.container,
.container-fluid,
.container .row > div,
.container-fluid .row > div {
  padding-left: 8px;
  padding-right: 8px;
}
.container .row,
.container-fluid .row {
  margin-left: -8px;
  margin-right: -8px;
}
.container.gutter-24,
.container-fluid.gutter-24,
.container.gutter-24 .row > div,
.container-fluid.gutter-24 .row > div {
  padding-left: 24px;
  padding-right: 24px;
}
.container.gutter-24 .row,
.container-fluid.gutter-24 .row {
  margin-left: -24px;
  margin-right: -24px;
}
.seo-txt.container,
.seo-txt .container {
  max-width: 1065px;
}
.seo-txt .bg-white,
.seo-txt .bg-grey {
  padding: 30px 0;
}
.seo-txt .bg-grey {
  background: #FAFBFC;
}
.seo-txt h1,
.seo-txt h2,
.seo-txt h3 {
  color: #003663;
}
.seo-txt h2,
.seo-txt h3 {
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
}
.seo-txt h1,
.seo-txt p,
.seo-txt h3 {
  margin: 25px 0;
}
.seo-txt h2 {
  margin-bottom: 35px;
}
.seo-txt h3 {
  font-size: 32px;
}
.seo-txt a {
  color: #003663;
  text-decoration: underline;
  transition: opacity 0.3s ease-in-out;
}
.seo-txt a:hover {
  opacity: 0.8;
}
#ban-intro {
  position: relative;
  padding-top: 45px;
}
#ban-intro:before {
  content: "";
  height: 285px;
  width: 100%;
  background-color: #ededed;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#ban-intro .ban img {
  max-width: 100%;
  height: auto;
}
#ban-intro h1 {
  margin: 50px 0;
  line-height: 1.3;
}
#ban-intro h1 span {
  display: block;
}
#ban-intro .text-wrapper {
  max-width: 1055px;
  margin: 0 auto;
  color: #434343;
}
@font-face {
  font-family: 'Cardenio Modern';
  src: url('../fonts/cardeniomodern-regular-webfont.woff2') format('woff2'), url('../fonts/cardeniomodern-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cardenio Modern Bold';
  src: url('../fonts/cardeniomodern-bold-webfont.woff2') format('woff2'), url('../fonts/cardeniomodern-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}
.header-wrapper header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}
.header-wrapper header .header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
.header-wrapper nav ul:last-child {
  margin-right: 0;
}
.header-wrapper nav ul li a {
  color: #434343;
  text-decoration: none;
  font-size: 16px;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  margin: 0 24px;
  line-height: 117px;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
}
.header-wrapper nav ul li a.is-active,
.header-wrapper nav ul li a:hover {
  border-color: #003663;
  color: #003663;
}
.header-wrapper nav ul a.ou-acheter {
  display: inline-block;
  line-height: 46px;
  background-color: #741030;
  border-radius: 23px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Cardenio Modern Bold", Arial, Helvetica, sans-serif;
  font-size: 22px;
  position: relative;
  padding: 0 40px 0 65px;
  border: none;
  transition: opacity 0.3s;
  text-decoration: none;
}
.header-wrapper nav ul a.ou-acheter:hover {
  opacity: 0.8;
}
.header-wrapper nav ul a.ou-acheter:before {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("../images/icon-basket.svg") no-repeat center transparent;
  height: 21px;
  width: 24px;
  top: calc(50% - 12px);
  left: 25px;
}
.header-wrapper nav ul a.ou-acheter:hover {
  border-bottom: none;
  color: white;
}
#homepage .slider img {
  max-width: 100%;
  height: auto;
}
#homepage .slider .slick-left-arrow,
#homepage .slider .slick-right-arrow {
  display: none;
}
#homepage .slider .slick-arrow {
  position: absolute;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  border-top: 4px solid white;
  border-right: 4px solid white;
  height: 20px;
  width: 20px;
  font-size: 0;
  cursor: pointer;
}
#homepage .slider .slick-arrow.slick-prev {
  left: 260px;
  margin-top: -14px;
  top: 50%;
  transform: rotate(-135deg);
  z-index: 2;
}
#homepage .slider .slick-arrow.slick-next {
  right: 260px;
  margin-top: -14px;
  top: 50%;
  transform: rotate(45deg);
}
#homepage .slider .slick-dots {
  position: absolute;
  bottom: -3px;
  list-style-type: none;
  left: 0;
  right: 0;
  text-align: center;
}
#homepage .slider .slick-dots li {
  display: inline;
}
#homepage .slider .slick-dots li button {
  font-size: 0;
  border: 1px solid rgba(255, 255, 255, 0.7);
  height: 8px;
  width: 8px;
  border-radius: 8px;
  padding: 0;
  margin-right: 10px;
  background: #434343;
  cursor: pointer;
  outline: none;
}
#homepage .slider .slick-dots li.slick-active button {
  background: #741030;
}
#homepage > div > .container {
  max-width: 1225px;
}
#homepage .content-1 img {
  width: 100%;
  height: 385px;
  display: block;
  object-fit: cover;
}
#homepage .content-1 .txt-img-under-wrapper {
  display: block;
  height: 100%;
  position: relative;
}
#homepage .content-1 .txt-img-under-wrapper .picto-1 {
  position: absolute;
  left: -500px;
  top: 0;
  height: 442px;
  width: 508px;
  background: url("../images/poele.png") no-repeat center transparent;
}
#homepage .content-1 .txt-img-under-wrapper .txt {
  position: absolute;
  bottom: 0;
  max-width: 473px;
}
#homepage .content-1 .txt-img-under-wrapper .img-under {
  float: right;
}
#homepage .content-2 {
  margin-top: 82px;
}
#homepage .content-2 .picto-2 {
  position: absolute;
  right: -87px;
  top: -91px;
  height: 250px;
  width: 250px;
  background: url("../images/j-aime-cuisiner.svg") no-repeat center transparent;
}
#homepage .content-2 .text-mea a {
  padding: 0;
}
#homepage .content-3 {
  margin-top: 97px;
}
#homepage .content-3 .content-3-title {
  position: relative;
}
#homepage .content-3 .content-3-title .picto-3 {
  position: absolute;
  right: -227px;
  top: -280px;
  height: 349px;
  width: 349px;
  background: url("../images/poivron.png") no-repeat center transparent;
}
#homepage .content-3 .text-mea h3 {
  font-size: 32px;
}
#homepage .content-3 .text-mea h3:after {
  margin-bottom: 15px;
}
#homepage .content-3 .text-mea p {
  line-height: 1;
}
#homepage .content-3 .content-3-img {
  margin: 50px auto 0 auto;
}
#homepage .content-3 .content-3-paragraph {
  margin-top: 62px;
  margin-bottom: 72px;
}
#homepage .content-3 .content-3-paragraph p {
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
  color: #434343;
}
.vue-recettes.container {
  max-width: 1400px;
}
.recettes-filters {
  border: 1px solid #EDEDED;
  padding: 24px;
}
.recettes-filters .recettes-filters-title {
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #003663;
}
.recettes-filters .recettes-filters-title:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #003663;
  margin-top: 8px;
  margin-bottom: 24px;
}
.recettes-filters label:first-child {
  display: none;
}
.recettes-filters input {
  width: 100%;
}
.recettes-filters .form-wrapper {
  margin-bottom: 15px;
}
.recettes-filters .form-wrapper .fieldset-legend {
  color: #434343;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.recettes-filters .form-wrapper .fieldset-legend:after {
  content: "";
  border-top: 2px solid #434343;
  border-right: 2px solid #434343;
  top: 20px;
  height: 11px;
  width: 11px;
  transform: rotate(-45deg);
  position: relative;
  float: right;
}
.recettes-filters .form-wrapper .fieldset-wrapper .form-item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.recettes-filters .form-wrapper .fieldset-wrapper .form-checkbox {
  height: 20px;
  width: 20px;
}
.recettes-filters .form-wrapper .fieldset-wrapper .option {
  padding-left: 8px;
  margin-bottom: 0;
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.recette-item {
  border: 1px solid #EDEDED;
}
.recette-item .field-content {
  overflow: hidden;
}
.recette-item img {
  width: 100%;
  object-fit: cover;
  height: 197px;
  transition: transform .3s ease;
}
.recette-item img:hover {
  transform: scale(1.1);
}
.recette-item h2 {
  font-size: 16px;
  margin: 15px 0;
  padding: 0 24px;
  color: #003663;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
}
.recette-item p {
  font-size: 16px;
  color: #434343;
  padding: 0 24px;
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
.recette-item .views-field-view-node a {
  color: #003663;
  padding-left: 24px;
  margin-bottom: 15px;
}
#produits #content-1 img,
#conseils #content-1 img,
#produits #content-2 img,
#conseils #content-2 img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#produits #content-1,
#conseils #content-1 {
  background-position: top center;
  padding-top: 95px;
}
#produits #content-1 .container,
#conseils #content-1 .container {
  position: relative;
}
#produits #content-1 .container:before,
#conseils #content-1 .container:before {
  content: "";
  position: absolute;
  top: -280px;
  left: -230px;
  background: url("../images/poivronrouge.png");
  height: 355px;
  width: 367px;
}
#produits #content-2 .container,
#conseils #content-2 .container {
  position: relative;
}
#produits #content-2 .container:before,
#conseils #content-2 .container:before {
  content: "";
  position: absolute;
  top: -275px;
  right: -300px;
  background: url("../images/pdt.png");
  height: 451px;
  width: 451px;
}
#conseils #content-1 {
  padding-top: 0;
}
#conseils #content-1 .container:before,
#conseils #content-2 .container:before {
  display: none;
}
#marque h1 span {
  display: block;
}
#marque #content-1 {
  position: relative;
}
#sitram-et-moi {
  position: relative;
}
#sitram-et-moi:before {
  content: "";
  height: 960px;
  width: 100%;
  background-color: #ededed;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#sitram-et-moi h1 {
  margin: 70px 0 30px;
}
#sitram-et-moi .grid {
  margin-left: -8px;
  margin-right: -8px;
}
#sitram-et-moi .grid .grid-item {
  overflow: hidden;
  padding: 0 8px;
}
#sitram-et-moi .grid .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding: 8px 0;
}
#sitram-et-moi #txt .txt-wrapper {
  background: #FAFBFC;
}
#sitram-et-moi #txt .txt-wrapper .inner {
  max-width: 1065px;
  margin: 0 auto;
}
.footer-wrapper .newsletter-wrapper {
  background-color: #741030;
  padding: 70px 100px;
}
.footer-wrapper .newsletter-wrapper .text-mea h3 {
  font-size: 32px;
}
.footer-wrapper .newsletter-wrapper .text-mea span {
  display: inline;
}
.footer-wrapper .newsletter-wrapper .form-newsletter {
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.footer-wrapper .newsletter-wrapper .form-newsletter label {
  display: block;
  color: white;
}
.footer-wrapper .newsletter-wrapper .form-newsletter input {
  line-height: 59px;
  padding-left: 20px;
  width: 100%;
}
.footer-wrapper .newsletter-wrapper .form-newsletter ::placeholder {
  color: #b9b9b9;
}
.footer-wrapper .newsletter-wrapper .form-newsletter .form-email {
  margin-bottom: 5px;
}
.footer-wrapper .newsletter-wrapper .form-newsletter .name-wrapper {
  margin-bottom: 40px;
}
.footer-wrapper .newsletter-wrapper .form-newsletter .form-submit input {
  background-color: #FDC2A1;
  color: #741030;
  text-transform: uppercase;
  font-family: "Myriad Pro Bold", Arial, Helvetica, sans-serif;
  border-style: none;
  cursor: pointer;
  transition: opacity 0.3s;
  text-decoration: none;
}
.footer-wrapper .newsletter-wrapper .form-newsletter .form-submit input:hover {
  opacity: 0.8;
}
.footer-wrapper .newsletter-wrapper .js-hidden-part {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.footer-wrapper .newsletter-wrapper .js-hidden-part.show {
  max-height: 300px;
}
.footer-wrapper .logos-wrapper {
  background-color: #EDEDED;
  margin-top: -240px;
  padding-top: 288px;
  padding-bottom: 48px;
}
.footer-wrapper .logos-wrapper .logos-list > div {
  display: inline-block;
}
.footer-wrapper .logos-wrapper .logos-list > div.logo1 {
  height: 51px;
  width: 163px;
  background: url("../images/footer/logo-footer-sitram-marque.svg") no-repeat center transparent;
}
.footer-wrapper .logos-wrapper .logos-list > div.logo2 {
  height: 97px;
  width: 95px;
  background: url("../images/footer/logo-footer-1963.svg") no-repeat center transparent;
}
.footer-wrapper .logos-wrapper .logos-list > div.logo3 {
  height: 122px;
  width: 124px;
  background: url("../images/footer/logo-footer-service-client.svg") no-repeat center transparent;
}
.footer-wrapper .logos-wrapper .logos-list > div.logo4 {
  height: 94px;
  width: 86px;
  background: url("../images/footer/logo-footer-cuisiner.svg") no-repeat center transparent;
}
.footer-wrapper .links {
  padding: 30px 0 35px 15px;
  font-family: "Myriad Pro Semibold", Arial, Helvetica, sans-serif;
}
.footer-wrapper .links > div {
  border-right: 1px solid #EDEDED;
}
.footer-wrapper .links > div:last-child {
  border: none;
}
.footer-wrapper .links h4 {
  color: #003663;
  font-size: 18px;
}
.footer-wrapper .links h4:before {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: #003663;
  margin-bottom: 3px;
}
.footer-wrapper .links ul {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
}
.footer-wrapper .links ul li {
  list-style-type: none;
}
.footer-wrapper .links ul li :before {
  content: "";
  height: 4px;
  width: 4px;
  background-color: #434343;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 2px;
  margin-right: 8px;
}
.footer-wrapper .links ul li a {
  text-decoration: none;
  color: #434343;
  font-size: 16px;
}
.footer-wrapper .links p {
  font-size: 14px;
  line-height: 1;
  color: #434343;
  margin-top: 10px;
  margin-bottom: 0;
}
.footer-wrapper .links p a {
  text-decoration: underline;
  color: #434343;
}
.footer-wrapper .links div.social1 {
  margin-bottom: 15px;
  height: 25px;
  width: 25px;
  background: url("../images/footer/facebook.svg") no-repeat center transparent;
}
.footer-wrapper .links div.social2 {
  margin-bottom: 15px;
  height: 25px;
  width: 25px;
  background: url("../images/footer/instagram.svg") no-repeat center transparent;
}
.footer-wrapper .links div.social3 {
  height: 25px;
  width: 25px;
  background: url("../images/footer/pinterest.svg") no-repeat center transparent;
}
.copyright {
  font-size: 12px;
  color: white;
  line-height: 30px;
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
.breadcrumb-sitram ul {
  margin: 0;
  padding: 0;
}
.breadcrumb-sitram ul li {
  line-height: 70px;
  display: inline-block;
  color: #9FB2C9;
}
.breadcrumb-sitram ul li a {
  color: #434343;
}
.breadcrumb-sitram ul li a:after {
  content: "";
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
