// Variables LESS
@import 'variables';
@import 'animation';

// Google font
// Open Sans : font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
// Dancing Script : font-family: 'Dancing Script', cursive;
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

// Ajout Bootstrap
@media (min-width: 1620px) {
  .container {
    max-width: 1620px;
  }
}
@media (max-width: 1619px) {
  .container {
    max-width: 100%;
  }
}

// Body
body {
  font-family: 'Open Sans', sans-serif;
  color: #232323;
}

// UI

// Header
header {
  a {
    .dimOpacityOnHover(0.8)
  }
  .logo {
    margin: 30px 0;
  }
}

// Menu
.main-menu {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  ul {
    padding:0;
    margin:0;
    font-size: 0;
    li {
      display: inline-block;
      padding: 0 15px;
      line-height: 42px;
      font-size: 14px;
      border-right: 1px solid #bbb;
      &:last-child {
        border-right: none;
      }
      a {
        color: #232323;
        font-weight: 600;
        font-size: 14px;
        transition: color 0.3s;
        &:hover {
          color: @cuivre;
          text-decoration: none;
        }
      }
    }
  }
}

// Homepage
.mea-marques {
  .marque {
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
    padding-top: 280px;
    margin-bottom: 30px;
    @media @tablet {
      padding-top: 260px;
    }
    @media @phone {
      padding-top: 0;
    }
    .upper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 65px 0 30px;
      z-index: 20;
      @media @phone {
        position: relative;
        padding: 35px 0 10px;
      }
      .logo {
        display: inline-block;
        margin-bottom: 30px;
        @media (max-width: 1024px) {
          img {
            max-height: 100px;
            width: auto;
          }
        }
      }
      .txt {
        font-size: 13px;
        position: relative;
        display: block;
        @media (max-width: 1024px) {
          font-size: 12px;
          min-height: 55px;
        }
        @media @phone {
          min-height: auto;
        }
        p {
          margin-bottom : 0;
          color: white;
          text-decoration: none;
          @media @phone {
            margin-bottom: 20px;
          }
        }
        .hidden-part {
          display: block;
          height: 0;
          overflow: hidden;
          transition: all 0.5s;
          opacity: 0;
          .cta {
            font-size: 14px;
            color: white;
            display: inline-block;
            border: 1px solid white;
            padding: 5px 40px;
            margin-top: 30px;
            text-decoration: none;
            .dimOpacityOnHover(0.8);
          }
        }
      }
      .arrow {
        position: absolute;
        bottom: -6px;
        height: 15px;
        width: 15px;
        z-index: 10;
        margin-left: -7px;
        transform: rotate(45deg);
        @media @phone {
          display: none;
        }
      }
    }
    .bottom img {
      height: auto;
      width: 100%;
      filter: grayscale(100%);
      transition: all 0.5s;
      @media @phone {
        display: none;
      }
    }
    &:hover {
      .upper {
        .hidden-part {
          opacity: 1;
          height: 65px;
        }
      }
      .bottom img {
        filter: grayscale(0%);
      }
    }
  }
  @media (max-width: 1024px) {
    .slick-list {
      .col {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  @media @tablet {
    .slick-list {
      padding: 0 50px;
    }
  }
  @media @phone {
    .slick-list {
      padding: 0 60px !important;
      .slick-slide {
        transition: all 0.3s;
        &:not(.slick-current) {
          transform: scale(0.8);
          .cta-mobile {
            opacity: 0;
          }
        }
      }
      .col {
        padding: 0;
        margin-left:-8px;
        margin-right: -8px;
        .cta-mobile {
          background: black;
          width: 100%;
          display: block;
          margin-top: 8px;
          color: white;
          padding: 7px 0;
          font-size: 14px;
          opacity: 1;
          transition: opacity 0.5s;
        }
      }
    }
  }
}

// Page Evenements
.loader{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.5;
  #status {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -18px 0 0 -18px;
    .spinner {
      height: 36px;
      width: 36px;
      position: relative;
      -webkit-animation: rotation .8s infinite linear;
      -moz-animation: rotation .8s infinite linear;
      -o-animation: rotation .8s infinite linear;
      animation: rotation .8s infinite linear;
      border-left: 3px solid  rgba(85,85,85,.3);
      border-right: 3px solid  rgba(85,85,85,.3);
      border-bottom: 3px solid  rgba(85,85,85,.3);
      border-top: 3px solid  rgba(85,85,85,1);
      border-radius: 100%;
    }
  }
}
.views-exposed-form  {
  text-align: center;
  margin-bottom: 40px;
  .form-radios > div {
    display: inline-block;
    margin-left: 30px;
    font-size: 14px;
    color: #80807f;
    font-weight: 700;
    input, label {
      vertical-align: middle;
      margin: 0;
    }
    label {
      margin-top: -2px;
    }
    input[checked=checked] + label {
      color: black;
    }
    &:first-child {
      margin-left: 0;
    }
    * {
      cursor: pointer;
    }
  }
  input[type=submit] {
    display: none;
  }
  // Temp
  @media @tablet {
    & > div > div {
      // row
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      & > div {
        // col-4
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 !important;
      }
    }
  }
  @media @phone {
    & > div > div > div {
      // col-6
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0;
      input {
        display: none;
      }
      label {
        color: #8d8d8c;
        background: #e2e2e2;
        padding: 10px 0;
        display: block;
        width: 100%;
      }
      input[checked=checked] + label {
        background: @cuivre;
        color: white !important;
      }
    }
  }
}
.vue-evenement {
  max-width: 1420px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
  header {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 28px;
    color: #232323;
    margin-bottom: 30px;
    @media @phone {
      width: 70%;
      margin: 0 auto;
      line-height: 1.3;
    }
  }
  .item {
    text-align: center;
    margin-bottom: 65px;
    @media @phone {
      margin-bottom: 45px;
    }
    & > div {
      max-width: 300px;
      display: block;
      margin: 0 auto;
      @media @tablet {
        max-width: 100%;
      }
    }
    .views-field-field-image-evenement {
      display: inline-block;
      width: 100%;
      height: 220px;
      text-align: center;
      padding: 15px;
      border: 1px solid #bbbbbb;
      .field-content {
        height: 100%;
        width: 100%;
        overflow:hidden;
        a {
          display: block;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s;
          }
        }
      }
      &:hover img {
        width: 110% !important;
        margin-left: -5%;
        opacity: 0.7;
      }
    }
    .views-field-title {
      font-size: 15px;
      font-weight: 700;
      border-bottom: 1px solid #bbbbbb;
      display: flex;
      height: 70px;
      overflow: hidden;
      & > span {
        margin: auto;
        a {
          color: black;
          text-decoration: none;
          .dimOpacityOnHover(0.8)
        }
      }
    }
    .views-field-created {
      color: @cuivre;
      text-transform: uppercase;
      font-weight: 700;
      margin: 15px auto;
      text-align: left;
    }
    .views-field-field-description-evenement {
      text-align: left;
    }
    .views-field-view-node {
      text-align: left;
      margin-top: 5px;
      padding-bottom: 15px;
      border-bottom: 1px solid #bbbbbb;
      a {
        color: #80807f;
        text-decoration: none;
        .dimOpacityOnHover(0.8);
        &:after {
          content: '→';
          display: inline-block;
          font-size: 17px;
          margin-left: 5px;
          transition: margin-left 0.5s;
        }
        &:hover {
          &:after {
            margin-left: 10px;
          }
        }
      }
    }
  }
}