// Variables custom

// Media queries
@very-xs: 320px;
@xs: 767px;
@sm: 991px;

@smallPhone:     ~"only screen and (max-width: @{very-xs})";
@phone:          ~"only screen and (max-width: @{xs})";
@tablet:         ~"only screen and (max-width: @{sm})";

// Colors
@cuivre: #b95034;
@mint: #5fafa7;

// Functions
.dimOpacityOnHover (@opacity) {
  transition: opacity 0.3s;
  &:hover {
    opacity: @opacity;
  }
}