// Variables custom

// Media queries
@very-xs: 320px;
@xs: 767px;
@sm: 991px;

@smallPhone:     ~"only screen and (max-width: @{very-xs})";
@phone:          ~"only screen and (max-width: @{xs})";
@tablet:         ~"only screen and (max-width: @{sm})";

// Colors
@cuivre: #b95034;
@mint: #5fafa7;

// Functions
.dimOpacityOnHover (@opacity) {
  transition: opacity 0.3s;
  &:hover {
    opacity: @opacity;
  }
}

// Style filtres et filtres page contact

.filtersStyle() {
  color: white;
  font-weight: 600;
  line-height: 35px;
  display: inline-block;
  width: auto;
  white-space: nowrap;
  margin: 0 7px;
  background: black;
  input {
    float: right;
    margin: 12px 15px 0 0;
    cursor: pointer;
  }
  label {
    margin: 0;
    padding: 0 15px;
    cursor: pointer;
  }
  .dimOpacityOnHover(0.8);
  @media @tablet {
    width: 30%;
    margin: 7px;
  }
  @media @phone {
    width: 100%;
  }
}