/* -------------------------------------------------------------------------- *\
  # CALL TO ACTION
\* -------------------------------------------------------------------------- */

// Rather for an action outside the page, for links with href.
//
// markup:
// <button class="vlj-cta {{modifier_class}}">Button</button>
// <a href="#" class="vlj-cta {{modifier_class}}">Link</a>
// <input type="submit" class="vlj-cta {{modifier_class}}" value="Input" />
//
// Styleguide Elements.cta

// Primary CTA is the default state
&-cta {
  box-sizing: border-box;
  padding: rem(15px) rem(30px);
  border: 1px solid transparent;
  display: inline-block;
  vertical-align: top;
  font-family: $font-variant-bold;
  font-size: rem(14px);
  line-height: 1.2;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  color: color(white);
  background-color: var(--theme-color);
  transition: color .3s ease-in-out, background-color .4s ease-in-out, box-shadow .4s ease-in-out;
  appearance: none;

  &:hover,
  &:focus {
    background-color: var(--theme-color-dark);
    color: color(white);
  }

  &:focus-visible {
    outline: 1px dashed var(--theme-color);
  }

  &.__secondary {
    color: var(--theme-color);
    background-color: color(white);
    box-shadow: inset 0 0 0 1px currentColor;

    &:hover,
    &:focus {
      color: color(white);
      background-color: var(--theme-color-dark);
    }
  }

  &.__tertiary {
    padding: rem(10px);
    font-family: $font-variant-reg;
    color: color(storm);
    background-color: color(white);
    box-shadow: inset 0 0 0 1px color(alto);

    @include mq($from: M) {
      padding: rem(10px) rem(20px);
    }

    &:hover,
    &:focus {
      color: var(--theme-color);
      box-shadow: inset 0 0 0 1px var(--theme-color);
    }
  }

  &.__small {
    padding: rem(10px) rem(20px);
  }

  // CTA with icon on left
  &.__icon {
    > svg {
      display: inline-block;
      vertical-align: middle;
      fill: color(alto);
      margin-right: rem(8px);

      // Bookmark active color variant
      .action-unflag & {
        fill: var(--theme-color);
      }
    }

    // Hide useless ajax throbber
    ~ .ajax-progress {
      display: none;
    }
  }

  .ajax-progress {
    display: none;
  }

  &.__disabled,
  &[disabled] {
    opacity: .4;
    cursor: default;
    pointer-events: none;
  }
}
