/* -------------------------------------------------------------------------- *\
  # LISTS
\* -------------------------------------------------------------------------- */

// Ordered list
ol {
  counter-reset: list;

  > li {
    @include font(base, medium);
    padding: rem(20px) 0;
    color: $theme-secondary;
    border-bottom: 2px solid transparentize($theme-light, .4);

    &:last-of-type {
      border-bottom: 0 none;
    }

    &::before {
      counter-increment: list;
      content: counter(list) '. ';
      top: 0;
      width: auto;
      height: auto;
      background-color: transparent;
    }
  }
}

// Unordered list
ul {
  padding-left: rem(20px);
  list-style-type: disc;
  margin: rem(15px) 0;
}
