<div class="Page">
  <header class="Header">
    {{ page.header }}
  </header>
  <main class="Main">
    {{ page.content }}
  </main>
  <footer class="Footer">
      {{ page.footer }}
  </footer>
</div>