/* ==========================================================================
   #BREAK
   ========================================================================== */

hr {
  border-width: 0.2rem;
  border-style: solid;
  border-color: $grey-lighter;
  background-color: $grey-lighter;
}
