{#
/**
* @file
* Search location block
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div class="row storelocator-ban" id="js-store-locator">
    <div class="col-12 no-padding">
        <div>
            <img src="/sites/ope-sitram/themes/opesitram/images/hp/picto-gps.png" alt="" />
            <h2 class="title-large-screen">Trouver un magasin E.Leclerc près de chez vous</h2>
            <h2 class="title-small-screen">Trouver un Leclerc près de chez vous</h2>
            <div>
                <span class="store-locator-field-wrapper">
                    <input
                        name="search-string"
                        placeholder="Indiquer une ville"
                        class="js-search-input search-large-screen"
                        id="js-search-input"
                        value="{{ query }}"
                    >
                    <input
                        name="search-string"
                        placeholder="Code Postal"
                        class="js-search-input search-small-screen"
                        id="js-search-input"
                        value="{{ query }}"
                    >
                    <input
                        name="preloaded-search-string"
                        type="hidden"
                        id="js-preloaded"
                    >
                    <button class="btn submit">
                        <img src="/sites/ope-sitram/themes/opesitram/images/hp/picto-find.svg" alt="" />
                    </button>
                </span>
                <span id="js-search-around">
                    <button id="js-search-button" class="locate-me">Me localiser</button>
                    <input name="search-radius" id="js-search-radius" type="hidden" value="{{searchFormDefaultRadius}}">
                    <input name="offset-radius" type="hidden" id="js-offset-radius" value="0">
                    <input name="search-geolocation" id="js-search-geolocation" type="hidden">
                    <input name="store-detail-path" id="js-store-detail-path" type="hidden">
                </span>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="container px1465 results-wrapper">
            <div class="row">
                <div id="js-ajax-response" class="store-locator-response col-12 col-lg-6"></div>
                <div class="col-12 col-lg-6 d-none d-lg-block">
                    <div id="storelocator-map" style="display: none"></div>
                </div>
            </div>
        </div>
    </div>
</div>