// Variables LESS
@import 'variables';

// Google Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.adminimal-admin-toolbar:not(.path-admin) .header-wrapper {
  margin-top: 79px;
}

a {
  .dimOpacityOnHover(0.8);
}

img {
  max-width: 100%;
  height: auto;
}

.dialog-off-canvas-main-canvas {
  position: relative;
  padding-top: 71px;
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 10;
  padding: 10px 0;

  nav {
    display: inline-block;
    padding-top: 13px;

    ul {
      display: inline-block;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;

        a {
          color: #6d6f70;
          padding: 0 10px;
          border-right: 1px solid #6d6f70;
          font-weight: 500;

          &:hover,
          &.is-active {
            color: @blue;
            text-decoration: none;
          }

          &.is-active {
            font-weight: 700;
          }
        }

        &:last-child a {
          border-right: none;
        }
      }
    }
  }
}

.menu {
  @media @phone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    display: none;
  }
}

#block-reseauxsociaux {
  float: right;
  padding: 5px;

  a {
    border: none;
    height: 40px;
    width: 40px;
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;

    &.facebook {
      background: url("../images/facebook-c2e.png") no-repeat center transparent;
    }

    &.instagram {
      background: url("../images/instagram-c2e.png") no-repeat center transparent;
    }
  }
}

img.logo {
  width: 52px;
  height: 52px;
}

#homepage-content {
  & > div {
    margin-top: 10px;
    margin-bottom: 10px;

    .left {
      padding-right: 5px;
    }

    .right {
      padding-left: 5px;
    }
  }

  .texts {
    h1, h2 {
      color: @blue;
    }

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 22px;
    }

    & > div > div {
      border-bottom: 1px solid black;
      margin-bottom: 15px;

      &:last-child {
        border-bottom: 0;
      }
    }

    b, h2 {
      font-weight: 700;
    }
  }
}

#homepage-products {
  border-bottom: 15px solid @pink;

  .title {
    text-align: center;
    background: #e5007f;
    color: white;
    margin-bottom: 30px;
    padding: 20px 0;
    font-size: 40px;

    @media (max-width: 1199px) {
      font-size: 180%;
    }
  }
}

.products {
  .img-wrapper .inner {
    border: 1px solid black;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    min-height: 170px;

    span {
      position: absolute;
      bottom: 12px;
      right: -12px;
      background: @grey;
      color: white;
      font-size: 30px;
      font-weight: 700;
      padding: 3px 15px;
      border-radius: 5px;
      transform: rotate(-10deg);

      small {
        vertical-align: super;
        font-size: 60%;
      }
    }
  }
}

footer {
  background: @grey;
  color: white;
  padding: 30px;
  font-size: 14px;

  a {
    display: block;
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.arrivages-S0-wrapper,
.arrivages-S1-wrapper {

  .title {
    color: white;
    font-size: 50px;
    line-height: 1;
    padding: 40px 0;
    margin-bottom: 30px;

    small {
      font-size: 80%;
    }

    .big {
      font-size: 170%;
    }

    span {
      display: inline-block;
      text-align: left;

      b {
        font-size: 120%;
      }
    }

    @media (max-width: 1199px) {
      font-size: 30px;
    }

    @media @phone {
      font-size: 24px;
    }
  }

  .img-wrapper .inner {
    min-height: 268px;

    @media @tablet {
      min-height: 150px;
    }
  }
}

.arrivages-S0-wrapper {
  #arrivages_S0 {
    border-bottom: 10px solid @pink;
    margin-bottom: 30px;
  }

  .title {
    background: @pink;
  }
}

.arrivages-S1-wrapper {
  #arrivages_S1 {
    border-bottom: 10px solid @green;
    margin-bottom: 30px;
  }

  .title {
    background: @green;
  }

  p {
    color: @grey;
  }
}

#arrivages .txt {
  color: @grey;
  margin-bottom: 30px;

  ul {
    text-align: left;
  }
}

#qsn {
  h1, h3 {
    background: @blue;
    text-align: center;
    color: white;
    padding: 15px 0;
  }

  h1 {
    font-size: 60px;

    @media @tablet {
      font-size: 40px;
    }

    @media @phone {
      font-size: 30px;
    }
  }

  h2 {
    color: @blue;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin: 15px 0;
  }

  img {
    margin-bottom: 15px;
  }

  p {
    border-bottom: 7px solid @blue;
    padding-bottom: 15px;
  }

  .intro p {
    border-bottom: 0;
  }
}

#contact {
  h1 {
    background: #159ed4;
    color: white;
    padding: 15px 0;
    font-weight: 700;
    font-size: 60px;
    margin: 20px 0;

    @media @tablet {
      font-size: 35px;
    }
  }

  h2 {
    font-weight: 400;

    @media @phone {
      font-size: 20px;
    }
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;

    .form-item {
      position: relative;
      margin: 15px 0;

      input, textarea {
        width: 100%;
        box-shadow: none;
        line-height: 35px;
        border-radius: 5px;
        display: inline-block;
        border: 1px solid #d2d2d2;
        padding: 0 15px;
        outline: none;
        font-size: 14px;

        &.form-text {
          margin: 0;
        }
      }

      textarea {
        margin-bottom: 0;
        line-height: 1.6;

        @media @phone {
          margin-top: 5px;
        }
      }

      & > label {
        position: absolute;
        left: 10px;
        top: 11px;
        background: white;
        padding: 0 5px;
        transition: all 0.3s;
        margin:0;
        line-height: 1;
        font-size: 14px;
      }

      @media @phone {
        &:not(.form-wrapper) {
          margin: 10px 0;
        }
      }
    }

    input:focus + label,
    input.js-not-empty + label,
    textarea.js-not-empty + label,
    textarea:focus + label {
      top: -8px;
      color: #9e9e9e;
    }

    .form-submit {
      width: 100%;
      background: #159ed4;
      color: white;
      line-height: 50px;
      border: none;
      margin: 8px 0 30px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;

      .dimOpacityOnHover(0.8);
    }
  }
}

.g-recaptcha {
  text-align: center;

  & > div {
    display: inline-block;
  }
}

#modal-newsletter .close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  z-index: 100;
}

#newsletterform-wrapper {
  form {
    input {
      max-width: 100%;
      margin: 10px 0;
      padding: 5px 15px;
      display: block;
      border-radius: 5px;
      border: 1px solid #d9d9d9;

      &.form-checkbox {
        display: inline-block;
        margin: 5px 5px 0 0;
        vertical-align: top;
      }
    }
  }

  .intro {
    color: @blue;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    display: block;
    margin: 20px 0;
  }

  p, label {
    color: black;
    font-weight: 600;
    font-size: 14px;
  }

  label {
    display: inline-block;
    width: calc(100% - 30px);
  }

  .form-submit {
    width: 100%;
    background: #159ed4;
    color: white;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 35px;
    cursor: pointer;
  }

  .bottom {
    color: @grey;
  }
}

div[role=contentinfo],
div[role=alert] {
  border: 1px solid;
  margin: 30px 0;
  padding: 15px;
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
  }
}

div[role=alert] {
  border-color: #b30000;
  color: #b30000;
}

#newsletter-page {
  form {
    max-width: 500px;
    margin: 0 auto 30px;
    text-align: left;
  }
}

#page-magasins {
  margin-bottom: 30px;

  #map-google, #map {
    height: 100%;
  }

  .ban {
    margin-bottom: 30px;
  }

  #trouvez-un-magasin {
    margin-bottom: 30px;
    background: @blue;
    color: white;
    padding: 15px;
    text-align: center;

    span {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
    }

    input {
      width: 100%;
      border-radius: 3px;
      margin: 10px 0 20px;
      border: none;
      padding: 7px 12px;
    }

    #searchButton {
      background: @blue;
      color: white;
      border: 2px solid white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      padding: 3px 20px;
    }
  }

  #shopsList {
    margin-top: 30px;

    h3 {
      color: @blue;
      font-weight: 600;
      font-size: 17px;
    }

    p {
      margin: 0;
    }
  }
}