// Variables LESS
@import 'variables';

// Google Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.adminimal-admin-toolbar:not(.path-admin) .header-wrapper {
  margin-top: 79px;
}

a {
  .dimOpacityOnHover(0.8);
}

img {
  max-width: 100%;
  height: auto;
}

.dialog-off-canvas-main-canvas {
  position: relative;
  padding-top: 71px;
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 10;
  padding: 10px 0;

  nav {
    display: inline-block;
    padding-top: 13px;

    ul {
      display: inline-block;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;

        a {
          color: #6d6f70;
          padding: 0 10px;
          border-right: 1px solid #6d6f70;
          font-weight: 500;

          &:hover,
          &.is-active {
            color: @blue;
            text-decoration: none;
          }

          &.is-active {
            font-weight: 700;
          }
        }

        &:last-child a {
          border-right: none;
        }
      }
    }
  }
}

.menu {
  @media @phone {
    position: fixed;
    top: 72px;
    right: -100%;
    width: 100%;
    background: white;
    padding: 0 15px 15px 15px;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #eaeaea;

    &.active {
      right: 0;
    }

    nav {
      ul {
        li {
          display: block;
          line-height: 35px;

          a {
            border-right: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

.btn-menu-mobile {
  position: fixed;
  top: 14px;
  right: 25px;
  font-size: 29px;

  i {
    cursor: pointer;
    color: @blue;

    &.fa-times {
      color: @grey
    }
  }
}

#block-reseauxsociaux {
  float: right;
  padding: 5px;

  a {
    border: none;
    height: 40px;
    width: 40px;
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;

    &.facebook {
      background: url("../images/facebook-c2e.png") no-repeat center transparent;
    }

    &.instagram {
      background: url("../images/instagram-c2e.png") no-repeat center transparent;
    }
  }

  @media @phone {
    float: none;
    padding: 0;
    position: fixed;
    top: 15px;
    right: 60px;

    li {
      display: inline-block;
    }
  }
}

img.logo {
  width: 52px;
  height: 52px;
}

.main-content {
  transition: all 0.3s ease-in-out;

  &.blur {
    filter: blur(2px);
    opacity: 0.3;
  }
}

#homepage-content {
  & > div {
    margin-top: 10px;
    margin-bottom: 10px;

    .left {
      padding-right: 5px;
    }

    .right {
      padding-left: 5px;
    }

    @media @phone {
      .left,
      .right {
        padding-right: 15px;
        padding-left: 15px;
      }

      .right {
        margin-top: 10px;
      }
    }
  }

  .texts {
    h1, h2 {
      color: @blue;
    }

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 22px;
    }

    & > div > div {
      border-bottom: 1px solid black;
      margin-bottom: 15px;

      &:last-child {
        border-bottom: 0;
      }
    }

    b, h2 {
      font-weight: 700;
    }
  }
}

#homepage-products {
  border-bottom: 15px solid @pink;

  .title {
    text-align: center;
    background: #e5007f;
    color: white;
    margin-bottom: 30px;
    padding: 20px 0;
    font-size: 40px;

    @media (max-width: 1199px) {
      font-size: 180%;
    }
  }

  @media @tablet {
    margin-bottom: 30px;
  }
}

.products {
  .img-wrapper .inner {
    border: 1px solid black;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    min-height: 170px;

    span {
      position: absolute;
      bottom: 12px;
      right: -12px;
      background: @grey;
      color: white;
      font-size: 30px;
      font-weight: 700;
      padding: 3px 15px;
      border-radius: 5px;
      transform: rotate(-10deg);

      small {
        vertical-align: super;
        font-size: 60%;
      }
    }
  }
}

footer {
  background: @grey;
  color: white;
  padding: 30px;
  font-size: 14px;

  a {
    display: block;
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  @media @tablet {
    .row > div:last-child {
      margin-top: 30px;
    }
  }

  @media @phone {
    .row > div:last-child {
      margin-top: 15px;
      text-align: left !important;
      font-size: 11px;
    }
  }
}

.arrivages-S0-wrapper,
.arrivages-S1-wrapper {

  .title {
    color: white;
    font-size: 50px;
    line-height: 1;
    padding: 40px 0;
    margin-bottom: 30px;

    small {
      font-size: 80%;
    }

    .big {
      font-size: 170%;
    }

    span {
      display: inline-block;
      text-align: left;

      b {
        font-size: 120%;
      }
    }

    @media (max-width: 1199px) {
      font-size: 30px;
    }

    @media @phone {
      font-size: 24px;
    }
  }

  .img-wrapper .inner {
    min-height: 268px;

    @media @tablet {
      min-height: 150px;
    }
  }
}

.arrivages-S0-wrapper {
  #arrivages_S0 {
    border-bottom: 10px solid @pink;
    margin-bottom: 30px;
  }

  .title {
    background: @pink;
  }
}

.arrivages-S1-wrapper {
  #arrivages_S1 {
    border-bottom: 10px solid @green;
    margin-bottom: 30px;
  }

  .title {
    background: @green;
  }

  p {
    color: @grey;
  }
}

#arrivages .txt {
  color: @grey;
  margin-bottom: 30px;

  ul {
    text-align: left;
  }
}

#qsn {
  h1, h3 {
    background: @blue;
    text-align: center;
    color: white;
    padding: 15px 0;
  }

  h1 {
    font-size: 60px;

    @media @tablet {
      font-size: 40px;
    }

    @media @phone {
      font-size: 30px;
    }
  }

  h2 {
    color: @blue;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin: 15px 0;
  }

  img {
    margin-bottom: 15px;
  }

  p {
    border-bottom: 7px solid @blue;
    padding-bottom: 15px;
  }

  .intro p {
    border-bottom: 0;
  }
}

#contact {
  h1 {
    background: #159ed4;
    color: white;
    padding: 15px 0;
    font-weight: 700;
    font-size: 60px;
    margin: 20px 0;

    @media @tablet {
      font-size: 35px;
    }
  }

  h2 {
    font-weight: 400;

    @media @phone {
      font-size: 20px;
    }
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;

    .form-item {
      position: relative;
      margin: 15px 0;

      input, textarea {
        width: 100%;
        box-shadow: none;
        line-height: 35px;
        border-radius: 5px;
        display: inline-block;
        border: 1px solid #d2d2d2;
        padding: 0 15px;
        outline: none;
        font-size: 14px;

        &.form-text {
          margin: 0;
        }
      }

      textarea {
        margin-bottom: 0;
        line-height: 1.6;

        @media @phone {
          margin-top: 5px;
        }
      }

      & > label {
        position: absolute;
        left: 10px;
        top: 11px;
        background: white;
        padding: 0 5px;
        transition: all 0.3s;
        margin:0;
        line-height: 1;
        font-size: 14px;
      }

      @media @phone {
        &:not(.form-wrapper) {
          margin: 10px 0;
        }
      }
    }

    input:focus + label,
    input.js-not-empty + label,
    textarea.js-not-empty + label,
    textarea:focus + label {
      top: -8px;
      color: #9e9e9e;
    }

    .form-submit {
      width: 100%;
      background: #159ed4;
      color: white;
      line-height: 50px;
      border: none;
      margin: 8px 0 30px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;

      .dimOpacityOnHover(0.8);
    }
  }
}

.g-recaptcha {
  text-align: center;

  & > div {
    display: inline-block;
  }
}

#modal-newsletter .close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  z-index: 100;
}

#newsletterform-wrapper {
  form {
    input {
      max-width: 100%;
      margin: 10px 0;
      padding: 5px 15px;
      display: block;
      border-radius: 5px;
      border: 1px solid #d9d9d9;

      &.form-checkbox {
        display: inline-block;
        margin: 5px 5px 0 0;
        vertical-align: top;
      }
    }
  }

  .intro {
    color: @blue;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    display: block;
    margin: 20px 0;
  }

  p, label {
    color: black;
    font-weight: 600;
    font-size: 14px;
  }

  label {
    display: inline-block;
    width: calc(100% - 30px);
  }

  .form-submit {
    width: 100%;
    background: #159ed4;
    color: white;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 35px;
    cursor: pointer;
  }

  .bottom {
    color: @grey;
  }
}

div[role=contentinfo],
div[role=alert] {
  border: 1px solid;
  margin: 30px 0;
  padding: 15px;
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
  }
}

div[role=alert] {
  border-color: #b30000;
  color: #b30000;
}

#newsletter-page {
  form {
    max-width: 500px;
    margin: 0 auto 30px;
    text-align: left;
  }
}

#page-magasins {
  margin-bottom: 30px;

  #map-google, #map {
    height: 100%;

    @media @phone {
      height: 500px;
    }
  }

  .ban {
    margin-bottom: 30px;
  }

  #trouvez-un-magasin {
    margin-bottom: 30px;
    background: @blue;
    color: white;
    padding: 15px;
    text-align: center;

    span {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
    }

    input {
      width: 100%;
      border-radius: 3px;
      margin: 10px 0 20px;
      border: none;
      padding: 7px 12px;
    }

    #searchButton {
      background: @blue;
      color: white;
      border: 2px solid white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      padding: 3px 20px;
    }
  }

  #shopsList {
    margin-top: 30px;
    font-size: 16px;

    h3 {
      color: @blue;
      font-weight: 600;
      font-size: 22px;

      &.horaires {
        @media @phone {
          margin-top: 15px;
        }
      }
    }

    p {
      margin: 0;
    }

    span {
      display: block;
    }

    i {
      color: @blue;
      margin-right: 10px;
    }
  }
}

.cms-page {
  h1, h2, h3 {
    color: @blue;
    padding: 0;
    margin: 15px 0;
  }
}

ul.plandusite {
  a {
    color: @blue;
    font-weight: 600;
  }
}

// STORE LOCATOR
.no-padding {
  padding: 0;
}

.storelocator-search {
  text-align: center;
  padding: 20px 15px;
  background: #ee7d0c;
  color: white;

  .picto-map {
    background: url("../images/store-locator/picto_map.png") no-repeat center transparent;
    height: 102px;
    width: 100px;
    margin-right: 40px;
    margin-top: -30px;

    @media @tablet {
      display: none !important;
    }
  }

  h1 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 600;

    @media @tablet {
      margin-bottom: 20px;
    }

    @media @phone {
      font-size: 17px;
    }
  }

  .inputs-wrapper {
    * {
      display: inline-block;
      vertical-align: middle;
    }

    & > div {
      margin: 0 15px;

      @media @phone {
        margin: 7px 0;
        width: 100%;
      }
    }

    input,
    button {
      height: 40px;
      line-height: 40px;
      padding: 5px 15px;
      border: none;
    }

    input[name="search-string"] {
      width: 435px;
      font-size: 14px;
      font-weight: 600;

      @media @tablet {
        width: 350px;
      }

      @media @phone {
        width: ~"calc(100% - 40px)";
      }
    }

    button {
      width: 40px;
    }

    .search {
      button {
        background: url("../images/store-locator/picto_loupe.png") no-repeat center #636362;
        cursor: pointer;
        .dimOpacityOnHover(0.8);
      }
    }

    .locate-me {
      font-size: 14px;
      font-weight: 600;

      div {
        color: #7d7d7d;
        background: white;
        text-align: center;
        line-height: 40px;
        padding: 0 15px;
        text-transform: uppercase;
      }

      button {
        background: url("../images/store-locator/picto_gps.png") no-repeat center #9c4e00;
        cursor: pointer;
        .dimOpacityOnHover(0.8);
      }
    }
  }
}

.store-item {
  line-height: 1.6;
  font-weight: 600;
  border-bottom: 1px solid #d7d7d7;
  padding: 30px 0;

  .distance {
    display: inline-block;
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 15px;
    color: #a0a0a0;

    span {
      position: relative;

      &:before {
        content: "";
        background: url("../images/store-locator/picto_gpsmark.png") no-repeat center transparent;
        height: 22px;
        width: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        margin-bottom: 5px;
      }
    }
  }

  .name {
    font-size: 18px;
    color: #232323;
    font-weight: 700;
  }

  .address {
    color: #a0a0a0;
  }
}


.cta-wrapper {
  display: flex;
  height: 100%;

  @media @phone {
    margin-top: 10px;
  }
}

.ul-cta {
  margin: auto;
  padding-left: 0;
  text-align: right;
  align-self: center;

  li {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 0 15px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;

    @media @tablet {
      width: 100px;
      height: 115px;
      margin: 0 4px;
    }

    @media (max-width: 320px) {
      width: 85px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      position: relative;
      border: 1px solid;
      transition: all 0.3s ease-in-out;
      display: flex;
      height: 100%;

      @media @tablet {
        font-size: 12px;
      }

      @media (max-width: 320px) {
        font-size: 10px;
      }

      & > span {
        margin: auto;

        svg {
          transition: all 0.3s ease-in-out;
          display: block;
          margin: 0 auto 15px;
          width: 73px;
          height: 64px;

          @media @tablet {
            width: 50px;
            height: 50px;
          }

          * {
            transition: all 0.3s ease-in-out;
          }
        }
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: ~"calc(50% - 5px)";
        height: 10px;
        width: 10px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        transform: rotate(45deg);
        display: block;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        font-size: 0;
        text-decoration: none;

        svg {
          height: 87px;
          width: 87px;

          * {
            stroke: #fff !important;
          }
        }

        &:after {
          opacity: 1;
          bottom: 15px;
        }
      }
    }

    &.map {
      a {
        color: #00a1d4;
        border-color: #00a1d4;

        &:hover {
          background: #00a1d4;
        }
      }
    }

    &.travel {
      a {
        color: #e4087f;
        border-color: #e4087f;

        &:hover {
          background: #e4087f;
        }
      }
    }

    &.store-info {
      a {
        color: #cad401;
        border-color: #cad401;

        &:hover {
          background: #cad401;
        }
      }
    }
  }
}

.store-item .status,
.store-locator-opening-state {
  text-transform: uppercase;

  span:before {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
  }

  &.open {
    color: #2cc49e;

    span:before {
      background: #2cc49e;
    }
  }

  &.closed {
    color: #c42c2c;

    span:before {
      background: #c42c2c;
    }
  }
}

#js-map-container {
  & > div {
    height: 350px;
    border: 1px solid #636362;
    margin: 15px 0;
  }
}

.gm-style {
  font: 500 12px/1.5 "Quicksand", Arial, Helvetica, sans-serif !important;

  .gm-style-iw {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #9e9e9e !important;
    padding: 15px !important;
    max-width: 320px !important;
    max-height: inherit !important;

    & > div {
      max-width: inherit !important;
      max-height: inherit !important;
    }

    .title {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .gm-style-iw-t {
    box-shadow: none !important;

    &:after {
      box-shadow: none !important;
      border-bottom: 1px solid #9e9e9e;
      border-left: 1px solid #9e9e9e;
      top: 0;
    }
  }

  .gm-ui-hover-effect {
    top: 0 !important;
    right: 0 !important;
  }

  .opening-hours {
    font-weight: 600;

    span {
      margin-right: 5px;
    }
  }

  a.to-store {
    font-weight: 600;
    text-transform: uppercase;
    color: #00a1d4;
    text-decoration: underline;
    margin-top: 5px;
    display: inline-block;

    &:after {
      content: "";
      height: 5px;
      width: 5px;
      display: inline-block;
      border-top: 1px solid;
      border-right: 1px solid;
      transform: rotate(45deg);
      vertical-align: middle;
      margin-top: -2px;
      margin-left: 5px;
    }
  }
}

#store-detail .gm-style {
  a.to-store {
    display: none;
  }
}

.store-locator-notice {
  font-size: 18px;
  font-weight: 600;
  color: #ee7d0c;
  margin: 50px 0;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 40px;

  svg {
    margin-bottom: 30px;
  }
}

.full-store-list {
  margin-top: 30px;

  h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
  }

  ul {
    padding-left: 15px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style: none;
    margin-top: 30px;

    @media @tablet {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      text-align: center;
    }

    @media @phone {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
  }

  a {
    color: #232323;
    text-decoration: none !important;
    font-weight: 600;
    line-height: 2;
  }
}

.store-locator-status {
  margin: 20px 0;

  & > span {
    padding: 0 30px 0 15px;
    margin: 0 15px;
    color: white;
    display: inline-block;
    line-height: 25px;
    position: relative;
    font-size: 12px;
    font-weight: 600;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.new {
      background-color: #2cc49e;
    }

    &.relocation {
      background-color: #836e9f;
    }

    &.opening {
      background-color: #ee7d0c;
    }

    &:after {
      content: "";
      height: 25px;
      width: 25px;
      transform: rotate(45deg);
      display: inline-block;
      background-color: white;
      position: absolute;
      right: -15px;
    }

    @media @phone {
      margin: 7px 0 !important;
    }
  }
}

.store-info {
  font-weight: 600;
  margin: 30px 0;
  line-height: 1.6;

  .name {
    text-transform: uppercase;
  }

  .address {
    color: #a0a0a0;
  }

  .mail {
    a {
      color: #232323;
      text-decoration: underline;
    }
  }

  .mail,
  .tel {
    svg {
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .opening-hours {
    .title {
      color: #a0a0a0;
    }

    ul {
      padding-left: 15px;
    }
  }
}