// Variables custom

// Media queries
@very-xs: 320px;
@xs: 767px;
@sm: 991px;

@smallPhone:     ~"only screen and (max-width: @{very-xs})";
@phone:          ~"only screen and (max-width: @{xs})";
@tablet:         ~"only screen and (max-width: @{sm})";

// Colors
@primary : #159ed4;
@pink : #e5007f;
@grey: #636462;
@darkGrey: #3C3C3B;
@veryLightGrey: #F6F6F6;
@green: #c1d236;
@orange: #F07D0C;

  // Functions
.dimOpacityOnHover (@opacity) {
  transition: opacity 0.3s;
  &:hover {
    opacity: @opacity;
  }
}