@font-face {
  font-family: 'ITC Avant Garde Pro XLt';
  src: url('../font/ITCAvantGardePro-XLt.woff2') format('woff2'),
  url('../font/ITCAvantGardePro-XLt.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Pro Bold';
  src: url('../font/ITCAvantGardePro-Bold.woff2') format('woff2'),
  url('../font/ITCAvantGardePro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Pro Md';
  src: url('../font/ITCAvantGardePro-Md.woff2') format('woff2'),
  url('../font/ITCAvantGardePro-Md.woff') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde Pro Bk';
  src: url('../font/ITCAvantGardePro-Bk.woff2') format('woff2'),
  url('../font/ITCAvantGardePro-Bk.woff') format('woff');
}

@font-face {
  font-family: 'The Braggest Regular';
  src: url('../font/TheBraggest-Regular.ttf') format('truetype');
}