{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'row',
  'justify-content-center'
]
%}
{% block paragraph %}
  <div class="blogList-header">
    <div class="container">
      <h2 class="blogList-header-title">
        {{ content.field_title }}
      </h2>
      <p class="blogList-header-description">
        {{ content.field_description }} {# lien section histoire #}
      </p>
    </div>
  </div>
  <div class="blogList-homepage">
    {{ drupal_view('featured_articles', 'block_2') }}
  </div>
  <div class="blogList-footer">
    <div class="container">
      {{ content.field_cta }}
    </div>
  </div>
{% endblock paragraph %}
