{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'container',
  'gap-y',
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="row justify-content-center">
        <div class="col-8">
          <h2 class="text-center mb-4">{{ content.field_title }}</h2>
          <div class="videoYoutube">
            <div class="videoYoutube-container">
              <div class="videoYoutube-player" id="videoYoutube" data-playerID="{{ content.field_id_youtube[0]['#context']['value'] }}"></div>
              <button class="videoYoutube-controls js-videoYoutube-controls on-poster"><span class="mask">Play video</span></button>
              <div class="videoYoutube-poster">{{ content.field_overlay }}</div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
