{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content.field_cta }}
      {{ content.field_rte_lite }}
      {% for i in content.field_test_list['#items']|keys %}
        {{ content.field_test_list[i] }}
      {% endfor %}
    {% endblock %}
  </div>
{% endblock paragraph %}
