{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'bg-themeSecondary',
  'triangleBorder-top',
  'triangleBorder-bottom',
  'animation-quote'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }} data-animate='{"threshold": 0.5}'>
    <div class="container">
    {% block content %}
    <div class="row justify-content-center">
      <blockquote class="col-12 col-md-8 --withBg">
        <div class="animation-quote-text">{{ content.field_text }}</div>
        <cite>{{ content.field_author }}</cite>
      </blockquote>
    </div>
    {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
