/* -------------------------------------------------------------------------- *\
  # MAIN LAYOUT
\* -------------------------------------------------------------------------- */

// | Layout
//
// Grid system and global styles for site structure:
// --> body, header, footer, globalWrapper, mainContainer
//
// Styleguide Layout

html {
  overflow-x: hidden;
}

body {
  @include font(base, light);
  font-size: rem($body-font-size);
  line-height: unitless-line-height(16px, 25px);
  color: var(--theme);
  background-color: var(--white);
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}
