<div id="offres-prestataires-module">
    {% if data %}
        <div class="listing">
            {% for offre in data %}
                <div class="offer">
                    <div class="offer-infos">
                                <span class="offer-title">
                                    <i>{{ offre.title }}</i>
                                </span>
                        <span class="offer-location">
                                    <i>{{ offre.region }}</i>
                                </span>
                    </div>
                    <div class="offer-link">
                        {% if (type == "terrain") %}
                            {% set offerPath = 'offresPrestataires.contentTerrain' %}
                        {% else %}
                            {% set offerPath = 'offresPrestataires.content' %}
                        {% endif %}
                        <a href="{{ path(offerPath, {ref: offre.id}) }}">Voir le détail de l'offre</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div id="alerte-offres-prestataires">
            Il n'existe aucune offre pour le moment.
        </div>
    {% endif %}
</div>
