.ImageAnimationWpr {
  background-color: var(--sail-color);

  img {
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
    animation-fill-mode: forwards;
    transition: clip-path 0.8s;
  }

  &.is-animate img {
    clip-path: polygon(-1% -1%, -1% 101%, 101% 101%, 101% -1%);
  }
}
