<article{{ attributes }}>
  {{ content.field_paragraph_main_visual }}
  <div class="Rte-wrp">
    <div class="Section Rte">
      <div class="Section-inner">
        <div class="Rte-content">
          <h1 class="Rte-title">{{ label }}</h1>
          {{ content.body }}
        </div>
      </div>
    </div>
  </div>
</article>
