<div id="contact">
    <div class="row text-center">
        <div class="col-12">
            {{ content.field_contact_img }}
        </div>
        <div class="col-12">
            {{ content.field_contact_txt }}
        </div>
        <div class="col-12">
            {{ content.field_contact_form }}
        </div>
    </div>
</div>