<div id="newsletter-page">
    {{ content.field_newsletter_img }}

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12">
                {{ content.field_module_newsletter }}
            </div>
        </div>
    </div>
</div>