<div id="newsletter-page" class="container-fluid p-0">
    <div class="row text-center no-gutters">
        <div class="col-12">
            {{ content.field_newsletter_img }}
        </div>
        <div class="col-12">
            {{ content.field_module_newsletter }}
        </div>
    </div>
</div>