<div class="row justify-content-center">
    <div class="col">
        <div class="newsletter-wrapper">
            {#Ajouter les autres fields si tu en met d'autres#}
            {{ content.field_block_newsletter }}
        </div>
    </div>
</div>