<div id="candidature-spontanee">
    <div class="full-width-bg">
        <div class="imgs-bg">
            <div style="background: url({{ content.field_candidature_img_bg.0 }}) no-repeat center transparent"></div>
        </div>
        <div class="container block-text">
            <div class="row">
                <div class="col-12 col-sm-8">
                    <h1>{{ content.field_candidature_txt_1 }}</h1>
                    <div class="txt">{{ content.field_candidature_txt_2 }}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="webform-submission-candidature-spontanee-add-form">
        {{ content.field_webform }}
    </div>
</div>