<!-- HEADER -->
{% include directory ~ '/partials/header.html.twig' %}

<!-- PAGE CONTENT -->
<div class="container-fluid">
    {% if page.content %}
        <div class="row">
            <div class="col">
                {% if page.highlighted %}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                {{ page.highlighted }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {{ page.content }}
            </div>
        </div>
    {% endif %}
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Footer -->
                {% if page.footer %}
                    {{ page.footer }}
                {% endif %}
            </div>
        </div>
    </div>
</footer>

<div class="post-footer">
    {{ page.txtfooter }}
</div>