<!-- PRESTATIONS -->
<div class="header-wrapper" style="background: url(/sites/tsi/themes/tsi/images/prestations/presta-ban.jpg) no-repeat center / cover transparent">
    <!-- Header -->
    {% include directory ~ '/partials/header.html.twig' %}
    {{ page.mainban }}
</div>

{% include directory ~ '/partials/page-content.html.twig' %}