#page-catalogues .pdf-list {
  display: flex;
  margin: 2.6rem 0;
  flex-wrap: wrap;
}
#page-catalogues .pdf-list .pdf-item {
  width: 33%;
  margin: 34px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 990px) {
  #page-catalogues .pdf-list .pdf-item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #page-catalogues .pdf-list .pdf-item {
    width: 100%;
  }
}
#page-catalogues .pdf-list .pdf-item .dl-pdf {
  display: block;
  position: relative;
  width: 100%;
}
#page-catalogues .pdf-list .pdf-item .dl-pdf .book {
  position: relative;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 15px #0000004D;
}
#page-catalogues .pdf-list .pdf-item .dl-pdf .book img {
  max-width: 100%;
  height: auto;
}
#page-catalogues .pdf-list .pdf-item .dl-pdf .book::before {
  content: '';
  background: url("../images/picto-pdf.svg") no-repeat center transparent;
  position: absolute;
  display: block;
  height: 41px;
  width: 27px;
  top: -20px;
  right: -13px;
}
#page-catalogues .pdf-list .pdf-item .dl-pdf .book:after {
  display: block;
  background: white 0% 0% no-repeat padding-box;
  content: "";
  width: 7px;
  height: 100%;
  position: absolute;
  right: -7px;
  top: 0;
  z-index: -1;
  border: 2px solid #707070;
  border-left: none;
}
