{#% include directory ~ '/templates/helper-grid/helper-grid.html.twig' %#}

<header class="header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        {{ page.header }}
      </div>
    </div>
  </div>
</header>
<main class="main">
    {{ page.content }}
</main>
<footer class="footer">
  <div class="container">
    {{ page.footer }}
  </div>
</footer>
