.sliderBackstage {
  padding-top: rem(20px);

  @include mq($from: md) {
    background: url('../assets/brush-bg-slider.png') no-repeat top center;
  }

  &-inner {
    width: 80%;
    margin-top: rem(25px);
    transition: width .25s ease-in-out, margin-top .25s ease-in-out;

    @include mq($from: sm) {
      margin-top: rem(35px);
    }

    @include mq($from: lg) {
      margin-top: rem(40px);
    }

    @include mq($from: xl) {
      margin-top: rem(55px);
    }

    [class*=prev] & {
      @include mq($from: md) {
        margin-left: rem(-25px);
      }

      @include mq($from: xl) {
        margin-left: rem(-35px);
      }
    }

    [class*=next] & {
      @include mq($from: md) {
        margin-right: rem(-25px);
      }

      @include mq($from: xl) {
        margin-right: rem(-35px);
      }
    }

    &-step {
      @include font(base, bold);
      font-size: rem(12px);
      text-transform: uppercase;
      color: $white;
      margin: rem(30px) 0 rem(5px);
    }

    &-title {
      @include font(variant, italic);
      font-size: rem(20px);
      color: $white;
    }

    .is-active.slider-slide-visible & {
      width: 100%;
      margin-top: 0;
    }

    &-step,
    &-title {
      opacity: 0;
      transition: opacity .15s ease-in;

      .is-active.slider-slide-visible & {
        opacity: 1;
      }
    }
  }

  #slider-infos {
    color: $white;
    margin: 0 rem(25px);
  }

  .slider {
    &-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: rem(40px);
    }

    &-btnPrev,
    &-btnNext {
      margin: 0 rem(10px);
      background-color: $white;

      svg {
        fill: $theme;
      }
    }

    &-slide {
      justify-content: center;
      text-align: center;
    }
  }
}
