.sliderBackstage {
  @include mq($from: md) {
    overflow: visible;
  }

  &-inner {
    margin: rem(160px) auto 0;

    .is-active.slider-slide-visible & {
      margin-top: 0;
      // transition: max-width .25s ease-in, margin-top .25s ease-in;
    }

    @include mq($from: md) {
      max-width: rem(390px);

      .is-active.slider-slide-visible & {
        max-width: rem(460px);
      }
    }

    @include mq($from: xl) {
      max-width: rem(215px);

      .is-active.slider-slide-visible & {
        max-width: rem(445px);
      }
    }

    &-title {
      @include font(variant, regular);
      font-size: rem(50px);
      color: $white;
      margin: rem(20px) 0 rem(10px);
    }

    &-desc {
      font-size: rem(16px);
      color: $white;
    }

    // &-title,
    // &-desc {
    //   opacity: 0;
    //   transition: opacity .15s ease-in;

    //   .is-active.slider-slide-visible & {
    //     opacity: 1;
    //   }
    // }
  }

  .slider {
    &-nav {
      display: flex;
      justify-content: center;
      transform: translateY(50%);
    }

    &-btnPrev,
    &-btnNext {
      margin: 0 rem(10px);
      width: rem(80px);
      height: rem(80px);
    }

    &-slide {
      margin-right: rem(20px);
    }
  }
}
