/* -------------------------------------------------------------------------- *\
  # SLIDER
\* -------------------------------------------------------------------------- */

.slider {
  width: 100%;
  overflow: visible;

  @include mq($from: md) {
    overflow: hidden;
  }

  &.--noFit {
    overflow: hidden;
  }

  &.--noPagination-md {
    @include mq($from: md) {
      .slider-pagination {
        display: none;
      }
    }
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-slide {
    flex-shrink: 0;
    align-self: stretch;
    display: flex;
    touch-action: pan-y;
    opacity: 0 !important;
  }

  &-btnNext,
  &-btnPrev {
    border-radius: 50%;
    width: rem(50px);
    height: rem(50px);
    background-color: $theme-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-btnPrev {
    margin-bottom: rem(10px);
  }

  &-pagination {
    display: flex;
    justify-content: center;
    margin-top: rem(30px);
  }

  &-bullet {
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $white;
    width: rem(10px);
    height: rem(10px);
    margin: 0 rem(4px);
    transition: background-color ease-in .2s;
    cursor: pointer;

    &.is-active {
      background-color: $white;
    }
  }

  &-scrollbar {
    @include mq($from: md) {
      position: relative;
      height: em(2px);
      width: 99%;
      background-color: $theme-secondary;
      border-radius: em(10px);
      margin: rem(40px) auto 0;

      &::before,
      &::after {
        position: absolute;
        display: block;
        content: '';
        height: rem(40px);
        width: 100%;
        background: transparent;
      }

      &::before {
        top: 0;
        transform: translateY(-100%);
      }

      &::after {
        bottom: 0;
        transform: translateY(100%);
      }

      &:hover {
        cursor: grab;
      }
    }

    &-drag {
      position: relative;
      height: 100%;
      background-color: $black;
      border-radius: em(10px);

      &::before {
        position: absolute;
        top: em(-5px);
        right: 0;
        bottom: em(-5px);
        left: 0;
        display: block;
        content: '';
      }
    }

    @include mq($from: md) {
      display: none;
    }
  }
}

