/* -------------------------------------------------------------------------- *\
  # TOP BANNER PAGE
\* -------------------------------------------------------------------------- */

.topBanner {
  @include aspect-ratio(500px, 680px, '.topBanner-ratio');
  position: relative;

  @include mq($from: sm) {
    @include aspect-ratio(1440px, 555px, '.topBanner-ratio');
  }

  &::after {
    content: "";
    background: url('../assets/brush.png') no-repeat left bottom;
    background-size: 200%;
    background-position-x: center;
    background-repeat: no-repeat;
    height: percentage(calc(70 / 680));
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    @include mq($from: sm) {
      height: percentage(calc(70 / 555));
      background-size: cover;
    }
  }

  &-text {
    @include center-v;
    left: rem(30px);
    right: rem(30px);
    color: $white;
    text-align: center;

    @include mq($from: sm) {
      margin-top: rem(-40px);
    }

    &-title {
      color: $white;
      @include fluid-type(rem($vw-min), rem(map-get($mq-breakpoints, "xl")), rem(40px), rem(60px));
    }

    &-subTitle {
      @include font(variant, italic);
      margin: 0;
      @include fluid-type(rem($vw-min), rem(map-get($mq-breakpoints, "xl")), rem(30px), rem(50px));
    }
  }

  &-img {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &-paralax1 {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    z-index: $zindex-nav;

    @include mq($from: md) {
      transform: translate(-50%, 60%);
    }

    @include mq($from: lg) {
      transform: translate(-50%, 50%);
    }
  }

  &-paralax2 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(120%, -50%);
    z-index: $zindex-popin;

    @include mq($until: md) {
      display: none;
    }

    @include mq($from: md) {
      transform: translate(200%, -5%);
    }

    @include mq($from: xl) {
      transform: translate(120%, -15%);
    }
  }
}
